<div class="title">
    <h1>麦当劳携手“票易通” 加强财税管控力度</h1>
    <p class="time">2017-01-09 15:43:02   |  来源： 中华网 </p>
</div>
<p class="text">
    据悉，麦当劳（中国）已正式引入增值税管理及供应链协同平台 —— 票易通，双方合作的建立不仅符合麦当劳“现代化、锐意进取”的经营理念，也是对票易通在增值税发票管理领域的实力认可。
</p>

<h2></h2>
<p class="text">
    自2016年5月1日起，我国全面推开营业税改征增值税试点。该制度的推开最直接的影响是财务审核结构的变化，并且引起了发票的改革，许多企业虽然得益于新政减少了税负，但是新的问题也随之而来，其财务结构、企业管理结构等都需要根据新政及时作出相应的调整。</p>

<h2></h2>
<p class="text">
    在这样的大环境下，作为全球零售食品服务业龙头 ——麦当劳，率先响应国家营改增制度改革，随着中国经济的快速推进，现如今在华员工人数超过了100,000名，服务超过10亿人次的顾客，面对此次改革，巨大的业务量背后也面临着巨大的挑战。
</p>

<h2></h2>
<p class="text">
    票易通的特点在于能够为企业减负，在上游和下游形成了一个环环相扣的链条，加强企业税务管理，通过平台实现做进项、集中认证等功能，降低企业税务风险，提高工作效率，因此票易通自然成为了麦当劳（中国）的不二选择。
</p>

<h2></h2>
<p class="text">
    此次携手，为双方实现了“共创双赢”的良好局面，将成为我国正式进入营改增时代后的一次优秀的合作典范，也对推进我国经济结构调整和提高国家综合实力具有重要意义。
</p>

