<div class="title">
    <h1>票易通获政府技术创新项目支持</h1>
    <p class="time"> 2017-07-26  |  来源： 上海电视台 </p>
</div>
<p class="text">
    近日，行业领先的供应链信息协同及增值税发票管理平台——票易通，经上海市宝山区科技主管部门推荐、“创业在上海”国际创新创业大赛市赛评选，入选上海市2017年度“科技企业创新能力提升计划”，以表彰其在科技创新的突出表现。
    <br/><br/>
　　在上海电视台对票易通的专访中，COO白洋表示：“票易通帮助客户实现了三个方面的提升：一是控制风险，二是控制成本，三是提升效率。”票易通平台的核心优势，在于通过自动化处理大幅降低运营成本，并构建集团统一的财税管理体系，实现财务战略决策支持和风险管控。
    <br/><br/>
　　据悉，票易通目前已与包括阿里巴巴、万科、宝钢、麦当劳、红星美凯龙等在内的2万家中心客户、15万家供应商达成合作，并取得了广泛的认可。为了给客户提供最优质先进的服务，票易通坚持追求技术创新，取得多项技术专利，也获得了ISO9001、ISO20000国际认证；此外，票易通与交通大学成立了联合实验室，进行模拟神经网络、深度学习、图像识别的深入研究，不断探索人工智能在商业应用的潜力与可能性。
    <br/><br/>
　　票易通现已成为企业服务平台行业的中坚力量，它的快速崛起归功于其不断突破的创新精神和客户至上的服务理念。未来，票易通将坚持自主研发的发展方向，建设更具核心竞争力的财税管理服务平台。
</p>


