<div class="title">
    <h1>重磅 | 又减税啦！2019 年起，小微企业可减税 2000 亿元</h1>
    <p class="time">原创： 票易通  票易通  2019-01-17</p>
</div>
<div class="imgBox">
    <img src="./newsimg/type300.webp"/>
</div>
<p class="text">
    据中国政府网消息，国务院 1 月 9 日召开国务院常务会议，决定再推出一批针对小微企业的普惠性减税措施。
    <br/><br/>
    会议决定，对小微企业推出一批新的普惠性减税措施：
    <br/><br/>
    一是大幅放宽可享受企业所得税优惠的小型微利企业标准，同时加大所得税优惠力度。对小型微利企业年应纳税所得额不超过 100 万元、100 万元到 300 万元的部分，分别减按 25%、50% 计入应纳税所得额，使税负降至 5% 和 10%。调整后优惠政策将覆盖 95% 以上的纳税企业，其中98%为民营企业。
    <br/><br/>
    二是对主要包括小微企业、个体工商户和其他个人的小规模纳税人，将增值税起征点由月销售额 3 万元提高到 10 万元。
    <br/><br/>
    三是允许各省（区、市）政府对增值税小规模纳税人，在 50% 幅度内减征资源税、城市维护建设税、印花税、城镇土地使用税、耕地占用税等地方税种及教育费附加、地方教育附加。
    <br/><br/>
    四是扩展投资初创科技型企业享受优惠政策的范围，使投向这类企业的创投企业和天使投资个人有更多税收优惠。
    <br/><br/>
    五是为弥补因大规模减税降费形成的地方财力缺口，中央财政将加大对地方一般性转移支付。上述减税政策可追溯至今年 1 月 1 日，实施期限暂定三年，预计每年可再为小微企业减负约 2000 亿元。
    <br/><br/>
    国务院近年间提出了多项面向小微企业的普惠性政策和重要指示，我们一起来回顾一下：
    <br/><br/>
    2018
    <br/>
    今年要确保小微企业融资成本降下来！	统一增值税小规模纳税人标准；设立国家融资担保基金。
    <br/>
    详文：http://s.yipiaoyun.com/24t
    <br/><br/>
    2017
    <br/>
    李总理对全国小微企业金融服务电视电话会议作出重要批示强调：打通金融活水流向小微企业的「最后一公里」。
    <br/>
    详文：http://s.yipiaoyun.com/24u
    <br/><br/>
    2016
    <br/>
    李总理再提「三个不低于」送小微企业融资定心丸：确保小微企业贷款增速不低于各项贷款平均增速、贷款户数不低于上年同期户数、申贷获得率不低于上年同期水平。
    <br/>
    详文：http://s.yipiaoyun.com/24v
    <br/><br/>
    2015
    <br/>
    扩大减半征收企业所得税小微企业范围，一是依法将减半征收企业所得税的小微企业范围，由年应纳税所得额 20 万元以内（含 20 万元）扩大到 30 万元以内（含 30 万元）。二是将月销售额 2 万元至 3 万元的小微企业、个体工商户和其他个人免征增值税、营业税的优惠政策执行期限，由今年底延长至 2017 年底。
    <br/>
    详文：http://s.yipiaoyun.com/250
    <br/><br/>
    进一步减税降费支持小微企业发展和创业创新。一是将享受减半征收企业所得税优惠政策的小微企业范围，二是将非货币性资产进行投资的实际收益，由一次性纳税改为分期纳税的优惠政策推广到全国。三是将失业保险费率由现行条例规定的  3% 统一降至 2%。
    <br/>
    详文：http://s.yipiaoyun.com/251
    <br/><br/>
    2014
    <br/>
    李总理主持国务院常务会议，小微企业免征费扩至 42 项。
    <br/>
    详文：http://s.yipiaoyun.com/253
    <br/><br/>
    较大幅度提高小微企业所得税优惠。出将小微企业减半征收企业所得税优惠政策实施范围的上限，由年应纳税所得额 6 万元进一步较大幅度提高。
    <br/>
    详文：http://s.yipiaoyun.com/252
    <br/><br/>
    2013
    <br/>
    对小微企业中月销售额不超过 2 万元的增值税小规模纳税人和营业税纳税人，暂免征收增值税和营业税。
    <br/>
    详文：http://s.yipiaoyun.com/254
</p>