<div class="title">
    <h1>票易通中标华润 —— 云砺未赢够！</h1>
    <p class="time">原创： 票易通  票易通  2018-09-14</p>
</div>
<div class="imgBox">
    <img src="./newsimg/type230.webp"/>
</div>
<p class="text">
    国资委经营业绩考核A级企业——华润集团宣布，在经过长期、缜密的商务考察和细致的综合研判后，将选择票易通作为其全集团的增值税发票管理服务提供商。届时票易通也将联合旗下地产行业平台喜盈佳，从“发票数字化”与“财税数字化”的角度，为华润集团提供全方位的税务数字化升级服务，帮助华润集团及其供应链上每一个参与者，享受数字化便捷，创造更大的价值。
    <br/><br/>
    作为世界500强排名86、国企500强中排名17，同时还是国有重点骨干企业之一的华润集团，自1999年列为中央直属管理企业、2003年列为国务院国资委直接监管企业后，经过两次“再造华润”，奠定了目前的业务格局和经营规模。集团主营业务涉及大消费（零售、啤酒、食品、饮料）、电力、地产、水泥、燃气、大健康（医药、医疗）、金融等。集团下设7大战略业务单元、18家一级利润中心，实体企业1987家，在职员工42万人。直属企业中有6家在港上市，其中华润电力、华润置地位列香港恒生指数成份股。目前，华润零售、啤酒、燃气的经营规模在行业首屈一指。电力、水泥业务的经营业绩、经营效率在行业中表现突出。华润置地是中国内地最具实力的综合地产开发商之一。医药销售规模在全国位居前列。雪花啤酒、怡宝水、华润万家、万象城、999、双鹤、东阿阿胶等是享誉全国的著名品牌。
</p>
<div class="imgBox">
    <img src="./newsimg/type231.webp"/>
</div>
<p class="text">
    同时，票易通能在友商云集、竞争激烈的竞标过程中里，最终赢得华润的选择。不仅表现了票易通自身产品和服务团队能力“双过硬”，更显示出市场尤其是客户对票易通长期坚持“以客户为本”，以及对其在市场表现的的充分信任与肯定。
    <br/><br/>
    中标华润、在大型央企客户中再下一城，也意味着票易通在服务大型、尤其是特大型国有企业的综合能力上已经站在整个行业的前沿。这次华润携手票易通，对全国尤其是华南地区的客户群来说，有着重大而深远的借鉴，同时也极大增强了票易通对包括和华润集团在内的大型国有企业在未来全面合作的信心。
    <br/><br/>
    上海云砺信息科技有限公司成立于2015年6月，是专业的供应链协同及发票管理SaaS解决方案提供商，为众多大型企业提供基于互联网和云创新的软件服务。自主开发的“票易通平台”，综合运用人工智能、深度学习等顶尖IT技术，帮助企业顺利完成“营改增”过渡，税降利增，释放资本活力，保证财务安全，已获得众多五百强的认可。
    <br/><br/>
    核心团队来自宝信、埃森哲、BAT、华为等企业，在企业服务软件、云计算、AI领域有着丰富的经验和创新力。公司总部位于上海，在北京、深圳、杭州、沈阳（筹建中）、武汉（筹建中）均设有分公司。
</p>