<div class="title">
    <h1>票易通携手大润发，加速零售行业智慧财税进程</h1>
    <p class="time">票易通  2018-09-07</p>
</div>
<div class="imgBox">
    <img src="./newsimg/type240.webp"/>
</div>
<p class="text">
    根据2017年由中国连锁经营协会发布的2016年中国快速消费品连锁百强榜单显示，大润发以932亿的年销售额列位连锁百强第二名，如果算上单店平均销售额，大润发以2.5亿的业绩，超越所有对手。但零售行业竞争异常激烈，像大润发这样的大型本土企业在应对对不同城市的发展差异及市场变化的问题时，依旧面临着提升自身运营能力的难题。
    <br/><br/>
    零售行业的特殊性，决定了每一个零售企业在处理其财税业务时，都将遇到不小的挑战。这种挑战伴随着国家税改的不断深化、金税三期工程与营改增政策的全面推行，对包括大润发在内的每一个零售企业都提出了更高的要求。首当其冲的，就是如何解决开票流程繁琐、效率低下等问题。票易通抓住了大润发对其体系内POS机整体更新换代的时机，将开票系统与大润发自有的ERP平台对接，为其打造了一套更高效的纸质发票流程。</p>
<div class="imgBox">
    <img src="./newsimg/type241.webp"/>
</div>
<p class="text">
    在执行此次升级改造项目的过程中，票易通的项目人员与大润发的工作人员始终保持着紧密沟通。在项目实施过程中发现了电子发票的需求日益渐增由于电子发票在整个社会尤其是终端消费者中的快速普及，大润发此前采用的业务系统和税控系统分离、全部使用人工来完成发票开具从导入到导出在内的步骤，已经逐渐跟不上消费者的需求。不仅顾客需要在服务台前排长队等待开票、造成购物感受下降之外，大润发的开票工作人员也面临极大的工作压力，开票的错误率也一直困扰着一线工作人员。考虑到每个门店至少要有一个专门负责开票的员工，这些困难都被放大。
    <br/><br/>
    在这种形势下，票易通向大润发提出了电子发票的解决方案，并在华东地区门店进行部署、实施。经过一段时间试水后，大润发方面惊喜地发现，相对其传统开票方式而言，票易通提供的扫码开票方式，极大地提高了开票的速度和准确率，使整个流程的时间压缩了80%以上。与此同时，票易通还根据大润发开票并发量大的特点，推荐使用了专门的开票服务器。相对传统单机税盘的局限性，票易通推荐的开票服务器可以达到1500张每分钟，在提高了处理能力的同时，还极大地提高整个系统的稳定性。下一步票易通将配合大润发，将电子发票在短期内部署到旗下700多家门店内，从整体上帮助客户提升服务档次和竞争力。
</p>
<div class="imgBox">
    <img src="./newsimg/type242.webp"/>
</div>
<p class="text">
    在电子发票方案部署的同时，票易通还从客户角度出发，帮助大润发做进项发票的整体改进工作。此前，大润发在华东区域拥有接近200个门店，每月3次和总部对账、开票以及认证工作，都是总部统一完成。总部的操作人员每次都需要分别登录近200个门店的系统，来完成认证工作。单是这一项任务就需要耗费8小时以上的工作时间。无论从工作量还是准确性上，财务人员都承担着巨大的压力。
    <br/><br/>
    针对这种情况，票易通推出了独有的底账服务器模式，将近200家门店的发票认证统一在一个界面下完成。工作人员只需要登录一次，即可对所有门店需要认证的发票进行勾选。同时，将扫描+系统自动验真工作部署在人工审核之前。由于验真完成后的发票基本可以确保99%以上的正确率，人工审核的压力得以极大地降低，明显加速了从进项的发票扫描到认证的全业务流工作效率。
</p>
<div class="imgBox">
    <img src="./newsimg/type243.webp"/>
</div>
<p class="text">
    在不到6个月的时间里，大润发完成了从销项到进项、纸票升级到电票开具、传统扫描认证到一键式勾选认证的全方位企业财税体系升级。其之所以能够在短时间内迅速完成转型，正是因为选择了票易通，从而大大地提升了企业内相关模块的业务效率和抗风险能力。
</p>
<div class="imgBox">
    <img src="./newsimg/type244.webp"/>
</div>