<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>关于票易通</title>
  <!-- <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"> -->
  <meta name="viewport" content="width=1220">
  <meta name="viewport" content="width=1220">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
  <link rel="stylesheet" type="text/css" href="./css/styleset.css">
  <link rel="stylesheet" type="text/css" href="./css/slick.css">
  <link rel="stylesheet" type="text/css" href="./css/slick-theme.css">
  <script type="text/javascript" src="./js/jquery.js"></script>
  <script type="text/javascript" src="./js/jquery.menu-aim.js"></script>
  <script type="text/javascript" src="./js/slick.min.js"></script>
  <script type="text/javascript" src="./js/TweenMax.js"></script>
  <script type="text/javascript" src="./js/header.js"></script>
  <script type="text/javascript" src="./js/about.js"></script>
</head>
<body>
<div class="header">
    <div class="bannerTop">
        <div class="bannerImg bannerBox_5">
            <img src="./img/imgBanner_5.jpg"/>
            <div class="title">
                客户同心　奋斗同行<br/>
                言出必果　持续归零<br/>
                分享共赢
            </div>
        </div>
    </div>
    <div class="companyInfo">
        <div class="text">
            <span class="koukou"><a href="tencent://message/?Menu=yes&uin=938074808&Service=58&SigT=03EDD2C1C174C9F0909501F5AF1EA8D33265A94451EF83DBF251DF110B5BFB17B3DB4046CB3A393E9110DFB0B958C959F178DEBABC13B3AE02A8AAA71F49309E17ED7028C30E5BA52A43E490DBD94C1449BD801B657A9A4D9E71415A1D43FD716CE0B115A3096CEE52B2F4DF4CDADA7E5F827CF9CE1EA478&SigU=FF4C978AD6E3E14A7CFFD1EB1888F75C8AA1A1A3D23982F33D6D416E77E2AD4FB60C4B1283B8D3EEABD5E786E6900C19E9359602556AFCAAF3AC6985B468E9493703599654D6DBFB">商务QQ：4006304000</a></span>
            <i>|</i>
            <span class="weixin">
                微信公众号
                <img class="codeImg" src="./img/imgCode.png"/>
            </span>
        </div>
        <div class="loginBox">
            <a target="_blank" href="https://www.xforceplus.com/imsc/login.jsp">登录票易通</a>
            <!-- <i>|</i>
            <a href="#">注册</a> -->
        </div>
    </div>
    <div class="indexNav">
        <div class="logo"><a href="/"><img alt="票易通" src="./img/pyt_logo.png"/></a></div>
        <ul class="navBox">
            <li>
                <a href="address.html">联系我们</a>
                <div class="across"></div>
                <div class="triangle"><img src="./img/imgTriangle.png"/></div>
                <div class="menuBox big" style="right: 0">
                    <a href="address.html#link_002">
                        <div class="menuIcon">
                            <img src="./img/icon/menuIcon_35.png"/>
                        </div>
                        <p class="menuText">票易通新媒体</p>
                        <div class="codeBox">
                            <div class="codeImg"><img src="./img/common/wechat.png"/></div>
                            <p class="codeText">官方微信</p>
                        </div>
                        <div class="codeBox">
                            <div class="codeImg"><img src="./img/common/weibo.png"></div>
                            <p class="codeText">官方微博</p>
                        </div>
                        <div class="line"></div>
                    </a>
                    <a href="address.html#link_001" style="width: 220px;">
                        <div class="menuIcon">
                            <img src="./img/icon/menuIcon_34.png"/>
                        </div>
                        <p class="menuText">联系方式</p>
                        <p class="text">
                            商务QQ:4006304000<br/>
                            技术支持:400-630-4000<br/>
                            商务联系:biz@xforceplus.com<br/>
                            市场合作:mrkt@xforceplus.com
                        </p>
                        <div class="line"></div>
                    </a>
                </div>
            </li>
            <li>
                <a href="join.html">加入我们</a>
                <div class="across"></div>
                <div class="triangle"><img src="./img/imgTriangle.png"/></div>
                <div class="menuBox small">
                    <a href="join.html#link_002">
                        <div class="menuIcon">
                            <img src="./img/icon/menuIcon_33.png"/>
                        </div>
                        <p class="menuText">招聘专页</p>
                        <div class="line"></div>
                    </a>
                    <a href="join.html#link_001">
                        <div class="menuIcon">
                            <img src="./img/icon/menuIcon_32.png"/>
                        </div>
                        <p class="menuText">核心团队</p>
                        <div class="line"></div>
                    </a>
                </div>
            </li>
            <li>|</li>
            <li class="on">
                <a href="about.html">关于票易通</a>
                <div class="across"></div>
                <div class="triangle"><img src="./img/imgTriangle.png"/></div>
                <div class="menuBox small">
                    <a href="about.html?type=0#link_003">
                        <div class="menuIcon">
                            <img src="./img/icon/menuIcon_31.png"/>
                        </div>
                        <p class="menuText">大事记</p>

                    </a>
                    <a href="about.html?type=1#link_003">
                        <div class="menuIcon">
                            <img src="./img/icon/menuIcon_30.png"/>
                        </div>
                        <p class="menuText">荣誉资质</p>
                        <div class="line"></div>
                    </a>
                    <a href="about.html#link_002">
                        <div class="menuIcon">
                            <img src="./img/icon/menuIcon_29.png"/>
                        </div>
                        <p class="menuText">企业文化</p>
                        <div class="line"></div>
                    </a>
                    <a href="about.html#link_001">
                        <div class="menuIcon">
                            <img src="./img/icon/menuIcon_28.png"/>
                        </div>
                        <p class="menuText">公司简介</p>
                        <div class="line"></div>
                    </a>
                </div>
            </li>
            <li>
                <a href="news.html">新闻中心</a>
                <div class="across"></div>
                <div class="triangle"><img src="./img/imgTriangle.png"/></div>
                <div class="menuBox small">
                    <a href="news.html?type=4">
                        <div class="menuIcon">
                            <img src="./img/icon/menuIcon_10.png"/>
                        </div>
                        <p class="menuText">媒体报道</p>
                        <div class="line"></div>
                    </a>
                    <a href="news.html?type=2">
                        <div class="menuIcon">
                            <img src="./img/icon/menuIcon_9.png"/>
                        </div>
                        <p class="menuText">市场动态</p>
                        <div class="line"></div>
                    </a>
                    <a href="news.html?type=1">
                        <div class="menuIcon">
                            <img src="./img/icon/menuIcon_8.png"/>
                        </div>
                        <p class="menuText">集团快讯</p>
                        <div class="line"></div>
                    </a>
                    <a href="news.html?type=0">
                        <div class="menuIcon">
                            <img src="./img/icon/menuIcon_7.png"/>
                        </div>
                        <p class="menuText">政策解读</p>
                    </a>
                </div>
            </li>
            <li>
                <a href="client.html">客户与案例展示</a>
                <div class="across"></div>
                <div class="triangle"><img src="./img/imgTriangle.png"/></div>
                <div class="menuBox small">
                    <a href="client.html#link_002">
                        <div class="menuIcon">
                            <img src="./img/icon/menuIcon_6.png"/>
                        </div>
                        <p class="menuText">案例展示</p>
                        <div class="line"></div>
                    </a>
                    <a href="client.html#link_001">
                        <div class="menuIcon">
                            <img src="./img/icon/menuIcon_5.png"/>
                        </div>
                        <p class="menuText">我们的客户</p>
                    </a>
                </div>
            </li>
            <li>
                <a href="product.html">产品与解决方案</a>
                <div class="across"></div>
                <div class="triangle"><img src="./img/imgTriangle.png"/></div>
                <div class="menuBox">
                    <a href="product.html#link_001">
                        <div class="menuIcon">
                            <img src="./img/icon/menuIcon_4.png"/>
                        </div>
                        <p class="menuText more">电子发票开具服务<br/>平台</p>
                        <div class="line"></div>
                    </a>
                    <a href="product.html#link_001">
                        <div class="menuIcon">
                            <img src="./img/icon/menuIcon_3.png"/>
                        </div>
                        <p class="menuText">增值税发票管理</p>
                        <div class="line"></div>
                    </a>
                    <a href="product.html#link_001">
                        <div class="menuIcon">
                            <img src="./img/icon/menuIcon_2.png"/>
                        </div>
                        <p class="menuText more">全国集中纳税申报<br/>及税务分析</p>
                        <div class="line"></div>
                    </a>
                    <a href="product.html#link_001">
                        <div class="menuIcon">
                            <img src="./img/icon/menuIcon_1.png"/>
                        </div>
                        <p class="menuText">供应链结算协同</p>
                    </a>
                </div>
            </li>
            <li>
                <a href="index.html">首页</a>
                <div class="across"></div>
            </li>
        </ul>
        <div class="line clear"></div>
    </div>
    <div class="headFooter">
        <ul class="newsBox">
            <li>
                <a href="detail.html?id=4">荣誉资质<i>|</i><span>「2018 爱分析·中国科技创新企业 100 强 」揭榜！票易通荣获第 19 名</span></a>
            </li>
            <li>
                <a href="detail.html?id=6">荣誉资质<i>|</i><span>票易通荣获 2018 年上海市宝山区大场镇优秀企业荣誉称号</span></a>
            </li>
            <li>
                <a href="detail.html?id=8">荣誉资质<i>|</i><span>第三届WRE零售数字化转型峰会落幕 票易通再获嘉奖</span></a>
            </li>
            <li>
                <a href="detail.html?id=10">荣誉资质<i>|</i><span>宝山区委书记汪泓一行莅临票易通，企业发展再获肯定</span></a>
            </li>
            <li>
                <a href="detail.html?id=9">荣誉资质<i>|</i><span>宝山区宣传部长赵懿考察云砺科技，助力民营企业发展</span></a>
            </li>
        </ul>
        <div class="subMenuBox">
            <ul class="subMenu">
                <li>
                    <div class="subIcon"><img src="./img/icon/menuIcon_11.png"/></div>
                    <h1>高效企业协同</h1>
                    <p>上下游协同税号<br/>190万 个</p>
                </li>
                <li>
                    <div class="subIcon"><img src="./img/icon/menuIcon_12.png"/></div>
                    <h1>深厚技术沉淀</h1>
                    <p>拥有多年大型集团财务共享中心系统设计、开发、实施、运维及项目管理经验</p>
                </li>
                <li style="width: 320px;">
                    <div class="subIcon"><img src="./img/icon/menuIcon_13.png"/></div>
                    <h1>行业经验丰富</h1>
                    <p>客户群包括130多位世界500强企业<br/>涵盖零售、餐饮、酒店、金融、互联网、钢铁、制造、汽车、医药等多个行业</p>
                </li>
                <li>
                    <div class="subIcon"><img src="./img/icon/menuIcon_14.png"/></div>
                    <h1>企业级客户服务</h1>
                    <p>提供专业、全面的企业级财税服务</p>
                </li>
            </ul>
            <div class="clear"></div>
        </div>
    </div>

</div>
<div class="main">
  <div class="contentBox bgBlack" style="padding-bottom: 30px;">
    <div class="contentTitle" id="link_001">
      关于票易通
      <div class="line"></div>
    </div>
    <div class="aboutDetail">
      <div class="aboutDetailBox">
        <div class="transfomBox">
          <div class="title">
            <div class="icon"><img src="./img/imgItem_5.png"/></div>
            <h1>公司简介</h1>
            <div class="line"></div>
          </div>
          <div class="infoBox">
            <p>上海云砺信息科技有限公司成立于2015年6月，专注于企业SaaS（云计算软件服务）领域行业解决方案的研发及应用，是专业的供应链信息协同及增值税发票管理云平台解决方案提供商，为众多大型企业提供基于互联网和云创新的软件、数据服务。</p>
            <a class="buttonAbout" href="#link_001">了解更多</a>
          </div>
        </div>
      </div>
      <div class="aboutDetailBox">
        <div class="transfomBox">
          <div class="title">
            <div class="icon"><img src="./img/imgItem_6.png"/></div>
            <h1>企业文化</h1>
            <div class="line"></div>
          </div>
          <div class="infoBox">
            <p>
              愿景：全球第一企业协同服务平台<br/>
              使命：为客户提供最有品质的企业服务<br/>
              价值观：客户同心  •  奋斗同行  •  言出必果  •  持续归零  •  分享共赢
            </p>
            <a class="buttonAbout" href="#link_002">了解更多</a>
          </div>
        </div>
      </div>
      <div class="aboutDetailBox">
        <div class="transfomBox">
          <div class="title">
            <div class="icon"><img src="./img/imgItem_7.png"/></div>
            <h1>荣誉资质</h1>
            <div class="line"></div>
          </div>
          <div class="infoBox">
            <div class="left">
              <h2>资质证书</h2>
              <p>技术创新与专利成果<br/>高新技术企业与双软认证</p>
            </div>
            <div class="right">
              <h2>荣誉证书</h2>
              <p>金砖五国创新创业大赛全球第三名<br/>最佳雇主品牌奖</p>
            </div>
            <div class="clear"></div>
            <a class="buttonAbout" href="?type=1#link_003">了解更多</a>
          </div>
        </div>
      </div>
      <div class="aboutDetailBox">
        <div class="transfomBox">
          <div class="title">
            <div class="icon"><img src="./img/imgItem_8.png"/></div>
            <h1>大事记</h1>
            <div class="line"></div>
          </div>
          <div class="infoBox">
            <p>
              票易通携手深圳沃尔玛，开具出首张区块链电子发票<br/>
              票易通代表中国创新科技企业出战南非，斩获创新创业大奖。搜狐网、中华网等多家媒体同时报道<br/>
              票易通集团助力万科成功开出全国首张增量房增值税电子发票<br/>
            </p>
            <a class="buttonAbout" href="?type=0#link_003">了解更多</a>
          </div>
        </div>
      </div>
      <div class="clear"></div>
    </div>
  </div>
  <div class="contentBox">
    <div class="contentTitle">
      投资机构
      <div class="line"></div>
    </div>
    <div class="myClientList" style="padding: 0;">
      <ul class="myClientDetail" style="display: block;">
        <li>
          <div class="logo"><img src="./img/logo/otherLogo_10.jpg"></div>
          <p class="title">高瓴资本集团</p>
        </li>
        <li>
          <div class="logo"><img src="./img/logo/otherLogo_11.jpg"></div>
          <p class="title">涌金集团</p>
        </li>
        <li>
          <div class="logo"><img src="./img/logo/otherLogo_13.jpg"></div>
          <p class="title">钟鼎创投</p>
        </li>
        <li>
          <div class="logo"><img src="./img/about/idglogo.jpg"></div>
          <p class="title">IDG资本</p>
        </li>
        <li>
          <div class="logo"><img src="./img/logo/otherLogo_12.jpg"></div>
          <p class="title">常春藤资本 (IVY Capital)</p>
        </li>
        <li>
          <div class="logo"><img src="./img/logo/otherLogo_14.jpg"></div>
          <p class="title">丹华资本</p>
        </li>
      </ul>
      <div class="clear"></div>
    </div>
    <!--<div class="companyList">
      <div class="item">
        <div class="transfomBox">
          <div class="title"><p>IDG资本</p></div>
          <div class="text"><p>作为最早进入中国市场的外资投资基金，IDG资本已成为中国风险投资行业的领先者，不仅向中国企业家们提供资金，并且在投资后提供一系列增值服务和支持。IDG资本重点关注互联网与高科技、文化旅游、新型消费与服务、医疗健康、工业技术等领域，选择投资于其产品或服务具有最大市场增长潜力的公司。IDG资本已经在中国投资了超过600家公司，包括腾讯、百度、搜狐、小米、携程、爱奇艺、美图、美团、周黑鸭、哔…哩哔哩、拼多多、康辉医疗、蔚来汽车等公司。</p></div>
        </div>
      </div>
      <div class="item">
        <div class="transfomBox">
          <div class="title"><p>高顿</p></div>
          <div class="text"><p>高顿是高顿教育集团旗下品牌，高顿财经隶属上海高顿教育培训有限公司。高顿联合政府部门、财经组织、商学院，引入包括ACCA、USCPA、CICPA、CMA、CFA、CIMA、FRM、会计职称等在内的财经职业资格认证。</p></div>
        </div>
      </div>
      <div class="item">
        <div class="transfomBox">
          <div class="title"><p>丹华资本</p></div>
          <div class="text"><p>丹华资本以斯坦福和硅谷为核心，丹华资本专注于投资美国最具颠覆性和影响力的科技成果和商业创新。关注的投资领域涵盖人工智能、虚拟/增强现实、大数据、区块链、企业级应用等具有颠覆性的新兴技术。</p></div>
        </div>
      </div>
      <div class="item">
        <div class="transfomBox">
          <div class="title"><p>钟鼎创投</p></div>
          <div class="text"><p>钟鼎创投成立于2009年，是一家兼具国际视野和本土经验的“精品基金”，专注于物流&供应链、电商O2O领域的投资，投资案例包括德邦物流、卡行天下、晨光文具、爱鲜蜂等行业知名企业。</p></div>
        </div>
       </div>
      <div class="item">
        <div class="transfomBox">
          <div class="title"><p>常春藤资本<br/>IVY Capital</p></div>
          <div class="text"><p>国内知名投资机构，旗下拥有多只股权投资基金，曾获PEAS年度最佳投资机构TOP10”、CVAwards2013年度“中国最具创新力综合性基金管理机构 Top10”、招商银行2012年度VC和PE托管合作伙伴规范运营排名第一、《21世纪经济报道》2011年度“最佳VC治理奖”等知名荣誉。</p></div>
        </div>
      </div>
      <div class="item">
        <div class="transfomBox">
          <div class="title"><p>涌金集团</p></div>
          <div class="text"><p>涌金集团是一家专注于金融服务产业、私募股权投资产业以及医药产业的综合型控股企业集团，旗下拥有国金证券、云南信托、涌铧投资、九芝堂股份等知名企业。</p></div>
        </div>
      </div>
      <div class="item">
        <div class="transfomBox">
          <div class="title"><p>高瓴资本集团</p></div>
          <div class="text"><p>高瓴是一家专注于长期结构性价值投资的公司。亚洲地区资产管理规模最大的投资基金之一。高瓴受托管理的资金主要来自于目光长远的全球性机构投资人，包括国家开发银行、财政部、全球顶尖大学的捐赠基金、主权财富基金、养老基金及家族基金等。 高瓴目前已经投资了消费与零售、科技创新、生命健康、金融科技、企业服务、先进制造等领域一大批国内外优秀企业，其中包括：百度、腾讯、京东、去哪儿、携程、Airbnb、Uber、美的、格力、中通快递、蓝月亮、滴滴出行、美团、蔚来汽车、孩子王、摩拜等。</p></div>
        </div>
      </div>
    </div>-->
    <div class="clear"></div>
  </div>
  <div class="contentBox bgImg_4">
    <div class="contentTitle colorWhite" id="link_002">
      企业文化
      <div class="line"></div>
      <p class="text">
        上海云砺信息科技有限公司成立于2015年6月，专注于企业SaaS（云计算软件服务）领域行业解决方案的研发及应用，<br/>
        是专业的供应链信息协同及增值税发票管理云平台解决方案提供商，<br/>
        为众多大型企业提供基于互联网和云创新的软件、数据服务。
      </p>
    </div>
    <div class="catchwordBox">
      <div class="item">
        <h1>愿景</h1>
        <p>全球第一企业协同服务平台</p>
      </div>
      <div class="item">
        <h1>使命</h1>
        <p>为客户提供最有品质的企业服务</p>
      </div>
      <div class="item">
        <h1>价值观</h1>
        <p class="highText">
          客户同心　•　奋斗同行<br/>
          言出必果　•　持续归零　•　分享共赢
        </p>
      </div>
    </div>
    <div class="cultureListBox">
      <div class="cultureList">
        <div class="item">
          <div class="transfomBox">
            <div class="imgBox"><img src="./img/about/birdimg0.jpg"/></div>
            <div class="infoBox">
              <h1>
                老大：客户同心<br/>
                小名：同心鸢（yuān）<br/>
                标签：外形实力俱佳，客户关系经理
              </h1>
              <p>
                票易通价值观家族里的老大，大家喜欢叫他“同心鸢”。作为客户关系经理的他，喜欢粘着客户，跟客户打交道，处处为他们着想，牢牢锁住客户，让客户信任他，与客户一条心做事。蓝色的羽翼代表沉重冷静，用来形容他再好不过了。              </p>
            </div>
            <div class="cultureBgColor"></div>
          </div>
        </div>
        <div class="item">
          <div class="transfomBox">
            <div class="imgBox"><img src="./img/about/birdimg1.jpg"/></div>
            <div class="infoBox">
              <h1>
                老二：奋斗同行<br/>
                小名：犀利鸽<br/>
                标签：腼腆敬业空军少
              </h1>
              <div class="line"></div>
              <p>
                虽然排行老二，但眼神犀利、性格坚毅、嗅觉灵敏，一旦闻到奋斗者的味道，就会飞到他们身边，庇佑他们一路勇往向前。深蓝的羽翼代表着坚毅。
              </p>
            </div>
            <div class="cultureBgColor"></div>
          </div>
        </div>
        <div class="item">
          <div class="transfomBox">
            <div class="imgBox"><img src="./img/about/birdimg2.jpg"/></div>
            <div class="infoBox">
              <h1>
                三妹：言出必果<br/>
                小名：碧鹒（gēng）果<br/>
                标签：笑容甜美小花旦
              </h1>
              <p>
                活泼可爱，性格外向，爱好讲话，但是却有着说出的话都能实现的神奇本领。黄色是她的代表色，行动干净利落，有始有终。
              </p>
            </div>
            <div class="cultureBgColor"></div>
          </div>
        </div>
        <div class="item">
          <div class="transfomBox">
            <div class="imgBox"><img src="./img/about/birdimg3.jpg"/></div>
            <div class="infoBox">
              <h1>
                老四：持续归零<br/>
                小名：归灵膏<br/>
                标签：校园学霸女博士
              </h1>
              <p>
                家中排行老四，专注研究，是兄弟姐妹中学习成绩最好的一位，但是不满足现状，还在努力冲刺博士后。拥有着不断清空自己的意识，谦卑的态度。橙色是她的代表色。
              </p>
            </div>
            <div class="cultureBgColor"></div>
          </div>
        </div>
        <div class="item">
          <div class="transfomBox">
            <div class="imgBox"><img src="./img/about/birdimg4.jpg"/></div>
            <div class="infoBox">
              <h1>
                小五：分享共赢<br/>
                小名：小鸿淑<br/>
                标签：魅力十足美妆博主
              </h1>
              <div class="line"></div>
              <p>
                是家中最小的妹妹，深受父母和哥哥姐姐疼爱。是一名美妆博主，粉丝破万，喜欢在小红书上分享自己的化妆经验，看到粉丝的成长会由衷的感到高兴。
              </p>
            </div>
            <div class="cultureBgColor"></div>
          </div>
        </div>
      </div>
      <div class="cultureListNextArrow"><img src="./img/imgArrowR.png"/></div>
      <div class="cultureListPrevArrow"><img src="./img/imgArrowL.png"/></div>
    </div>
    <div class="clear"></div>
    <div class="cultureListNav">
      <div class="item"><img src="./img/about/bird0.png"/></div>
      <div class="item"><img src="./img/about/bird1.png"/></div>
      <div class="item"><img src="./img/about/bird2.png"/></div>
      <div class="item"><img src="./img/about/bird3.png"/></div>
      <div class="item"><img src="./img/about/bird4.png"/></div>
    </div>
    <div class="clear"></div>
  </div>
  <div class="contentBox bgBlack" style="padding-bottom: 10px;">
    <div class="contentTitle" id="link_003">
      公司大事记
      <div class="line"></div>
    </div>
    <div class="incidentNav">
      <div class="tab on">发展里程碑</div>
      <div class="tab">荣誉及奖项</div>
      <div class="clear"></div>
    </div>
    <div class="incidentBox developBox">
      <div class="developTop">
        <div class="incidentLine"></div>
        <div class="item">
          <div class="developLine"></div>
          <div class="logoBox"><img src="./img/imgDevelopTab_1.png" /></div>
          <div class="textBox">
            <p class="time">2015年6月</p>
            <p class="text">上海云砺信息科技有限公司正式成立</p>
          </div>
        </div>
        <div class="item right">
          <div class="developLine"></div>
          <div class="logoBox"><img src="./img/imgDevelopTab_2.png" /></div>
          <div class="textBox">
            <p class="time">2016年5月</p>
            <p class="text">万科集团通过票易通平台，开出了全国第一张房地产业营改增增值税发票</p>
          </div>
        </div>
        <div class="item">
          <div class="developLine"></div>
          <div class="logoBox"><img src="./img/imgDevelopTab_3.png" /></div>
          <div class="textBox">
            <p class="time">2017年11月</p>
            <p class="text">企业财税服务平台 票易通 完成 A 轮融资</p>
          </div>
        </div>
        <div class="item right">
          <div class="developLine"></div>
          <div class="logoBox"><img src="./img/imgDevelopTab_1.png" /></div>
          <div class="textBox">
            <p class="time">2018年2月</p>
            <p class="text">票易通集团助力万科成功开出全国首张增量房增值税电子发票</p>
          </div>
        </div>
        <div class="item">
          <div class="developLine"></div>
          <div class="logoBox"><img src="./img/imgDevelopTab_2.png" /></div>
          <div class="textBox">
            <p class="time">2018年6月</p>
            <p class="text">票易通代表中国创新科技企业出战南非，斩获创新创业大奖。搜狐网、中华网等多家媒体同时报道</p>
          </div>
        </div>
        <div class="item right">
          <div class="developLine"></div>
          <div class="logoBox"><img src="./img/imgDevelopTab_1.png" /></div>
          <div class="textBox">
            <p class="time">2018年11月</p>
            <p class="text">票易通携手深圳沃尔玛，开具出首张区块链电子发票</p>
          </div>
        </div>
      </div>
      <div class="developBottom">
        <div class="developTitle">
          行业签约里程碑
          <div class="titleLine"></div>
        </div>
        <div class="incidentLine"></div>

        <div class="item">
          <div class="logoText"><p><span>2018</span><br/>年</p></div>
        </div>
        <div class="item">
          <div class="logoDot"></div>
          <div class="textBox">
            <p class="time">2018年10月</p>
            <p class="text">票易通携手高顿教育 开拓智慧财税战略合作新模式</p>
          </div>
        </div>
        <div class="item right">
          <div class="logoDot"></div>
          <div class="textBox">
            <p class="time">2018年10月</p>
            <p class="text">票易通助力中化国际，填补大型进出口贸易企业发票管理平台空白</p>
          </div>
        </div>
        <div class="item">
          <div class="logoDot"></div>
          <div class="textBox">
            <p class="time">2018年9月</p>
            <p class="text">票易通中标华润 —— 华润集团选择票易通作为其全集团的增值税发票管理服务提供商</p>
          </div>
        </div>
        <div class="item right">
          <div class="logoDot"></div>
          <div class="textBox">
            <p class="time">2018年9月</p>
            <p class="text">票易通携手大润发，加速零售行业智慧财税进程</p>
          </div>
        </div>
        <div class="item">
          <div class="logoDot"></div>
          <div class="textBox">
            <p class="time">2018年2月</p>
            <p class="text">青海省人民政府：携手票易通构建智慧税务新模式</p>
          </div>
        </div>

        <div class="item">
          <div class="logoText"><p><span>2017</span><br/>年</p></div>
        </div>
        <div class="item right">
          <div class="logoDot"></div>
          <div class="textBox">
            <p class="time">2017年8月</p>
            <p class="text">票易通携手赛默飞，打造生命科学领域管理新环境</p>
          </div>
        </div>
        <div class="item">
          <div class="logoDot"></div>
          <div class="textBox">
            <p class="time">2017年5月</p>
            <p class="text">票易通助推红星美凯龙1001战略</p>
          </div>
        </div>
        <div class="item right">
          <div class="logoDot"></div>
          <div class="textBox">
            <p class="time">2017年5月</p>
            <p class="text">票易通携手大食代，迎接智能财税新局面</p>
          </div>
        </div>
        <div class="item">
          <div class="logoDot"></div>
          <div class="textBox">
            <p class="time">2017年4月</p>
            <p class="text">锦江都城正式上线票易通系统 成功应对营改增转型</p>
          </div>
        </div>
        <div class="item right">
          <div class="logoDot"></div>
          <div class="textBox">
            <p class="time">2017年3月</p>
            <p class="text">卡乐星上线票易通系统，贯彻电子信息财务理念</p>
          </div>
        </div>
        <div class="item">
          <div class="logoDot"></div>
          <div class="textBox">
            <p class="time">2017年3月</p>
            <p class="text">票易通助力阳光保险实现财税一体化管理</p>
          </div>
        </div>
        <div class="item right">
          <div class="logoDot"></div>
          <div class="textBox">
            <p class="time">2017年3月</p>
            <p class="text">麦当劳“牵线”票易通助夏晖解决税务困扰</p>
          </div>
        </div>
        <div class="item">
          <div class="logoDot"></div>
          <div class="textBox">
            <p class="time">2017年3月</p>
            <p class="text">票易通助力金光纸业转型升级</p>
          </div>
        </div>
        <div class="item right">
          <div class="logoDot"></div>
          <div class="textBox">
            <p class="time">2017年2月</p>
            <p class="text">锦江财税系统升级 票易通是最佳选择</p>
          </div>
        </div>
        <div class="item">
          <div class="logoDot"></div>
          <div class="textBox">
            <p class="time">2017年2月</p>
            <p class="text">红星美凯龙联手票易通开创智能办税</p>
          </div>
        </div>
        <div class="item right">
          <div class="logoDot"></div>
          <div class="textBox">
            <p class="time">2017年1月</p>
            <p class="text">金地合作票易通共创互联网税务新型生态圈</p>
          </div>
        </div>

        <div class="item">
          <div class="logoText"><p><span>2016</span><br/>年</p></div>
        </div>
        <div class="item">
          <div class="logoDot"></div>
          <div class="textBox">
            <p class="time">2016年12月</p>
            <p class="text">阿里选择票易通，提升财税管理精度</p>
          </div>
        </div>
        <div class="item right">
          <div class="logoDot"></div>
          <div class="textBox">
            <p class="time">2016年12月</p>
            <p class="text">票易通与“麦”系再携手 助夏晖解决后顾之忧</p>
          </div>
        </div>
        <div class="item">
          <div class="logoDot"></div>
          <div class="textBox">
            <p class="time">2016年11月</p>
            <p class="text">锦江之星财税系统升级，票易通成最佳选择</p>
          </div>
        </div>
        <div class="item right">
          <div class="logoDot"></div>
          <div class="textBox">
            <p class="time">2016年11月</p>
            <p class="text">汉堡王力赞“票易通”，财税系统信息化成效显著</p>
          </div>
        </div>
        <div class="item">
          <div class="logoDot"></div>
          <div class="textBox">
            <p class="time">2016年11月</p>
            <p class="text">麦当劳联手云砺科技“票易通”，加强财税管控力度</p>
          </div>
        </div>
        <div class="item right">
          <div class="logoDot"></div>
          <div class="textBox">
            <p class="time">2016年11月</p>
            <p class="text">云砺科技“票易通”签约康帕斯——共创营改增后企业新局面</p>
          </div>
        </div>
      </div>
    </div>
    <div class="incidentBox honorBox">
      <div class="incidentLine"></div>
      <div class="item">
        <div class="logoBox"><img src="./img/imgDevelopTab_1.png" /></div>
        <div class="textBox">
          <p class="time">2019年1月</p>
          <p class="text">可信云认证</p>
        </div>
        <div class="photoLayer">
          <div class="triangle"></div>
          <img src="./img/index/zizhi.png"/>
        </div>
      </div>
      <!--2018年-->
      <div class="item right">
        <div class="logoBox"><img src="./img/imgDevelopTab_1.png" /></div>
        <div class="textBox">
          <p class="time">2018年12月</p>
          <p class="text">2018年度中国最佳人力资源团队奖</p>
        </div>
        <div class="photoLayer">
          <div class="triangle"></div>
          <img src="./img/pirze/imgPrize_1.jpg"/>
        </div>
      </div>
      <div class="item">
        <div class="logoBox"><img src="./img/imgDevelopTab_1.png" /></div>
        <div class="textBox">
          <p class="time">2018年12月</p>
          <p class="text">年度最佳服务平台解决方案提供商</p>
        </div>
        <div class="photoLayer">
          <div class="triangle"></div>
          <img src="./img/pirze/imgPrize_2.jpg"/>
        </div>
      </div>
      <div class="item right">
        <div class="logoBox"><img src="./img/imgDevelopTab_1.png" /></div>
        <div class="textBox">
          <p class="time">2018年11月</p>
          <p class="text">2018中国直通硅谷创新创业大赛总决赛企业组三等奖</p>
        </div>
        <div class="photoLayer">
          <div class="triangle"></div>
          <img src="./img/pirze/imgPrize_3.jpg"/>
        </div>
      </div>
      <div class="item">
        <div class="logoBox"><img src="./img/imgDevelopTab_1.png" /></div>
        <div class="textBox">
          <p class="time">2018年10月</p>
          <p class="text">票易通和红星美凯龙一同被授予最佳外包合作伙伴关系银奖</p>
        </div>
        <div class="photoLayer">
          <div class="triangle"></div>
          <img src="./img/pirze/imgPrize_5.jpg"/>
        </div>
      </div>
      <div class="item right">
        <div class="logoBox"><img src="./img/imgDevelopTab_1.png" /></div>
        <div class="textBox">
          <p class="time">2018年10月</p>
          <p class="text">宝山区产业互联网创新示范企业</p>
        </div>
        <div class="photoLayer">
          <div class="triangle"></div>
          <img src="./img/pirze/imgPrize_6.jpg"/>
        </div>
      </div>
      <div class="item">
        <div class="logoBox"><img src="./img/imgDevelopTab_1.png" /></div>
        <div class="textBox">
          <p class="time">2018年9月</p>
          <p class="text">2018爱分析·中国云计算创新企业榜第八名</p>
        </div>
        <div class="photoLayer">
          <div class="triangle"></div>
          <img src="./img/pirze/imgPrize_7.jpg"/>
        </div>
      </div>
      <div class="item right">
        <div class="logoBox"><img src="./img/imgDevelopTab_1.png" /></div>
        <div class="textBox">
          <p class="time">2018年8月</p>
          <p class="text">最佳雇主品牌奖</p>
        </div>
        <div class="photoLayer">
          <div class="triangle"></div>
          <img src="./img/pirze/imgPrize_8.jpg"/>
        </div>
      </div>
      <div class="item">
        <div class="logoBox"><img src="./img/imgDevelopTab_1.png" /></div>
        <div class="textBox">
          <p class="time">2018年7月</p>
          <p class="text">候选人体验大奖</p>
        </div>
        <div class="photoLayer">
          <div class="triangle"></div>
          <img src="./img/pirze/imgPrize_9.jpg"/>
        </div>
      </div>
      <div class="item right">
        <div class="logoBox"><img src="./img/imgDevelopTab_1.png" /></div>
        <div class="textBox">
          <p class="time">2018年6月</p>
          <p class="text">金砖五国创新创业大赛全球第三名</p>
        </div>
        <div class="photoLayer">
          <div class="triangle"></div>
          <img src="./img/pirze/imgPrize_10.jpg"/>
        </div>
      </div>
      <div class="item">
        <div class="logoBox"><img src="./img/imgDevelopTab_1.png" /></div>
        <div class="textBox">
          <p class="time">2018年5月</p>
          <p class="text">票易通获《中国财经时报》表扬</p>
        </div>
        <div class="photoLayer">
          <div class="triangle"></div>
          <img src="./img/pirze/imgPrize_11.jpg"/>
        </div>
      </div>
      <div class="item right">
        <div class="logoBox"><img src="./img/imgDevelopTab_1.png" /></div>
        <div class="textBox">
          <p class="time">2018年2月</p>
          <p class="text">票易通获青海省政府表扬</p>
        </div>
        <div class="photoLayer">
          <div class="triangle"></div>
          <img src="./img/pirze/imgPrize_12.jpg"/>
        </div>
      </div>
      <!--2017年-->
      <div class="item">
        <div class="logoBox"><img src="./img/imgDevelopTab_1.png" /></div>
        <div class="textBox">
          <p class="time">2017年11月</p>
          <p class="text">票易通获得“宝山区2017年度经济工作最佳成长奖”</p>
        </div>
        <div class="photoLayer">
          <div class="triangle"></div>
          <img src="./img/pirze/imgPrize_13.jpg"/>
        </div>
      </div>
      <div class="item right">
        <div class="logoBox"><img src="./img/imgDevelopTab_1.png" /></div>
        <div class="textBox">
          <p class="time">2017年11月</p>
          <p class="text">票易通荣获“2017年第六届中国创新创业大赛全国第三名”</p>
        </div>
        <div class="photoLayer">
          <div class="triangle"></div>
          <img src="./img/pirze/imgPrize_14.jpg"/>
        </div>
      </div>
      <div class="item">
        <div class="logoBox"><img src="./img/imgDevelopTab_1.png" /></div>
        <div class="textBox">
          <p class="time">2017年9月</p>
          <p class="text">票易通荣获“第六届中国创新创业大赛（上海赛区）企业优胜奖企业优胜奖”</p>
        </div>
        <div class="photoLayer">
          <div class="triangle"></div>
          <img src="./img/pirze/imgPrize_15.jpg"/>
        </div>
      </div>
      <div class="item right">
        <div class="logoBox"><img src="./img/imgDevelopTab_1.png" /></div>
        <div class="textBox">
          <p class="time">2017年8月</p>
          <p class="text">票易通荣获“2017年稅企直连最佳平台奖</p>
        </div>
        <div class="photoLayer">
          <div class="triangle"></div>
          <img src="./img/pirze/imgPrize_16.jpg"/>
        </div>
      </div>
      <div class="item">
        <div class="logoBox"><img src="./img/imgDevelopTab_1.png" /></div>
        <div class="textBox">
          <p class="time">2017年7月</p>
          <p class="text">票易通荣获ISO27001信息安全管理体系认证</p>
        </div>
        <div class="photoLayer">
          <div class="triangle"></div>
          <img src="./img/pirze/imgPrize_17.jpg"/>
        </div>
      </div>
      <div class="item right">
        <div class="logoBox"><img src="./img/imgDevelopTab_1.png" /></div>
        <div class="textBox">
          <p class="time">2017年7月</p>
          <p class="text">票易通CEO吴云荣膺“2017最佳财智人物”</p>
        </div>
        <div class="photoLayer">
          <div class="triangle"></div>
          <img src="./img/pirze/imgPrize_18.jpg"/>
        </div>
      </div>
      <div class="item">
        <div class="logoBox"><img src="./img/imgDevelopTab_1.png" /></div>
        <div class="textBox">
          <p class="time">2017年7月</p>
          <p class="text">票易通荣获“2017企业创新典范奖”</p>
        </div>
        <div class="photoLayer">
          <div class="triangle"></div>
          <img src="./img/pirze/imgPrize_19.jpg"/>
        </div>
      </div>
      <div class="item right">
        <div class="logoBox"><img src="./img/imgDevelopTab_1.png" /></div>
        <div class="textBox">
          <p class="time">2017年5月</p>
          <p class="text">票易通荣获“2017年中国互联网+最佳产品奖”</p>
        </div>
        <div class="photoLayer">
          <div class="triangle"></div>
          <img src="./img/pirze/imgPrize_20.jpg"/>
        </div>
      </div>
      <div class="item">
        <div class="logoBox"><img src="./img/imgDevelopTab_1.png" /></div>
        <div class="textBox">
          <p class="time">2017年4月</p>
          <p class="text">票易通荣获ISO20000信息技术服务管理体系认证</p>
        </div>
        <div class="photoLayer">
          <div class="triangle"></div>
          <img src="./img/pirze/imgPrize_21.jpg"/>
        </div>
      </div>
      <div class="item right">
        <div class="logoBox"><img src="./img/imgDevelopTab_1.png" /></div>
        <div class="textBox">
          <p class="time">2017年4月</p>
          <p class="text">票易通荣获ISO9001质量管理体系认证</p>
        </div>
        <div class="photoLayer">
          <div class="triangle"></div>
          <img src="./img/pirze/imgPrize_22.jpg"/>
        </div>
      </div>
      <!--2016年-->
      <div class="item">
        <div class="logoBox"><img src="./img/imgDevelopTab_1.png" /></div>
        <div class="textBox">
          <p class="time">2016年12月</p>
          <p class="text">新闻联播采访票易通，COO白洋接受采访</p>
        </div>
        <div class="photoLayer">
          <div class="triangle"></div>
          <img src="./img/pirze/imgPrize_23.jpg"/>
        </div>
      </div>
      <div class="item right">
        <div class="logoBox"><img src="./img/imgDevelopTab_1.png" /></div>
        <div class="textBox">
          <p class="time">2016年10月</p>
          <p class="text"> 国税总局王康副局长调研营改增工作发票意见：万科的供应链和发票管理平台代表未来国税增值税的管理方向。万科基于票易通平台，结合纳税筹划节税约200亿，年总开票量预计3,000亿</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="footer">
    <div class="contentBox">
        <div class="contentTitle">
            商务咨询快速通道
            <div class="line"></div>
        </div>
        <ul class="contactList">
            <li>
                <div class="icon"><img src="./img/icon/menuIcon_15.png"/></div>
                400-630-4000
            </li>
            <li>
                <div class="icon"><img src="./img/icon/menuIcon_16.png"/></div>
                <a href="tencent://message/?Menu=yes&uin=938074808&Service=58&SigT=03EDD2C1C174C9F0909501F5AF1EA8D33265A94451EF83DBF251DF110B5BFB17B3DB4046CB3A393E9110DFB0B958C959F178DEBABC13B3AE02A8AAA71F49309E17ED7028C30E5BA52A43E490DBD94C1449BD801B657A9A4D9E71415A1D43FD716CE0B115A3096CEE52B2F4DF4CDADA7E5F827CF9CE1EA478&SigU=FF4C978AD6E3E14A7CFFD1EB1888F75C8AA1A1A3D23982F33D6D416E77E2AD4FB60C4B1283B8D3EEABD5E786E6900C19E9359602556AFCAAF3AC6985B468E9493703599654D6DBFB">4006304000</a>
            </li>
            <li>
                <div class="icon"><img src="./img/icon/menuIcon_17.png"/></div>
                <a href="mailto:support@xforceplus.com?subject=商务咨询&body=商务咨询">support@xforceplus.com</a>
            </li>
        </ul>
    </div>
    <div class="profileBox">
        <ul class="profileList">
            <li class="big">
                <div class="icon"><img src="./img/icon/menuIcon_18.png"/></div>
                <h1>联系我们</h1>
                <p>技术支持：400-630-4000</p>
                <p>商务联系：biz@xforceplus.com</p>
                <p>市场合作：mrkt@xforceplus.com</p>
                <div class="vertical"></div>
            </li>
            <li>
                <h1>票易通新媒体</h1>
                <p>新浪微博：<a target="_blank" href="https://weibo.com/piaoyitong">@票易通</a></p>
                <p>微信公众号：xforceplus</p>
            </li>
            <li>
                <h1>关于我们</h1>
                <p><a href="about.html">公司简介</a></p>
                <p><a target="_blank" href="service_agreement.html">票易通用户协议</a></p>
                <!-- <p><a href="javascript:;">隐私政策</a></p> -->
            </li>
            <li>
                <h1>友情链接</h1>
                <p><a target="_blank" href="http://www.chinatax.gov.cn/">国家税务总局</a></p>
                <p><a target="_blank" href="http://www.ctax.org.cn/">中国税务网</a></p>
            </li>
        </ul>
        <div class="line"></div>
        <div class="footerBottom">
            <div class="logo"><img src="./img/pyt_logo.png" /></div>
            <div class="textBox">
                <p>©2015 XForcePlus票易通发票管理及供应链协同平台</p>
                <p><a target="_blank" href="http://www.miitbeian.gov.cn/state/outPortal/loginPortal.action;jsessionid=aZOj1nXNvRypckXWRr4P7yJlijtT2lUXqUlKWHuUCl0NjsegsG6z!-28876814">沪ICP备15034889号-1</a>  营业执照注册号：310113001346942 </p>
            </div>
            <div class="backup">
                <p><a target="_blank" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=31011302003536"><img class="ic0" src="./img/common/gh.png" alt="" />沪公网安备 31011302003536 号</a></p>
                <p><a target="_blank" href="https://www.kexinyun.org"><img class="ic1" src="./img/common/preview.png" alt="" />云服务类型：企业级SaaS服务 编号：07058</a></p>
            </div>
            <div class="clear"></div>
        </div>
    </div>
</div>
</body>
</html>