
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>票易通_云砺_上海云砺信息科技有限公司</title>
  <!-- <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"> -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <meta name="viewport" content="width=1220">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="keyword" content="票易通,云砺,上海云砺,上海云砺信息科技有限公司，www.xforceplus.com，开发票，抵扣，增值税，销项，
    进项，结算单，开票规则，电子发票，开票软件，增值税发票，发票服务，统一认证，异地认证，电子信息财务，阳光保险，夏晖，金光纸业，家乐福，宝钢，红星美凯龙">
  <meta name="Description" content="票易通是专业的供应链信息协同及增值税发票管理云平台解决方案提供商，致力于企业SaaS领域行业解决方案的研发及应用，为众多大型企业提供基于互联网和云创新的软件服务。">
  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
  <link rel="stylesheet" type="text/css" href="./css/styleset.css">
  <link rel="stylesheet" type="text/css" href="./css/slick.css">
  <link rel="stylesheet" type="text/css" href="./css/slick-theme.css">
  <script type="text/javascript" src="./js/jquery.js"></script>
  <script type="text/javascript" src="./js/jquery.menu-aim.js"></script>
  <script type="text/javascript" src="./js/slick.min.js"></script>
  <script type="text/javascript" src="./js/TweenMax.js"></script>
  <script type="text/javascript" src="./js/header.js"></script>
  <script type="text/javascript" src="./news/newsDetail.js"></script>
  <script type="text/javascript" src="./areaList/areaNotice.js"></script>
  <script src="https://pv.sohu.com/cityjson?ie=utf-8"></script>
  <!-- <script type="text/javascript" src="https://api.map.baidu.com/api?key=xiLA3fE4hWNHjBazhNkgFmnXGHejLZe9&v=1.1&services=true"></script> -->
  <script type="text/javascript" src="./js/index.js"></script>
</head>
<body>
<div class="header">
    <div class="bannerBox">
        <div class="imgBox">
            <div class="bannerImg bannerBox_1">
                <img src="./img/imgBanner_1.jpg"/>
                <div class="title">票易通<br/>实现企业的连接</div>
            </div>
        </div>
        <div class="imgBox">
            <a href="product.html">
                <div class="bannerImg bannerBox_2">
                    <img src="./img/imgBanner_2.jpg"/>
                    <div class="title">票易通<br/>实现企业的连接</div>
                    <p class="text">
                        票易通的产品聚焦于企业SaaS（云计算软件服务）领域，<br/>
                        是专业的供应链信息协同及增值税发票管理云平台解决方案提供商，<br/>
                        为众多大型企业提供基于互联网和云创新的软件、数据服务。
                    </p>
                </div>
            </a>
        </div>
        <div class="imgBox">
            <a href="client.html">
                <div class="bannerImg bannerBox_3">
                    <img src="./img/imgBanner_3.jpg"/>
                    <div class="title">票易通<br/>世界五百强企业合作伙伴</div>
                    <p class="text">全国领先的企业协同平台</p>
                </div>
            </a>
        </div>
        <div class="imgBox">
            <a href="news.html">
                <div class="bannerImg bannerBox_4">
                    <img src="./img/imgBanner_4.jpg"/>
                    <div class="title">
                        票易通智能开票机器人<br/>
                        重磅发布
                    </div>
                    <a href="news.html" class="bannerButton">查看详细</a>
                </div>
            </a>
        </div>
        <div class="imgBox">
            <a href="about.html">
                <div class="bannerImg bannerBox_5">
                    <img src="./img/imgBanner_5.jpg"/>
                    <div class="title">
                        客户同心　奋斗同行<br/>
                        言出必果　持续归零<br/>
                        分享共赢
                    </div>
                </div>
            </a>
        </div>
        <div class="imgBox">
            <a href="join.html">
                <div class="bannerImg bannerBox_6">
                    <img src="./img/imgBanner_6.jpg"/>
                    <div class="title">
                        加入我们<br/>
                        干一“票”大事业
                    </div>
                </div>
            </a>
        </div>
        <div class="imgBox">
            <a href="address.html">
                <div class="bannerImg bannerBox_7">
                    <img src="./img/imgBanner_7.jpg"/>
                    <div class="title">诸多通道，找到我们</div>
                </div>
            </a>
        </div>
    </div>
    <div class="bannerDotBox">
        <div class="dotLong"><img src="./img/imgDotL.png"/></div>
    </div>
    <div class="companyInfo">
        <div class="text">
            <span class="koukou"><a href="tencent://message/?Menu=yes&uin=938074808&Service=58&SigT=03EDD2C1C174C9F0909501F5AF1EA8D33265A94451EF83DBF251DF110B5BFB17B3DB4046CB3A393E9110DFB0B958C959F178DEBABC13B3AE02A8AAA71F49309E17ED7028C30E5BA52A43E490DBD94C1449BD801B657A9A4D9E71415A1D43FD716CE0B115A3096CEE52B2F4DF4CDADA7E5F827CF9CE1EA478&SigU=FF4C978AD6E3E14A7CFFD1EB1888F75C8AA1A1A3D23982F33D6D416E77E2AD4FB60C4B1283B8D3EEABD5E786E6900C19E9359602556AFCAAF3AC6985B468E9493703599654D6DBFB">商务QQ：4006304000</a></span>
            <i>|</i>
            <span class="weixin">
                微信公众号
                <img class="codeImg" src="./img/imgCode.png"/>
            </span>
        </div>
        <div class="loginBox">
            <a target="_blank" href="https://www.xforceplus.com/imsc/login.jsp">登录票易通</a>
            <!-- <i>|</i>
            <a href="#">注册</a> -->
        </div>
    </div>
    <div class="indexNav">
        <div class="logo"><a href="index.html"><img alt="票易通" src="./img/pyt_logo.png"/></a></div>
        <ul class="navBox">
            <li>
                <a href="address.html">联系我们</a>
                <div class="across"></div>
                <div class="triangle"><img src="./img/imgTriangle.png"/></div>
                <div class="menuBox big" style="right: 0">
                    <a href="address.html#link_002">
                        <div class="menuIcon">
                            <img src="./img/icon/menuIcon_35.png"/>
                        </div>
                        <p class="menuText">票易通新媒体</p>
                        <div class="codeBox">
                            <div class="codeImg"><img src="./img/common/wechat.png"/></div>
                            <p class="codeText">官方微信</p>
                        </div>
                        <div class="codeBox">
                            <div class="codeImg"><img src="./img/common/weibo.png"></div>
                            <p class="codeText">官方微博</p>
                        </div>
                        <div class="line"></div>
                    </a>
                    <a href="address.html#link_001" style="width: 220px;">
                        <div class="menuIcon">
                            <img src="./img/icon/menuIcon_34.png"/>
                        </div>
                        <p class="menuText">联系方式</p>
                        <p class="text">
                            商务QQ:4006304000<br/>
                            技术支持:400-630-4000<br/>
                            商务联系:biz@xforceplus.com<br/>
                            市场合作:mrkt@xforceplus.com
                        </p>
                        <div class="line"></div>
                    </a>
                </div>
            </li>
            <li>
                <a href="join.html">加入我们</a>
                <div class="across"></div>
                <div class="triangle"><img src="./img/imgTriangle.png"/></div>
                <div class="menuBox small">
                    <a href="join.html#link_002">
                        <div class="menuIcon">
                            <img src="./img/icon/menuIcon_33.png"/>
                        </div>
                        <p class="menuText">招聘专页</p>
                        <div class="line"></div>
                    </a>
                    <a href="join.html#link_001">
                        <div class="menuIcon">
                            <img src="./img/icon/menuIcon_32.png"/>
                        </div>
                        <p class="menuText">核心团队</p>
                        <div class="line"></div>
                    </a>
                </div>
            </li>
            <li>|</li>
            <li>
                <a href="about.html">关于票易通</a>
                <div class="across"></div>
                <div class="triangle"><img src="./img/imgTriangle.png"/></div>
                <div class="menuBox small">
                    <a href="about.html?type=0#link_003">
                        <div class="menuIcon">
                            <img src="./img/icon/menuIcon_31.png"/>
                        </div>
                        <p class="menuText">大事记</p>

                    </a>
                    <a href="about.html?type=1#link_003">
                        <div class="menuIcon">
                            <img src="./img/icon/menuIcon_30.png"/>
                        </div>
                        <p class="menuText">荣誉资质</p>
                        <div class="line"></div>
                    </a>
                    <a href="about.html#link_002">
                        <div class="menuIcon">
                            <img src="./img/icon/menuIcon_29.png"/>
                        </div>
                        <p class="menuText">企业文化</p>
                        <div class="line"></div>
                    </a>
                    <a href="about.html#link_001">
                        <div class="menuIcon">
                            <img src="./img/icon/menuIcon_28.png"/>
                        </div>
                        <p class="menuText">公司简介</p>
                        <div class="line"></div>
                    </a>
                </div>
            </li>
            <li>
                <a href="news.html">新闻中心</a>
                <div class="across"></div>
                <div class="triangle"><img src="./img/imgTriangle.png"/></div>
                <div class="menuBox small">
                    <a href="news.html?type=5">
                        <div class="menuIcon">
                            <img src="./img/icon/menuIcon_10.png"/>
                        </div>
                        <p class="menuText">媒体报道</p>
                        <div class="line"></div>
                    </a>
                    <a href="news.html?type=3">
                        <div class="menuIcon">
                            <img src="./img/icon/menuIcon_9.png"/>
                        </div>
                        <p class="menuText">市场动态</p>
                        <div class="line"></div>
                    </a>
                    <a href="news.html?type=2">
                        <div class="menuIcon">
                            <img src="./img/icon/menuIcon_8.png"/>
                        </div>
                        <p class="menuText">集团快讯</p>
                        <div class="line"></div>
                    </a>
                    <a href="news.html?type=1">
                        <div class="menuIcon">
                            <img src="./img/icon/menuIcon_7.png"/>
                        </div>
                        <p class="menuText">政策解读</p>
                    </a>
                </div>
            </li>
            <li>
                <a href="client.html">客户与案例展示</a>
                <div class="across"></div>
                <div class="triangle"><img src="./img/imgTriangle.png"/></div>
                <div class="menuBox small">
                    <a href="client.html#link_002">
                        <div class="menuIcon">
                            <img src="./img/icon/menuIcon_6.png"/>
                        </div>
                        <p class="menuText">案例展示</p>
                        <div class="line"></div>
                    </a>
                    <a href="client.html#link_001">
                        <div class="menuIcon">
                            <img src="./img/icon/menuIcon_5.png"/>
                        </div>
                        <p class="menuText">我们的客户</p>
                    </a>
                </div>
            </li>
            <li>
                <a href="product.html">产品与解决方案</a>
                <div class="across"></div>
                <div class="triangle"><img src="./img/imgTriangle.png"/></div>
                <div class="menuBox">
                    <a href="product.html#link_001">
                        <div class="menuIcon">
                            <img src="./img/icon/menuIcon_4.png"/>
                        </div>
                        <p class="menuText more">电子发票开具服务<br/>平台</p>
                        <div class="line"></div>
                    </a>
                    <a href="product.html#link_001">
                        <div class="menuIcon">
                            <img src="./img/icon/menuIcon_3.png"/>
                        </div>
                        <p class="menuText">增值税发票管理</p>
                        <div class="line"></div>
                    </a>
                    <a href="product.html#link_001">
                        <div class="menuIcon">
                            <img src="./img/icon/menuIcon_2.png"/>
                        </div>
                        <p class="menuText more">全国集中纳税申报<br/>及税务分析</p>
                        <div class="line"></div>
                    </a>
                    <a href="product.html#link_001">
                        <div class="menuIcon">
                            <img src="./img/icon/menuIcon_1.png"/>
                        </div>
                        <p class="menuText">供应链结算协同</p>
                    </a>
                </div>
            </li>
            <li class="on">
                <a href="index.html">首页</a>
                <div class="across"></div>
            </li>
        </ul>
        <div class="line clear"></div>
    </div>
    <div class="headFooter">
        <ul class="newsBox">
            <li>
                <a href="detail.html?id=1">最新资讯<i>|</i><span>票易通：小切口“钻”出大市场</span></a>
            </li>
            <li>
                <a href="detail.html?type=0&pid=n0">最新资讯<i>|</i><span>「2018 爱分析·中国科技创新企业 100 强 」揭榜！票易通荣获第 19 名</span></a>
            </li>
            <li>
                <a href="detail.html?type=1&pid=n1">最新资讯<i>|</i><span>票易通受邀参与化纤创新者大会并签署战略合作协议</span></a>
            </li>
            <li>
                <a href="detail.html?type=1&pid=n2">最新资讯<i>|</i><span>票易通荣获 2018 年上海市宝山区大场镇优秀企业荣誉称号</span></a>
            </li>
            <li>
                <a href="detail.html?type=2&pid=n0">最新资讯<i>|</i><span>票易通发布智能一体化开票机器人</span></a>
            </li>
        </ul>
        <div class="subMenuBox">
            <ul class="subMenu">
                <li>
                    <div class="subIcon"><img src="./img/icon/menuIcon_11.png"/></div>
                    <h1>高效企业协同</h1>
                    <p>上下游协同税号<br/>190万 个</p>
                </li>
                <li>
                    <div class="subIcon"><img src="./img/icon/menuIcon_12.png"/></div>
                    <h1>深厚技术沉淀</h1>
                    <p>拥有多年大型集团财务共享中心系统设计、开发、实施、运维及项目管理经验</p>
                </li>
                <li style="width: 320px;">
                    <div class="subIcon"><img src="./img/icon/menuIcon_13.png"/></div>
                    <h1>行业经验丰富</h1>
                    <p>客户群包括130多位世界500强企业<br/>涵盖零售、餐饮、酒店、金融、互联网、钢铁、制造、汽车、医药等多个行业</p>
                </li>
                <li>
                    <div class="subIcon"><img src="./img/icon/menuIcon_14.png"/></div>
                    <h1>企业级客户服务</h1>
                    <p>提供专业、全面的企业级财税服务</p>
                </li>
            </ul>
            <div class="clear"></div>
        </div>
    </div>

</div>
<div class="main">
  <div class="contentBox boxShadow">
    <div class="contentTitle">
      基于<b>云计算技术</b><br/>
      <b>安全、可靠</b>的企业财税服务产品
      <div class="line"></div>
    </div>
    <ul class="itemList">
      <li>
        <div class="itemBox">
          <div class="itemTitle">
            <div class="itemIcon"><img src="./img/imgItem_1.png"/></div>
            <h1>供应链结算协同</h1>
          </div>
          <p class="itemText">
            票易通系统连接企业及其供应商，完美实现结算信息协同和供应商一键开票，极大幅提高供应商开票效率和准确性，从而大幅度降低进项发票的税务风险，并大幅度提高企业采购结算业务处理效率。
          </p>
        </div>
      </li>
      <li>
        <div class="itemBox">
          <div class="itemTitle">
            <div class="itemIcon"><img src="./img/imgItem_2.png"/></div>
            <h1>全国集中纳税申报<br/>及税务分析</h1>
          </div>
          <p class="itemText">
            帮助客户企业在集团层面将各分支机构的纳税申报表自动分送至各地税局进行申报，免去客户企业各分支机构每月往返税局报税的烦恼。客户可一站式完成全集团纳税情况分析及规划。
          </p>
        </div>
      </li>
      <li>
        <div class="itemBox">
          <div class="itemTitle">
            <div class="itemIcon"><img src="./img/imgItem_3.png"/></div>
            <h1>增值税发票管理</h1>
          </div>
          <p class="itemText">
            实现企业的增值税发票全周期管理。提供企业的进销项发票功能，完善发票相关的业务应用，提高员工效率及提供票税监控视角。进一步应用于内部数字化管理升级，配合企业实现业财税一体化。
          </p>
        </div>
      </li>
      <li>
        <div class="itemBox">
          <div class="itemTitle">
            <div class="itemIcon"><img src="./img/imgItem_4.png"/></div>
            <h1>电子发票开具服务平台</h1>
          </div>
          <p class="itemText">
            帮助客户企业在全国范围内建立统一的电子发票开具及推送服务平台，帮助企业大幅提升开票效率、提高消费者满意度、降低开票成本。
          </p>
        </div>
      </li>
    </ul>
    <div class="clear"></div>
  </div>
  <div class="contentBox bgBlack">
    <div class="contentTitle">
      新闻中心
      <p>了解财税信息、公司动态和行业变化，实时更新权威财税政策解读和最新技术服务解决方案</p>
      <div class="line"></div>
    </div>
    <ul class="newsList">
       <li>
        <a href="detail.html?id=1">
          <div class="newsImg">
            <img src="./news/chinese.jpg"/>
          </div>
          <div class="newsDetail">
            <h2>官宣！上海云砺信息科技有限公司（票易通）完成近1亿美金C轮战略性融资</h2>
            <p>2019年10月10日，云砺信息完成近1亿美金的C轮战略性融资。</p>
          </div>
        </a>
      </li>
      <li>
        <a href="detail.html?id=2">
          <div class="newsImg">
            <img src="./news/english.jpg"/>
          </div>
          <div class="newsDetail">
            <h2>Official Announcement | SHANGHAI XFORCEPLUS INFORMATION TECHNOLOGY CO., LTD. (PIAOYITONG) HAS COMPLETED NEARLY US$100 MILLION ROUND C STRATEGIC FINANCING</h2>
            <p>(Shanghai, October 10, 2019, ) Shanghai Xforceplus Information Technology Co., Ltd. ("Xforceplus Information" or the “Company”), </p>
          </div>
        </a>
      </li>
      <li>
        <a href="detail.html?id=3">
          <div class="newsImg">
            <img src="./news/colleagues.jpg"/>
          </div>
          <div class="newsDetail">
            <h2>致全体云砺（票易通）小伙伴公开信</h2>
            <p>An open letter to all Xforceplus （PiaoYiTong) colleagues</p>
          </div>
        </a>
      </li>
    </ul>
    <div class="clear"></div>
    <a href="./news.html" class="buttonStyle" style="margin: 50px auto 0">查看更多</a>
  </div>
  <div class="contentBox bgImg_1">
    <div class="contentTitle colorWhite">
      专注于企业SaaS（云计算软件服务）领域行业解决方案的研发及应用
      <p>为大型企业提供基于互联网和云创新的软件及数据服务</p>
      <div class="line"></div>
    </div>
    <div class="guildListBox">
      <ul class="guildList">
        <li>
          <div class="listBgColor"></div>
          <div class="transfomBox">
            <div class="guildTitle">
              <div class="guildIcon">
                <div class="whiteIcon"><img src="./img/guildIcon/guildIcon_2.png"/></div>
                <div class="colourIcon"><img src="./img/guildIcon/guildIcon_1.png"/></div>
              </div>
              <div class="guildText">
                <h2>餐饮行业</h2>
                <p>便捷高效的财税服务<br/>迎接智能财税新局面</p>
              </div>
            </div>
            <div class="guildLogo">
              <img src="./img/guildIcon/logoGroup_1.jpg"/>
            </div>
          </div>
        </li>
        <li>
          <div class="listBgColor"></div>
          <div class="transfomBox">
            <div class="guildTitle">
              <div class="guildIcon">
                <div class="whiteIcon"><img src="./img/guildIcon/guildIcon_4.png"/></div>
                <div class="colourIcon"><img src="./img/guildIcon/guildIcon_3.png"/></div>
              </div>
              <div class="guildText">
                <h2>制造行业</h2>
                <p>优化财税业务流程<br/>助力传统企业的智慧转型</p>
              </div>
            </div>
            <div class="guildLogo">
              <img src="./img/guildIcon/logoGroup_2.jpg"/>
            </div>
          </div>
        </li>
        <li>
          <div class="listBgColor"></div>
          <div class="transfomBox">
            <div class="guildTitle">
              <div class="guildIcon">
                <div class="whiteIcon"><img src="./img/guildIcon/guildIcon_6.png"/></div>
                <div class="colourIcon"><img src="./img/guildIcon/guildIcon_5.png"/></div>
              </div>
              <div class="guildText">
                <h2>政府央企</h2>
                <p>财税流程优化及云端数据管理<br/>贯彻电子信息财务理念</p>
              </div>
            </div>
            <div class="guildLogo">
              <img src="./img/guildIcon/logoGroup_3.jpg"/>
            </div>
          </div>
        </li>
        <li>
          <div class="listBgColor"></div>
          <div class="transfomBox">
            <div class="guildTitle">
              <div class="guildIcon">
                <div class="whiteIcon"><img src="./img/guildIcon/guildIcon_8.png"/></div>
                <div class="colourIcon"><img src="./img/guildIcon/guildIcon_7.png"/></div>
              </div>
              <div class="guildText">
                <h2>医药行业</h2>
                <p>优化业务流程<br/>降低财税业务成本</p>
              </div>
            </div>
            <div class="guildLogo">
              <img src="./img/guildIcon/logoGroup_4.jpg"/>
            </div>
          </div>
        </li>
        <li>
          <div class="listBgColor"></div>
          <div class="transfomBox">
            <div class="guildTitle">
              <div class="guildIcon">
                <div class="whiteIcon"><img src="./img/guildIcon/guildIcon_10.png"/></div>
                <div class="colourIcon"><img src="./img/guildIcon/guildIcon_9.png"/></div>
              </div>
              <div class="guildText">
                <h2>物流运输</h2>
                <p>智慧财税云服务<br/>建立高效的财税信息服务系统</p>
              </div>
            </div>
            <div class="guildLogo">
              <img src="./img/guildIcon/logoGroup_5.jpg"/>
            </div>
          </div>
        </li>
        <li>
          <div class="listBgColor"></div>
          <div class="transfomBox">
            <div class="guildTitle">
              <div class="guildIcon">
                <div class="whiteIcon"><img src="./img/guildIcon/guildIcon_12.png"/></div>
                <div class="colourIcon"><img src="./img/guildIcon/guildIcon_11.png"/></div>
              </div>
              <div class="guildText">
                <h2>零售行业</h2>
                <p>新零售时代的智慧财税支持</p>
              </div>
            </div>
            <div class="guildLogo">
              <img src="./img/guildIcon/logoGroup_6.jpg"/>
            </div>
          </div>
        </li>
        <li>
          <div class="listBgColor"></div>
          <div class="transfomBox">
            <div class="guildTitle">
              <div class="guildIcon">
                <div class="whiteIcon"><img src="./img/guildIcon/guildIcon_14.png"/></div>
                <div class="colourIcon"><img src="./img/guildIcon/guildIcon_13.png"/></div>
              </div>
              <div class="guildText">
                <h2>酒店行业</h2>
                <p>大型集团的定制化财税云服务</p>
              </div>
            </div>
            <div class="guildLogo">
              <img src="./img/guildIcon/logoGroup_7.jpg"/>
            </div>
          </div>
        </li>
        <li>
          <div class="listBgColor"></div>
          <div class="transfomBox">
            <div class="guildTitle">
              <div class="guildIcon">
                <div class="whiteIcon"><img src="./img/guildIcon/guildIcon_16.png"/></div>
                <div class="colourIcon"><img src="./img/guildIcon/guildIcon_15.png"/></div>
              </div>
              <div class="guildText">
                <h2>金融及互联网</h2>
                <p>更便捷和多样化的财税服务<br/>创新税务新型生态圈</p>
              </div>
            </div>
            <div class="guildLogo">
              <img src="./img/guildIcon/logoGroup_8.jpg"/>
            </div>
          </div>
        </li>
        <li>
          <div class="listBgColor"></div>
          <div class="transfomBox">
            <div class="guildTitle">
              <div class="guildIcon">
                <div class="whiteIcon"><img src="./img/guildIcon/guildIcon_18.png"/></div>
                <div class="colourIcon"><img src="./img/guildIcon/guildIcon_17.png"/></div>
              </div>
              <div class="guildText">
                <h2>地产物业</h2>
                <p>安全可靠的客制化财税云服务<br/>构建智慧财税新模式</p>
              </div>
            </div>
            <div class="guildLogo">
              <img src="./img/guildIcon/logoGroup_9.jpg"/>
            </div>
          </div>
        </li>
      </ul>
      <div class="guildNextArrow"><img src="./img/imgArrowR.png"/></div>
      <div class="guildPrevArrow"><img src="./img/imgArrowL.png"/></div>
    </div>
    <div class="clear"></div>
  </div>
  <div class="statisticsBox">
    <div class="statisticsPosition">
      <div class="leftImg"><img src="./img/ornament_left.png"/></div>
      <div class="rightImg"><img src="./img/ornament_right.png"/></div>
      <p>
        累计平台结算金额 <span class="staText_1">612,376,589</span> 元，上下游协同税号 <span class="staText_2">834,758</span> 个<br/>
        开具发票 <span class="staText_3">79,879,906</span> 张，触达个人消费者 <span class="staText_4">419,976,724</span> 次
      </p>
    </div>
  </div>
  <div class="contentBox bgBlack">
    <div class="contentTitle" style="margin-bottom: 10px;">
      <span class="titleIcon_1">荣誉奖项</span>
      <div class="line"></div>
    </div>
    <ul class="awardsList">
      <li><span>2018年12月28日 2018年度中国最佳人力资源团队奖</span></li>
      <li><span>2018年12月6日 年度最佳服务平台解决方案提供商</span></li>
      <li><span>2018年11月8日 2018中国直通硅谷创新创业大赛总决赛企业组三等奖</span></li>
      <li><span>2018年10月24日 票易通和红星美凯龙一同被授予最佳外包合作伙伴关系银奖</span></li>
      <li><span>2018年10月22日 宝山区产业互联网创新示范企业</span></li>
    </ul>
    <a href="about.html?type=1#link_003" class="buttonStyle">查看更多</a>
    <div class="contentTitle">
      <span class="titleIcon_2">资质证书</span>
      <div class="line"></div>
    </div>
    <ul class="certificationList">
      <li>
        <div class="imgBox"><img src="./img/index/zizhi.png"/></div>
        <div class="title">可信云认证</div>
      </li>
      <li>
        <div class="imgBox"><img src="./img/imgCertification_1.jpg"/></div>
        <div class="title">公安部等级保护3级</div>
      </li>
      <li>
        <div class="imgBox"><img src="./img/imgCertification_2.jpg"/></div>
        <div class="title">ISO27001</div>
      </li>
      <li>
        <div class="imgBox"><img src="./img/imgCertification_3.jpg"/></div>
        <div class="title">ISO9001</div>
      </li>
      <li>
        <div class="imgBox"><img src="./img/imgCertification_4.jpg"/></div>
        <div class="title">ISO20000</div>
      </li>
    </ul>
    <div class="clear"></div>
  </div>
</div>
<div class="footer">
    <div class="contentBox">
        <div class="contentTitle">
            商务咨询快速通道
            <div class="line"></div>
        </div>
        <ul class="contactList">
            <li>
                <div class="icon"><img src="./img/icon/menuIcon_15.png"/></div>
                400-630-4000
            </li>
            <li>
                <div class="icon"><img src="./img/icon/menuIcon_16.png"/></div>
                <a href="tencent://message/?Menu=yes&uin=938074808&Service=58&SigT=03EDD2C1C174C9F0909501F5AF1EA8D33265A94451EF83DBF251DF110B5BFB17B3DB4046CB3A393E9110DFB0B958C959F178DEBABC13B3AE02A8AAA71F49309E17ED7028C30E5BA52A43E490DBD94C1449BD801B657A9A4D9E71415A1D43FD716CE0B115A3096CEE52B2F4DF4CDADA7E5F827CF9CE1EA478&SigU=FF4C978AD6E3E14A7CFFD1EB1888F75C8AA1A1A3D23982F33D6D416E77E2AD4FB60C4B1283B8D3EEABD5E786E6900C19E9359602556AFCAAF3AC6985B468E9493703599654D6DBFB">4006304000</a>
            </li>
            <li>
                <div class="icon"><img src="./img/icon/menuIcon_17.png"/></div>
                <a href="mailto:support@xforceplus.com?subject=商务咨询&body=商务咨询">support@xforceplus.com</a>
            </li>
        </ul>
    </div>
    <div class="profileBox">
        <ul class="profileList">
            <li class="big">
                <div class="icon"><img src="./img/icon/menuIcon_18.png"/></div>
                <h1>联系我们</h1>
                <p>技术支持：400-630-4000</p>
                <p>商务联系：biz@xforceplus.com</p>
                <p>市场合作：mrkt@xforceplus.com</p>
                <div class="vertical"></div>
            </li>
            <li>
                <h1>票易通新媒体</h1>
                <p>新浪微博：<a target="_blank" href="https://weibo.com/piaoyitong">@票易通</a></p>
                <p>微信公众号：xforceplus</p>
            </li>
            <li>
                <h1>关于我们</h1>
                <p><a href="about.html">公司简介</a></p>
                <p><a target="_blank" href="service_agreement.html">票易通用户协议</a></p>
                <p><a target="_blank" href="feeNotice.html" id="tofeeNotice">电子发票收费标准公告</a></p>
            </li>
            <li>
                <h1>友情链接</h1>
                <p><a target="_blank" href="http://www.chinatax.gov.cn/">国家税务总局</a></p>
                <p><a target="_blank" href="http://www.ctax.org.cn/">中国税务网</a></p>
            </li>
        </ul>
        <div class="line"></div>
        <div class="footerBottom">
            <div class="logo"><img src="./img/pyt_logo.png" /></div>
            <div class="textBox">
                <p>©2015 XForcePlus票易通发票管理及供应链协同平台</p>
                <p><a target="_blank" href="http://www.miitbeian.gov.cn/state/outPortal/loginPortal.action;jsessionid=aZOj1nXNvRypckXWRr4P7yJlijtT2lUXqUlKWHuUCl0NjsegsG6z!-28876814">沪ICP备15034889号-1</a>  营业执照注册号：310113001346942 </p>
            </div>
            <div class="backup">
                <p><a target="_blank" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=31011302003536"><img class="ic0" src="./img/common/gh.png" alt="" />沪公网安备 31011302003536 号</a></p>
                <p><a target="_blank" href="https://www.kexinyun.org"><img class="ic1" src="./img/common/preview.png" alt="" />云服务类型：企业级SaaS服务 编号：07058</a></p>
            </div>
            <div class="clear"></div>
        </div>
    </div>
</div>
</body>
<div class="oudiv fukuang">
   <div class="top"></div>
   <div class="middle">
         <h3>关于票易通电子发票基础服务免费的公告</h3>
         <div class="pBox">
            <p>为认真贯彻落实国务院作出的减税降费重大决策，确保所有行业税负只减不增的要求，保障纳税人和缴费人应享尽享减税降费红利，落实《关于进一步做好增值税电子普通发票推行工作的指导意见》（税总发【2017】31号）的文件精神，降低企业经营成本，上海云砺就服务事项公告如下：</p>
            <p></p>
            <p>
                票易通供应链协同平台将根据统一的管理制度，为企业用户持续免费提供电子发票平台基础服务，包含电子发票版式文件生成（含电子签章）、打印、查询（含相关存储）和交付等基础服务，以及相关的基础培训服务。
            </p>
            <p></p>
            <p>
                票易通供应链协同平台承诺，坚决保护纳税人的商业秘密（包括不限于因提供商品或服务所获知的纳税人企业发票数据信息等），未经纳税人许可，不向第三方直接或间接的透漏纳税人的商业秘密，未经纳税人许可不得将纳税人的商业秘密或发票数据用于商业盈利活动；坚决维护纳税人自愿购买增值服务的权利，不捆绑销售，不强制收费。
            </p>
            <p></p>
            <p>
                上海云砺信息科技有限公司（票易通），是国内顶尖的企业级云计算软件服务提供商，专注于供应链信息协同及增值税发票管理平台解决方案。
            </p>
            <p></p>
            <p></p>
            <p>
                感谢广大企业用户对平台的支持！
            </p>
         </div>
         <a href="javascript:;" id="lookat">查看</a>
   </div>
   <div class="bottom"></div> 
</div>
<div class="oudiv fukuang1" style="top:240px">
   <div class="top"></div>
   <div class="middle">
         <h3>关于票易通电子发票增值服务收费标准公告</h3>
         <a target="_blank" href="feeNotice.html" id="">查看</a>
   </div>
   <div class="bottom"></div> 
</div>
<!-- <div class="newsTan">
    <div class="newsContent">
        <div class="closeliti"></div>
        <div class="topCont"></div>
        <div class="centerCont">
            <h3>关于票易通电子发票基础服务免费的公告</h3>
            <p>为认真贯彻落实国务院作出的减税降费重大决策，确保所有行业税负只减不增的要求，保障纳税人和缴费人应享尽享减税降费红利，落实《关于进一步做好增值税电子普通发票推行工作的指导意见》（税总发【2017】31号）的文件精神，降低企业经营成本，上海云砺就服务事项公告如下：</p>
            <p></p>
            <p>
                票易通发票管理及供应链协同平台将根据统一的管理制度，为公司用户持续免费提供电子发票版式文件的生成、打印、查询和交付等基础服务。
            </p>
            <p></p>
            <p>
                上海云砺信息科技有限公司(票易通),是国内顶尖的企业级云计算软件服务提供商,专注于供应链信息协同及增值税发票管理平台解决方案。
            </p>
            <p></p>
            <p></p>
            <p>
                感谢广大企业用户对平台的支持！
            </p>
            <p>
                服务热线：400-630-4000
            </p>
            <p style="text-align: right; margin-top: 30px;">
                上海云砺信息科技有限公司 <br>
                2019年4月
            </p>
        </div>
    </div>
</div> -->
<style>
    .newsList .newsDetail h2{
        line-height: 24px;
    }
    .oudiv{
        position: fixed;
        top: 120px;
        right: 10px;
        width: 345px;
        /*height: 300px;*/
        /*background: url(./img/bgBannerItem.png) no-repeat;*/
        z-index: 21;
    }
    .oudiv .top{
        position: absolute;
        height: 6px;
        width: 345px;
        top: 0;
        left: 0;
        background:url(./img/bgBannerItemTop.png) no-repeat;
        background-size: contain;
    }
    .oudiv .middle{
        position: absolute;
        /*height: 290px;*/
        width: 345px;
        top: 6px;
        left: 0;
        background:url(./img/bgBannerItemmiddle.png) no-repeat;
        background-size: 100% 100%;
        font-size: 13px;
        color: #fff;
        
    }
    .oudiv .middle h3{
        font-size: 17px;
        text-align: center;
        padding:10px ;
    }
    .oudiv .middle a{
        font-size: 14px;
        text-align: center;
        margin: 10px auto;
        display: block;
        padding:4px 10px;
        border:1px solid #fff;
        width: 80px;
    }
    .oudiv .middle .pBox{
        padding: 10px 8px 10px 15px;
        margin: 0 auto;
        font-size: 12px;
        line-height: 24px;
        display: none;
        text-indent:26px;
    }
    .oudiv .bottom{
        position: absolute;
        height: 6px;
        width: 345px;
        bottom: 0;
        left: 0;
        background:url(./img/bgBannerItembottom.png) no-repeat;
        background-size: contain;
    }

</style>
<script>
    // $(".newsTan").fadeIn(800)
    // $(".closeliti").click(function(){
    //     $(".newsTan").fadeOut(400)
    // })
    $("#lookat").click(function(){
        if( /Android|webOS|iPhone|iPad|iPod|BlackBerry/i.test(navigator.userAgent) ) {

             // location.href="notice.html"　
            if ($(".pBox").is(':visible')) {
                $(this).text("查看");
                $(".pBox").hide();
                $(".fukuang1").css("top","240px");
            } else {
                $(this).text("收起");
                $(this).show();
                $(".pBox").show();
                $(".fukuang1").css("top","710px");
            }
            $(".fukuang").height($(".fukuang .middle").height()+10); 

        } else {　

            if ($(".pBox").is(':visible')) {
                $(this).text("查看");
                $(".pBox").hide();
                $(".fukuang1").css("top","240px");
            } else {
                $(this).text("收起");
                $(this).show();
                $(".pBox").show();
                $(".fukuang1").css("top","710px");
            }
            $(".fukuang").height($(".fukuang .middle").height()+10); 

        }
    })
    $(".fukuang").height($(".fukuang .middle").height()+10);
    $(".fukuang1").height($(".fukuang1 .middle").height()+10);

    $("#tofeeNotice").hide();
    $.ajax({
        type: "get",
        url:"https://restapi.amap.com/v3/ip",
        dataType: "json",
        data:{
            key:'2f2f0c05595a36a8912a3bbf76e6b06f',
            ip:returnCitySN["cip"]
        },
        success: function(result) {
            console.log(result)
            for(var i=0;i<noticeList.length;i++){
                if (result.province == noticeList[i].cityName || result.city == noticeList[i].cityName) {
                   $("#tofeeNotice").show();
                    break;
                }
            }
        },
        error: function(XMLHttpRequest, textStatus, errorThrown) {
            
        }
    });
    
</script>
</html>
<!--     .newsTan{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0,0,0,.4);
        z-index: 21;
        display: none;
    }
    .newsTan .newsContent{
        width: 1100px;
        height: 80%;
        background: url(./img/bg_body.gif) repeat;
        margin: 80px auto;
        border-radius: 5px;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .newsTan .newsContent .centerCont{
        width: 880px;
        margin: 0 auto;
        background: #fefef2;
        cursor: url(    cursor.ico),auto;
        padding: 10px 30px;
        height: 91%;
        overflow: auto;
        font-size: 14px;
    }
    .newsTan .newsContent .centerCont h3{
        text-align: center;
        font-size: 20px;
        line-height: 80px;
    }
    .newsTan .newsContent .centerCont p{
        line-height: 30px;
        font-size: 15px;
        text-indent: 30px;
        min-height: 15px;
    }
    .newsTan .newsContent .topCont{
        width: 880px;
        margin: 0 auto;
        background: url(./img/bg_left.png) repeat-x;
        padding-top: 32px;
    }
    .newsTan .newsContent .closeliti{
        height: 30px;
        width: 30px;
        background: url(./img/closeliti.png) no-repeat;
        background-size: 100% 100%;
        float: right;
        margin-right: 20px;
        cursor: pointer;
    } -->