<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>票易通-新闻中心</title>
  <!-- <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"> -->
  <meta name="viewport" content="width=1220">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
  <link rel="stylesheet" type="text/css" href="./css/styleset.css">
  <link rel="stylesheet" type="text/css" href="./css/slick.css">
  <link rel="stylesheet" type="text/css" href="./css/slick-theme.css">
  <script type="text/javascript" src="./js/jquery.js"></script>
  <script type="text/javascript" src="./js/jquery.menu-aim.js"></script>
  <script type="text/javascript" src="./js/slick.min.js"></script>
  <script type="text/javascript" src="./js/TweenMax.js"></script>
  <script type="text/javascript" src="./jquerypage/js/zxf_page.js"></script>
  <script type="text/javascript" src="./js/header.js"></script>
  <script type="text/javascript" src="./news/newsDetail.js"></script>
  <script type="text/javascript" src="./js/news.js"></script>
</head>
<body>
<div class="header">
    <div class="bannerTop">
        <div class="bannerImg bannerBox_4">
            <img src="./img/imgBanner_4.jpg"/>
            <div class="title">
                票易通智能开票机器人<br/>
                重磅发布
            </div>
        </div>
    </div>
    <div class="companyInfo">
        <div class="text">
            <span class="koukou"><a href="tencent://message/?Menu=yes&uin=938074808&Service=58&SigT=03EDD2C1C174C9F0909501F5AF1EA8D33265A94451EF83DBF251DF110B5BFB17B3DB4046CB3A393E9110DFB0B958C959F178DEBABC13B3AE02A8AAA71F49309E17ED7028C30E5BA52A43E490DBD94C1449BD801B657A9A4D9E71415A1D43FD716CE0B115A3096CEE52B2F4DF4CDADA7E5F827CF9CE1EA478&SigU=FF4C978AD6E3E14A7CFFD1EB1888F75C8AA1A1A3D23982F33D6D416E77E2AD4FB60C4B1283B8D3EEABD5E786E6900C19E9359602556AFCAAF3AC6985B468E9493703599654D6DBFB">商务QQ：4006304000</a></span>
            <i>|</i>
            <span class="weixin">
                微信公众号
                <img class="codeImg" src="./img/imgCode.png"/>
            </span>
        </div>
        <div class="loginBox">
            <a target="_blank" href="https://www.xforceplus.com/imsc/login.jsp">登录票易通</a>
            <!-- <i>|</i>
            <a href="#">注册</a> -->
        </div>
    </div>
     <div class="indexNav">
        <div class="logo"><a href="/"><img alt="票易通" src="./img/pyt_logo.png"/></a></div>
        <ul class="navBox">
            <li>
                <a href="address.html">联系我们</a>
                <div class="across"></div>
                <div class="triangle"><img src="./img/imgTriangle.png"/></div>
                <div class="menuBox big" style="right: 0">
                    <a href="address.html#link_002">
                        <div class="menuIcon">
                            <img src="./img/icon/menuIcon_35.png"/>
                        </div>
                        <p class="menuText">票易通新媒体</p>
                        <div class="codeBox">
                            <div class="codeImg"><img src="./img/common/wechat.png"/></div>
                            <p class="codeText">官方微信</p>
                        </div>
                        <div class="codeBox">
                            <div class="codeImg"><img src="./img/common/weibo.png"></div>
                            <p class="codeText">官方微博</p>
                        </div>
                        <div class="line"></div>
                    </a>
                    <a href="address.html#link_001" style="width: 220px;">
                        <div class="menuIcon">
                            <img src="./img/icon/menuIcon_34.png"/>
                        </div>
                        <p class="menuText">联系方式</p>
                        <p class="text">
                            商务QQ:4006304000<br/>
                            技术支持:400-630-4000<br/>
                            商务联系:biz@xforceplus.com<br/>
                            市场合作:mrkt@xforceplus.com
                        </p>
                        <div class="line"></div>
                    </a>
                </div>
            </li>
            <li>
                <a href="join.html">加入我们</a>
                <div class="across"></div>
                <div class="triangle"><img src="./img/imgTriangle.png"/></div>
                <div class="menuBox small">
                    <a href="join.html#link_002">
                        <div class="menuIcon">
                            <img src="./img/icon/menuIcon_33.png"/>
                        </div>
                        <p class="menuText">招聘专页</p>
                        <div class="line"></div>
                    </a>
                    <a href="join.html#link_001">
                        <div class="menuIcon">
                            <img src="./img/icon/menuIcon_32.png"/>
                        </div>
                        <p class="menuText">核心团队</p>
                        <div class="line"></div>
                    </a>
                </div>
            </li>
            <li>|</li>
            <li>
                <a href="about.html">关于票易通</a>
                <div class="across"></div>
                <div class="triangle"><img src="./img/imgTriangle.png"/></div>
                <div class="menuBox small">
                    <a href="about.html?type=0#link_003">
                        <div class="menuIcon">
                            <img src="./img/icon/menuIcon_31.png"/>
                        </div>
                        <p class="menuText">大事记</p>

                    </a>
                    <a href="about.html?type=1#link_003">
                        <div class="menuIcon">
                            <img src="./img/icon/menuIcon_30.png"/>
                        </div>
                        <p class="menuText">荣誉资质</p>
                        <div class="line"></div>
                    </a>
                    <a href="about.html#link_002">
                        <div class="menuIcon">
                            <img src="./img/icon/menuIcon_29.png"/>
                        </div>
                        <p class="menuText">企业文化</p>
                        <div class="line"></div>
                    </a>
                    <a href="about.html#link_001">
                        <div class="menuIcon">
                            <img src="./img/icon/menuIcon_28.png"/>
                        </div>
                        <p class="menuText">公司简介</p>
                        <div class="line"></div>
                    </a>
                </div>
            </li>
            <li  class="on">
                <a href="news.html">新闻中心</a>
                <div class="across"></div>
                <div class="triangle"><img src="./img/imgTriangle.png"/></div>
                <div class="menuBox small">
                    <a href="news.html?type=4">
                        <div class="menuIcon">
                            <img src="./img/icon/menuIcon_10.png"/>
                        </div>
                        <p class="menuText">媒体报道</p>
                        <div class="line"></div>
                    </a>
                    <a href="news.html?type=2">
                        <div class="menuIcon">
                            <img src="./img/icon/menuIcon_9.png"/>
                        </div>
                        <p class="menuText">市场动态</p>
                        <div class="line"></div>
                    </a>
                    <a href="news.html?type=1">
                        <div class="menuIcon">
                            <img src="./img/icon/menuIcon_8.png"/>
                        </div>
                        <p class="menuText">集团快讯</p>
                        <div class="line"></div>
                    </a>
                    <a href="news.html?type=0">
                        <div class="menuIcon">
                            <img src="./img/icon/menuIcon_7.png"/>
                        </div>
                        <p class="menuText">政策解读</p>
                    </a>
                </div>
            </li>
            <li>
                <a href="client.html">客户与案例展示</a>
                <div class="across"></div>
                <div class="triangle"><img src="./img/imgTriangle.png"/></div>
                <div class="menuBox small">
                    <a href="client.html#link_002">
                        <div class="menuIcon">
                            <img src="./img/icon/menuIcon_6.png"/>
                        </div>
                        <p class="menuText">案例展示</p>
                        <div class="line"></div>
                    </a>
                    <a href="client.html#link_001">
                        <div class="menuIcon">
                            <img src="./img/icon/menuIcon_5.png"/>
                        </div>
                        <p class="menuText">我们的客户</p>
                    </a>
                </div>
            </li>
            <li>
                <a href="product.html">产品与解决方案</a>
                <div class="across"></div>
                <div class="triangle"><img src="./img/imgTriangle.png"/></div>
                <div class="menuBox">
                    <a href="product.html#link_001">
                        <div class="menuIcon">
                            <img src="./img/icon/menuIcon_4.png"/>
                        </div>
                        <p class="menuText more">电子发票开具服务<br/>平台</p>
                        <div class="line"></div>
                    </a>
                    <a href="product.html#link_001">
                        <div class="menuIcon">
                            <img src="./img/icon/menuIcon_3.png"/>
                        </div>
                        <p class="menuText">增值税发票管理</p>
                        <div class="line"></div>
                    </a>
                    <a href="product.html#link_001">
                        <div class="menuIcon">
                            <img src="./img/icon/menuIcon_2.png"/>
                        </div>
                        <p class="menuText more">全国集中纳税申报<br/>及税务分析</p>
                        <div class="line"></div>
                    </a>
                    <a href="product.html#link_001">
                        <div class="menuIcon">
                            <img src="./img/icon/menuIcon_1.png"/>
                        </div>
                        <p class="menuText">供应链结算协同</p>
                    </a>
                </div>
            </li>
            <li>
                <a href="index.html">首页</a>
                <div class="across"></div>
            </li>
        </ul>
        <div class="line clear"></div>
    </div>
    <div class="headFooter">
        <div class="subMenuBox">
            <ul class="subMenu">
                <li>
                    <div class="subIcon"><img src="./img/icon/menuIcon_11.png"/></div>
                    <h1>高效企业协同</h1>
                    <p>上下游协同税号<br/>190万 个</p>
                </li>
                <li>
                    <div class="subIcon"><img src="./img/icon/menuIcon_12.png"/></div>
                    <h1>深厚技术沉淀</h1>
                    <p>拥有多年大型集团财务共享中心系统设计、开发、实施、运维及项目管理经验</p>
                </li>
                <li style="width: 320px;">
                    <div class="subIcon"><img src="./img/icon/menuIcon_13.png"/></div>
                    <h1>行业经验丰富</h1>
                    <p>客户群包括130多位世界500强企业<br/>涵盖零售、餐饮、酒店、金融、互联网、钢铁、制造、汽车、医药等多个行业</p>
                </li>
                <li>
                    <div class="subIcon"><img src="./img/icon/menuIcon_14.png"/></div>
                    <h1>企业级客户服务</h1>
                    <p>提供专业、全面的企业级财税服务</p>
                </li>
            </ul>
            <div class="clear"></div>
        </div>
    </div>

</div>
<div class="main">
  <div class="contentBox bgBlack">
    <div class="newsItemList">
      <div class="newsItemTitle" id="tag0">
        <div class="triangle trianglenews"><img src="./img/imgTriangle.png"></div>
        <div class="newsTab on"><a href="javascript:;" type="0">全部新闻</a></div>
        <div class="newsTab"><div class="tabLineColor_1"></div><a href="javascript:;" type="1">政策解读</a></div>
        <div class="newsTab"><div class="tabLineColor_2"></div><a href="javascript:;" type="2">集团快讯</a></div>
        <div class="newsTab"><div class="tabLineColor_3"></div><a href="javascript:;" type="3">市场动态</a></div>
        <div class="newsTab"><div class="tabLineColor_4"></div><a href="javascript:;" type="4">行业动态</a></div>
        <div class="newsTab"><div class="tabLineColor_5"></div><a href="javascript:;" type="5">媒体报道</a></div>
      </div>
      <div  class="newsItems">
      </div>
      <div class="zxf_pagediv zxf_pagediv1"></div>
      <div class="zxf_pagediv zxf_pagediv2"></div>
    </div>
  </div>
</div>
<div class="footer">
    <div class="contentBox">
        <div class="contentTitle">
            商务咨询快速通道
            <div class="line"></div>
        </div>
        <ul class="contactList">
            <li>
                <div class="icon"><img src="./img/icon/menuIcon_15.png"/></div>
                400-630-4000
            </li>
            <li>
                <div class="icon"><img src="./img/icon/menuIcon_16.png"/></div>
                <a href="tencent://message/?Menu=yes&uin=938074808&Service=58&SigT=03EDD2C1C174C9F0909501F5AF1EA8D33265A94451EF83DBF251DF110B5BFB17B3DB4046CB3A393E9110DFB0B958C959F178DEBABC13B3AE02A8AAA71F49309E17ED7028C30E5BA52A43E490DBD94C1449BD801B657A9A4D9E71415A1D43FD716CE0B115A3096CEE52B2F4DF4CDADA7E5F827CF9CE1EA478&SigU=FF4C978AD6E3E14A7CFFD1EB1888F75C8AA1A1A3D23982F33D6D416E77E2AD4FB60C4B1283B8D3EEABD5E786E6900C19E9359602556AFCAAF3AC6985B468E9493703599654D6DBFB">4006304000</a>
            </li>
            <li>
                <div class="icon"><img src="./img/icon/menuIcon_17.png"/></div>
                <a href="mailto:support@xforceplus.com?subject=商务咨询&body=商务咨询">support@xforceplus.com</a>
            </li>
        </ul>
    </div>
    <div class="profileBox">
        <ul class="profileList">
            <li class="big">
                <div class="icon"><img src="./img/icon/menuIcon_18.png"/></div>
                <h1>联系我们</h1>
                <p>技术支持：400-630-4000</p>
                <p>商务联系：biz@xforceplus.com</p>
                <p>市场合作：mrkt@xforceplus.com</p>
                <div class="vertical"></div>
            </li>
            <li>
                <h1>票易通新媒体</h1>
                <p>新浪微博：<a target="_blank" href="https://weibo.com/piaoyitong">@票易通</a></p>
                <p>微信公众号：xforceplus</p>
            </li>
            <li>
                <h1>关于我们</h1>
                <p><a href="about.html">公司简介</a></p>
                <p><a target="_blank" href="service_agreement.html">票易通用户协议</a></p>
                <!-- <p><a href="javascript:;">隐私政策</a></p> -->
            </li>
            <li>
                <h1>友情链接</h1>
                <p><a target="_blank" href="http://www.chinatax.gov.cn/">国家税务总局</a></p>
                <p><a target="_blank" href="http://www.ctax.org.cn/">中国税务网</a></p>
            </li>
        </ul>
        <div class="line"></div>
        <div class="footerBottom">
            <div class="logo"><img src="./img/pyt_logo.png" /></div>
            <div class="textBox">
                <p>©2015 XForcePlus票易通发票管理及供应链协同平台</p>
                <p><a target="_blank" href="http://www.miitbeian.gov.cn/state/outPortal/loginPortal.action;jsessionid=aZOj1nXNvRypckXWRr4P7yJlijtT2lUXqUlKWHuUCl0NjsegsG6z!-28876814">沪ICP备15034889号-1</a>  营业执照注册号：310113001346942 </p>
            </div>
            <div class="backup">
                <p><a target="_blank" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=31011302003536"><img class="ic0" src="./img/common/gh.png" alt="" />沪公网安备 31011302003536 号</a></p>
                <p><a target="_blank" href="https://www.kexinyun.org"><img class="ic1" src="./img/common/preview.png" alt="" />云服务类型：企业级SaaS服务 编号：07058</a></p>
            </div>
            <div class="clear"></div>
        </div>
    </div>
</div>
</body>
</html>