<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>
            用户服务协议
        </title>
        <!-- <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"> -->
  <meta name="viewport" content="width=1220">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
        <link rel="stylesheet" type="text/css" href="./css/swiper.min.css">
        <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
        <link rel="stylesheet" type="text/css" href="./css/styleset.css">
        <link rel="stylesheet" type="text/css" href="./css/slick.css">
        <link rel="stylesheet" type="text/css" href="./css/slick-theme.css">
        <script type="text/javascript" src="./js/jquery.js">
        </script>
        <script type="text/javascript" src="./js/swiper.min.js">
        </script>
        <script type="text/javascript" src="./js/jquery.menu-aim.js">
        </script>
        <script type="text/javascript" src="./js/slick.min.js">
        </script>
        <script type="text/javascript" src="./js/TweenMax.js">
        </script>
        <script type="text/javascript" src="./js/header.js">
        </script>
          <style>
            .zhaoweiguang{
                width: 1200px;
                margin: 20px auto;
                font-size: 15px;
                line-height: 2;
                color: #444;
            }
          </style>
    </head>
    <body>
        <div class="header">
            <div class="bannerTop" style="height: 450px;">
                <div class="bannerImg bannerBox_6">
                    <img src="./img/imgBanner_6.jpg" style="height: 450px;">
                    <div class="title">
                        用户服务协议
                    </div>
                <div class="bannerImg bannerBox_7" style="height: auto;">
                </div>
            </div>
            <div class="companyInfo">
                <div class="text">
                    <span class="koukou">
                        <a href="tencent://message/?Menu=yes&uin=938074808&Service=58&SigT=03EDD2C1C174C9F0909501F5AF1EA8D33265A94451EF83DBF251DF110B5BFB17B3DB4046CB3A393E9110DFB0B958C959F178DEBABC13B3AE02A8AAA71F49309E17ED7028C30E5BA52A43E490DBD94C1449BD801B657A9A4D9E71415A1D43FD716CE0B115A3096CEE52B2F4DF4CDADA7E5F827CF9CE1EA478&SigU=FF4C978AD6E3E14A7CFFD1EB1888F75C8AA1A1A3D23982F33D6D416E77E2AD4FB60C4B1283B8D3EEABD5E786E6900C19E9359602556AFCAAF3AC6985B468E9493703599654D6DBFB">
                            商务QQ：4006304000
                        </a>
                    </span>
                    <i>
                        |
                    </i>
                    <span class="weixin">
                        微信公众号
                        <img class="codeImg" src="./img/imgCode.png" />
                    </span>
                </div>
                <div class="loginBox">
                    <a target="_blank" href="https://www.xforceplus.com/imsc/login.jsp">登录票易通</a>
                    <!-- <i>|</i>
                    <a href="#">注册</a> -->
                </div>
            </div>
            <div class="indexNav">
                <div class="logo">
                    <a href="/">
                        <img alt="票易通" src="./img/pyt_logo.png" />
                    </a>
                </div>
                <ul class="navBox">
                    <li>
                        <a href="address.html">
                            联系我们
                        </a>
                        <div class="across">
                        </div>
                        <div class="triangle">
                            <img src="./img/imgTriangle.png" />
                        </div>
                        <div class="menuBox big" style="right: 0">
                            <a href="address.html#link_002">
                                <div class="menuIcon">
                                    <img src="./img/icon/menuIcon_35.png" />
                                </div>
                                <p class="menuText">
                                    票易通新媒体
                                </p>
                                <div class="codeBox">
                                    <div class="codeImg">
                                        <img src="./img/common/wechat.png" />
                                    </div>
                                    <p class="codeText">
                                        官方微信
                                    </p>
                                </div>
                                <div class="codeBox">
                                    <div class="codeImg">
                                        <img src="./img/common/weibo.png">
                                    </div>
                                    <p class="codeText">
                                        官方微博
                                    </p>
                                </div>
                                <div class="line">
                                </div>
                            </a>
                            <a href="address.html#link_001" style="width: 220px;">
                                <div class="menuIcon">
                                    <img src="./img/icon/menuIcon_34.png" />
                                </div>
                                <p class="menuText">
                                    联系方式
                                </p>
                                <p class="text">
                                    商务QQ:4006304000
                                    <br/>
                                    技术支持:400-630-4000
                                    <br/>
                                    商务联系:biz@xforceplus.com
                                    <br/>
                                    市场合作:mrkt@xforceplus.com
                                </p>
                                <div class="line">
                                </div>
                            </a>
                        </div>
                    </li>
                    <li class="on">
                        <a href="join.html">
                            加入我们
                        </a>
                        <div class="across">
                        </div>
                        <div class="triangle">
                            <img src="./img/imgTriangle.png" />
                        </div>
                        <div class="menuBox small">
                            <a href="join.html#link_002">
                                <div class="menuIcon">
                                    <img src="./img/icon/menuIcon_33.png" />
                                </div>
                                <p class="menuText">
                                    招聘专页
                                </p>
                                <div class="line">
                                </div>
                            </a>
                            <a href="join.html#link_001">
                                <div class="menuIcon">
                                    <img src="./img/icon/menuIcon_32.png" />
                                </div>
                                <p class="menuText">
                                    核心团队
                                </p>
                                <div class="line">
                                </div>
                            </a>
                        </div>
                    </li>
                    <li>
                        |
                    </li>
                    <li>
                        <a href="about.html">
                            关于票易通
                        </a>
                        <div class="across">
                        </div>
                        <div class="triangle">
                            <img src="./img/imgTriangle.png" />
                        </div>
                        <div class="menuBox small">
                            <a href="about.html?type=0#link_003">
                                <div class="menuIcon">
                                    <img src="./img/icon/menuIcon_31.png" />
                                </div>
                                <p class="menuText">
                                    大事记
                                </p>
                            </a>
                            <a href="about.html?type=1#link_003">
                                <div class="menuIcon">
                                    <img src="./img/icon/menuIcon_30.png" />
                                </div>
                                <p class="menuText">
                                    荣誉资质
                                </p>
                                <div class="line">
                                </div>
                            </a>
                            <a href="about.html#link_002">
                                <div class="menuIcon">
                                    <img src="./img/icon/menuIcon_29.png" />
                                </div>
                                <p class="menuText">
                                    企业文化
                                </p>
                                <div class="line">
                                </div>
                            </a>
                            <a href="about.html#link_001">
                                <div class="menuIcon">
                                    <img src="./img/icon/menuIcon_28.png" />
                                </div>
                                <p class="menuText">
                                    公司简介
                                </p>
                                <div class="line">
                                </div>
                            </a>
                        </div>
                    </li>
                    <li>
                        <a href="news.html">
                            新闻中心
                        </a>
                        <div class="across">
                        </div>
                        <div class="triangle">
                            <img src="./img/imgTriangle.png" />
                        </div>
                        <div class="menuBox small">
                            <a href="news.html?type=4">
                                <div class="menuIcon">
                                    <img src="./img/icon/menuIcon_10.png" />
                                </div>
                                <p class="menuText">
                                    媒体报道
                                </p>
                                <div class="line">
                                </div>
                            </a>
                            <a href="news.html?type=2">
                                <div class="menuIcon">
                                    <img src="./img/icon/menuIcon_9.png" />
                                </div>
                                <p class="menuText">
                                    市场动态
                                </p>
                                <div class="line">
                                </div>
                            </a>
                            <a href="news.html?type=1">
                                <div class="menuIcon">
                                    <img src="./img/icon/menuIcon_8.png" />
                                </div>
                                <p class="menuText">
                                    集团快讯
                                </p>
                                <div class="line">
                                </div>
                            </a>
                            <a href="news.html?type=0">
                                <div class="menuIcon">
                                    <img src="./img/icon/menuIcon_7.png" />
                                </div>
                                <p class="menuText">
                                    政策解读
                                </p>
                            </a>
                        </div>
                    </li>
                    <li>
                        <a href="client.html">
                            客户与案例展示
                        </a>
                        <div class="across">
                        </div>
                        <div class="triangle">
                            <img src="./img/imgTriangle.png" />
                        </div>
                        <div class="menuBox small">
                            <a href="client.html#link_002">
                                <div class="menuIcon">
                                    <img src="./img/icon/menuIcon_6.png" />
                                </div>
                                <p class="menuText">
                                    案例展示
                                </p>
                                <div class="line">
                                </div>
                            </a>
                            <a href="client.html#link_001">
                                <div class="menuIcon">
                                    <img src="./img/icon/menuIcon_5.png" />
                                </div>
                                <p class="menuText">
                                    我们的客户
                                </p>
                            </a>
                        </div>
                    </li>
                    <li>
                        <a href="product.html">
                            产品与解决方案
                        </a>
                        <div class="across">
                        </div>
                        <div class="triangle">
                            <img src="./img/imgTriangle.png" />
                        </div>
                        <div class="menuBox">
                            <a href="product.html#link_001">
                                <div class="menuIcon">
                                    <img src="./img/icon/menuIcon_4.png" />
                                </div>
                                <p class="menuText more">
                                    电子发票开具服务
                                    <br/>
                                    平台
                                </p>
                                <div class="line">
                                </div>
                            </a>
                            <a href="product.html#link_001">
                                <div class="menuIcon">
                                    <img src="./img/icon/menuIcon_3.png" />
                                </div>
                                <p class="menuText">
                                    增值税发票管理
                                </p>
                                <div class="line">
                                </div>
                            </a>
                            <a href="product.html#link_001">
                                <div class="menuIcon">
                                    <img src="./img/icon/menuIcon_2.png" />
                                </div>
                                <p class="menuText more">
                                    全国集中纳税申报
                                    <br/>
                                    及税务分析
                                </p>
                                <div class="line">
                                </div>
                            </a>
                            <a href="product.html#link_001">
                                <div class="menuIcon">
                                    <img src="./img/icon/menuIcon_1.png" />
                                </div>
                                <p class="menuText">
                                    供应链结算协同
                                </p>
                            </a>
                        </div>
                    </li>
                    <li>
                        <a href="index.html">
                            首页
                        </a>
                        <div class="across">
                        </div>
                    </li>
                </ul>
                <div class="line clear">
                </div>
            </div>
        </div>
    </div>
        <div class="main" >
            <div class="contentBox boxShadow" style="padding-bottom: 35px;">
                <!-- <div class="contentTitle" id="link_001">
                    用户服务协议
                    <div class="line">
                    </div>
                </div> -->
                <div class="zhaoweiguang">
                    <p>本服务协议是发票管理系统与用户（下称为“您”）共同缔结的对双方具有约束力的有效契约。 </p>
                    <p>发票管理系统运营支持团队向您提供发票管理系统上所展示的产品与服务（下称“发票管理及供应链协同服务”、“本服务”），并将不断更新服务内容，最新的发票管理及供应链协同服务以本网站相关产品及服务介绍页面展示的以及向您实际提供的为准。 </p>
                    <p>总则</p>
                    <p>您确认：您在使用本服务之前，已经充分阅读、理解并接受本服务协议的全部内容，一旦您和发票管理系统签署服务协议并使用本服务，即表示您同意遵循本服务协议之所有约定。 您同意：发票管理系统有权随时对本服务协议及相应的服务规则内容进行单方面的变更，并有权以消息推送、网页公告等方式予以公布，而无需另行单独通知您；若您在本服务协议内容公告变更后继续使用本服务的，表示您已充分阅读、理解并接受修改后的协议内容，也将遵循修改后的协议内容使用本服务；若您不同意修改后的服务协议，您应立即停止使用本服务。 本协议内容同时包括可能不断发布的关于所提供服务的相关协议、业务规则、保密协议等内容。上述内容一经正式发布，即为本协议不可分割的组成部分，您同样应当遵守。 </p>
                    <p>一、关于发票管理系统账号</p>
                    <p>1.账号说明 </p>
                    <p>1.1）发票管理系统账号不能自主注册。 </p>
                    <p>1.2）如您需要开通发票管理系统帐号，必须向发票管理系统提出申请，经签署服务协议并支付相关费用后，由发票管理系统为您开通。 </p>
                    <p>2.帐号开通 </p>
                    <p>2.1）开通者资格 </p>
                    <p>您确认：在您完成与发票管理系统签署服务协议或以其他发票管理系统允许的方式实际使用本服务时，您应当是具备完全民事权利能力和完全民事行为能力的法人或其他组织（以下统称为“法律主体”） </p>
                    <p>2.2）开通账号 </p>
                    <p>在使用本服务前，您同意并保证： </p>
                    <p>您确保您已充分了解并正确选择了账号类型。如因账号类型引起的后续问题，发票管理系统将不承担任何责任。 </p>
                    <p>您所提供用户信息是真实、准确、完整、及时的，且保证发票管理系统可以通过您所填写的联系方式与您取得联系。 </p>
                    <p>您应根据发票管理系统对于服务的要求及时提供相应的身份证明，企业资质等资料，否则发票管理系统有权拒绝向您提供相关服务。 若您提供的资料或信息包含有不正确、不真实的信息，发票管理系统保留取消您账号资格并随时结束为您提供服务的权利。 您应当准确填写并及时更新您提供的电子邮件地址、联系电话、联系地址、邮政编码等联系方式，以便发票管理系统与您进行有效联系，因通过这些联系方式无法与您取得联系，导致您在使用本服务过程中产生任何损失或增加费用的，应由您完全独自承担。您了解并同意，您有义务保持您提供的联系方式的有效性，如有变更需要更新的，您应按发票管理系统的要求进行操作。 </p>
                    <p>（3）账号责任 </p>
                    <p>3.1）发票管理系统通过您的用户名和密码识别您的指示，请您妥善保管您的用户名和密码，对于因密码泄露所致的损失，由您自行承担。若您发现有他人冒用或盗用您的账号及密码或任何其他未经合法授权之情形时，应立即以有效方式通知发票管理系统，要求发票管理系统暂停相关服务。同时，您理解发票管理系统对您的请求采取行动需要合理期限，在此之前，发票管理系统对已执行的指令及所导致的您的损失不承担任何责任。</p>
                    <p>3.2）您理解并同意，发票管理系统有权了解您使用本网站产品及服务的真实背景及目的，有权要求您如实提供真实、全面、准确的信息；如果发票管理系统有合理理由怀疑您提供的信息不真实、您进行虚假交易，或您的行为违反国家相关法律法规，发票管理系统有权暂时或永久限制您账号下所使用的所有产品及/或服务的部分或全部功能。</p>
                    <p>3.3）.您理解并同意，发票管理系统有权按照国家司法、行政、军事、安全等机关（包括但不限于公安机关、检察机关、法院、海关、税务机关、安全部门等）的要求对您的帐号信息及在本网站的资金、交易等进行查询。 </p>
                    <p>4.账号注销</p>
                    <p>发票管理系统保留在您违反国家、地方法律法规规定或违反本服务协议的情况下，中止或终止为您提供部分或全部服务、直至注销发票管理系统账号的权利。 </p>
                    <p>二、资质材料</p>
                    <p>1.您保证具备使用本服务、运营产品或提供服务等的相关合法资质或经过了相关政府部门的审核批准，您的行为不违反任何相关法律法规及协议、规则，也不会侵犯任何人的合法权益。 </p>
                    <p>2.您应按照发票管理系统要求提交相关主体资质材料，包括但不限于税务登记证、营业执照、组织机构代码证、法人代表身份证明等文件、联系人姓名（名称）、联系地址、电子邮箱等相关资料。您保证提供的资料真实、合法、准确、完整，并在相关信息发生变更后，及时进行更新。 </p>
                    <p>三、用户的权利与义务</p>
                    <p>1.您保证不会利用技术或其他手段破坏或扰乱本网站及发票管理系统其他客户的网站。 </p>
                    <p>2.您保证使用本服务时将遵从国家、地方法律法规。 </p>
                    <p>3.当您在违反发票管理系统服务协议的情况下，发票管理系统有权拒绝继续为用户提供任何服务。 </p>
                    <p>4.您有权利要求发票管理系统为用户支付的服务费用开取正规发票，发票中的金额仅包括用户支付的现金部分，不包括发票管理系统的赠送部分。同时提交开具发票所需的资质信息。 </p>
                    <p>5.您应自行对因使用本服务而存储在发票管理系统服务器的各类数据等信息，在本服务之外，采取合理、安全的技术措施，确保其安全性和完整性，并对自己的行为（包括但不限于欠费，自行安装软件、采取加密措施或进行其他安全措施等）所引起的结果承担全部责任。 </p>
                    <p>四、发票管理系统的权利与义务</p>
                    <p>1.发票管理系统有权利对您进行审查并决定是否接受您成为发票管理系统用户。 </p>
                    <p>发票管理系统保留在您违反国家、地方现行法律法规规定或违反本协议的情况下单方终止为您提供服务的权利，并有权配合国家上级主管部门，对您进行审查，并且在任何情况下，发票管理系统对任何间接、偶然、特殊及继起的损害不承担赔偿责任。 </p>
                    <p>2.发票管理系统保留在您欠费超过一定天数（具体规则参见产品文档）时将用户帐号注销的权利，一旦注销，帐号将不可恢复。 </p>
                    <p>3.本服务中可能会使用第三方软件或技术，若有使用，发票管理系统保证已经获得合法授权，同时，发票管理系统将按照相关法规或约定，对相关的协议或其他文件进行展示。前述通过各种形式展现的相关协议或其他文件，均是本协议不可分割的组成部分，与本协议具有同等的法律效力，用户应当遵守这些要求。 </p>
                    <p>4.若用户使用发票管理系统产品或服务从事用户的权利与义务中禁止的事项，或利用发票管理系统从事违法或有损他人的事项，发票管理系统有权对用户进行审查，停用账户，并删除相应违规资源。 </p>
                    <p>五、隐私保护</p>
                    <p>1.为了进一步完善您在使用发票管理系统的体验，向您提供更好的服务，我们会在为您提供服务的过程中收集必要的数据信息，并通过分析这些数据，为您提供更升级、贴心的服务。</p>
                    <p>2.我们不会在未经合法用户授权时，公开、编辑或透露用户的帐号信息及保存在发票管理系统中的非公开内容，除非有下列情况： </p>
                    <p>（1）有关法律、法规规定或发票管理系统合法服务程序规定； </p>
                    <p>（2）在紧急情况下，为维护用户及公众的权益； </p>
                    <p>（3）为维护发票管理系统的商标权、专利权及其他任何合法权益；</p>
                    <p>（4）其他依法需要公开、编辑或透露个人信息的情况。 </p>
                    <p>3.在以下（包括但不限于）几种情况下，发票管理系统有权使用您的账户信息： </p>
                    <p>（1）依据我国现行有效的法律法规的规定应当提供的。 </p>
                    <p>（2）行政、司法等职权部门在某些特殊情形下要求提供的。 </p>
                    <p>（3）用户同意发票管理系统向第三方提供的。 </p>
                    <p>（4）发票管理系统解决举报事件、提起诉讼而提交的。 </p>
                    <p>（5）发票管理系统为防止严重违法行为或涉嫌犯罪行为发生而采取必要合理行动所必须提交的。</p>
                    <p>4.服务信息的收集和存储 </p>
                    <p>出于a.否则服务无法提供，和b.改善我们的产品和服务，以期更好地满足用户的需求，为用户提供定制化服务，否则您的产品或者服务体验相对会弱化的目的，发票管理系统有可能自动从用户的智能终端（包括手机、电脑等）和浏览器上收集和存储用户的软件信息、硬件信息、用户主动上传至发票管理系统服务器的信息及用户使用偏好信息，上述信息包括但不限于用户手机IMEI号，登录名，操作系统信息，用户的IP地址，Cookie信息，GPS等位置服务使用情况，用户所访问的页面等信息。 </p>
                    <p>5.本网站可能含有到其他网站的链接，但发票管理系统对其他网站的隐私保护措施不负任何责任。发票管理系统可能在任何需要的时候增加商业伙伴或共用品牌的网站。 </p>
                    <p>6.发票管理系统仅按现有技术提供相应的安全措施来使发票管理系统掌握的信息不丢失，不被滥用和变造。这些安全措施包括向其他服务器备份数据和对用户密码加密。尽管有这些安全措施，但发票管理系统不保证这些信息的绝对安全。 </p>
                    <p>7.发票管理系统会将依法收集到的用户的个人信息用于审计、数据分析、研究和关联公司之间分享等内部目的，这样用户可以更好地享受到发票管理系统为用户提供的全面服务，发票管理系统也可以改进发票管理系统的产品与服务。 </p>
                    <p>六、免责声明</p>
                    <p>1.发票管理系统不保证（包括但不限于）： </p>
                    <p>（1）发票管理系统适合所有用户的使用要求； </p>
                    <p>（2）发票管理系统在极端情况下不受干扰，及时、安全、可靠或不出现错误；及用户经由发票管理系统取得的任何产品、服务或其他材料符合用户的期望。 </p>
                    <p>2.发票管理系统保留您违反国家、地方法律法规规定或违反本服务协议的情况下中止或终止为您提供服务的权利。 </p>
                    <p>3.您在使用本服务过程中，本协议内容、页面上出现的关于交易操作的提示或发票管理系统发送到您手机的信息（短信或电话等）内容是您使用本服务的相关规则，您使用本服务即表示您同意接受本服务的相关规则。您了解并同意发票管理系统有权单方修改服务的相关规则，而无须征得您的同意，服务规则应以用户使用服务时的页面提示（或发送到该手机的短信或电话等）为准，您同意并遵照服务规则是您使用本服务的前提。 </p>
                    <p>4.发票管理系统可能会以电子邮件（或发送到您手机的短信或电话等）方式通知您服务进展情况以及提示用户进行下一步的操作，但发票管理系统不保证用户能够收到或者及时收到该邮件（或发送到该手机的短信或电话等），且对此承担任何后果。因此，在服务过程中您应当及时登录到本网站查看和进行交易操作。因您没有及时查看和对服务状态进行修改或确认或未能提交相关申请而导致的任何纠纷或损失，发票管理系统不负任何责任。 </p>
                    <p>5.对由于您向发票管理系统提供的联络方式有误以及用户用于接收发票管理系统邮件的电子邮箱安全性、稳定性不佳而导致的一切后果，您应自行承担责任，包括但不限于因您未能及时收到发票管理系统的相关通知而导致的后果和损失。 </p>
                    <p>6.系统中断或故障 </p>
                    <p>系统可能因下列状况无法正常运作，使您无法使用各项联网服务时，发票管理系统不承担损害赔偿责任，该状况包括但不限于： </p>
                    <p>（1）发票管理系统在系统停机维护期间。 </p>
                    <p>（2）电信设备出现故障不能进行数据传输的。 </p>
                    <p>（3）因台风、地震、海啸、洪水、停电、战争、恐怖袭击等不可抗力之因素，造成发票管理系统系统障碍不能执行业务的。 </p>
                    <p>（4）由于黑客攻击、电信部门技术调整或故障、网站升级、银行方面的问题等原因而造成的服务中断或者延迟。 </p>
                    <p>7.本服务之合作单位，所提供之服务品质及内容由该合作单位自行负责。</p>
                    <p>8.在法律允许的情况下，发票管理系统对于与本协议有关或由本协议引起的任何间接的、惩罚性的、特殊的、派生的损失（包括业务损失、收益损失、利润损失、使用数据或其他经济利益的损失），不论是如何产生的，也不论是由对本协议的违约（包括违反保证）还是由侵权造成的，均不负有任何责任，即使事先已被告知此等损失的可能性。另外即使本协议规定的排他性救济没有达到其基本目的，也应排除发票管理系统对上述损失的责任。 </p>
                    <p>9.您理解并同意：发票管理系统的服务是按照现有技术和条件所能达到的现状提供的。发票管理系统会尽最大努力向您提供服务，确保服务的连贯性和安全性；但发票管理系统不能保证其所提供的服务毫无瑕疵，也无法随时预见和防范法律、技术以及其他风险，包括但不限于不可抗力、病毒、木马、黑客攻击、系统不稳定、第三方服务瑕疵、政府行为等原因可能导致的服务中断、数据丢失、数据泄露或被窃取以及其他的损失和风险。所以您同意：即使发票管理系统提供的服务存在瑕疵，但上述瑕疵是当时行业技术水平所无法避免的，其将不被视为发票管理系统违约，同时，由此给您造成的数据或信息丢失等损失发票管理系统将予以免责。 </p>
                    <p>10.您理解并同意：在使用本服务的过程中，可能会遇到不可抗力等风险因素，使本服务发生中断。出现上述情况时，发票管理系统将努力在第一时间与相关单位配合，及时进行修复，但是由此给您造成的损失发票管理系统将予以免责。 </p>
                    <p>七、知识产权声明</p>
                    <p>发票管理系统所有的产品、技术与所有程序均属于发票管理系统的知识产权。“发票管理系统”其他产品服务名称及相关图形、标识等为发票管理系统的注册商标。未经发票管理系统的许可，任何人不得擅自（包括但不限于：以非法的方式复制、传播、展示、镜像、上载、下载）使用。否则，发票管理系统将依法追究法律责任。 </p>
                    <p>八、其他</p>
                    <p>1.本协议一经公布立即生效，发票管理系统有权随时对协议内容进行修改，修改后的结果公布于发票管理系统网站上。如果不同意发票管理系统对本协议相关协议所做的修改，您有权停止使用发票管理系统服务。若您继续使用发票管理系统服务，则视为您接受发票管理系统对本协议相关协议所做的修改。</p>
                    <p>2. 发票管理系统拥有对本协议项下的各类优惠活动包括但不限于邀请码、代金券，虚拟货币的合理处理权及最终解释权。</p>
                    <p>3.本协议项下发票管理系统对于您所有的通知均可通过网页公告、站内信、电子邮件、手机短信或其他形式等方式进行；该等通知于发送之日视为已送达收件人。 </p>
                    <p>4.本协议的订立、执行和解释及争议的解决均应适用中国法律并受中国法院管辖。如双方就本协议内容或其执行发生任何争议，双方应尽量友好协商解决；协商不成时，任何一方均可向深圳市福田区人民法院提起诉讼。 </p>
                    <p>5.本协议构成双方对本协议之约定事项及其他有关事宜的完整协议，除本协议规定的之外，未赋予本协议各方其他权利。 </p>
                    <p>6.如本协议中的任何协议无论因何种原因完全或部分无效或不具有执行力，本协议的其余协议仍应有效并且有约束力。</p>
                </div>
                    <div class="contentTitle" id="link_001">
                        服务协议补充协议
                        <div class="line">
                        </div>
                    </div>
                <div class="zhaoweiguang">
                    <p>一、服务保证指标（功能性指标）</p>
                    <p>票易通企业云平台为您所购买的增值税发票管理服务制定服务等级指标，并向您承诺提供增值税发票管理方面最大程度的保障。同时，票易通企业云平台有权根据变化适时对部分指标作出调整。若无特殊约定，本条款中的“月”均指30个自然日，按开通时间起算。</p>
                    <p>1、 数据存储持久性</p>
                    <p>根据国家会计档案管理标准，提供电子数据10年的存储。</p>
                    <p>云磁盘数据持久性：不低于99.999%；数据持久性按服务周期统计，一个服务周期为一个自然月，如不满一个月不计算为一个服务周期。</p>
                    <p>数据持久性计算公式：每服务周期完好数据的云磁盘/(每服务周期完好数据的云磁盘+每服务周期丢失数据的云磁盘)。即，每100000个云磁盘，每月数据不丢失的概率为99.999%，即每月最多只有1个云磁盘可能发生数据丢失。</p>
                    <p>2、 数据可销毁性</p>
                    <p>在用户主动删除数据或用户服务期满后需要销毁数据的情况下，票易通云平台将于3个工作日按照客户清除客户指定数据对应的云服务器上磁盘和内存数据，使得数据无法恢复，我司采用阿里云底层设备，如有镜像或快照也将一并删除。</p>
                    <p>3、 数据可迁移性</p>
                    <p>提供镜像复制和快照恢复的方式，以便于用户快速部署环境并迁入数据；用户停止使用时，可以通过网络自行迁出数据，迁出数据类型按需求可提供主机快照镜像（iso）或数据库（sql）以及其它支持格式。</p>
                    <p>4、 数据私密性</p>
                    <p>所有用户查看数据，仅能通过web页面方式，不同用户之间信息完全隔离，且经过第三方安全测试，平台无垂直越权和sql注入的漏洞，普通用户无法查看其他用户数据。</p>
                    <p>平台管理员账号除了查看用户业务的履历记录、用户的付款记录、用户的公司信息以及授权普通用户申请的权限之外，不拥有对用户的业务数据进行退回、修改、删除等操作。</p>
                    <p>票易通后台人员修改普通账号的权限和修改密码，需要获得用户的协助申请，经过运营管理人员严格的审查确认之后，才能执行以及记录操作，且提供操作审计。</p>
                    <p>5、 服务功能</p>
                    <p>票易通企业云平台提供的增值税发票管理服务，具体包括以下内容：</p>
                    <p>1）平台账号的申请、审核和发放</p>
                    <p>2）配置、修改和核对开具发票规则</p>
                    <p>3）结算单上传（核心地产商）、结算单查看和根据结算单生成预制发票</p>
                    <p>4）查看预制发票详情，生成正式增值税发票和查看正式发票</p>
                    <p>5）打印结算单封面，生成发票一览表</p>
                    <p>6）选择和配置快递信息，快递发票和查看物流信息</p>
                    <p>所有功能均已提供详细的功能介绍和使用说明文档。详细参见《票易通云平台2.0操作手册》。</p>
                    <p>根据服务功能不断优化的需求以及新功能加入的需求，票易通企业云平台固定以2周为周期（双周周三）进行服务版本迭代，如出现紧急bug或者故障等紧急情况下可根据实际需求临时制定版本迭代计划。</p>
                    <p>固定迭代计划里，在每个双周的周二，产品相关人员以邮件形式向核心客户方面说明迭代内容以及迭代计划；在紧急情况下，在临时服务版本迭代完成后的第二天，向受到影响的用户说明迭代内容。其他推送方式比如，微信公众号推送功能，正在开发之中。</p>
                    <p>6、 服务可用性</p>
                    <p>云平台服务可用性：不低于99%。</p>
                    <p>可用性计算公式为：每服务周期云平台所有可用时间/（每服务周期云平台所有可用时间＋每服务周期云平台所有不可用时间）。其中：</p>
                    <p>可用性按服务周期统计，一个服务周期为一个自然月，如不满一个月不计算为一个服务周期，统计的业务单元为单个实例，时间单位为分钟。</p>
                    <p>不可用时间：所提供的服务在连续的5分钟或更长时间不可使用方计为不可用时间，不可使用的服务时间低于5分钟的，不计入不可用时间。不可用时间不包括日常计划系统维护时间、由用户原因、第三方原因或不可抗力导致的不可用时间。</p>
                    <p>7、 服务资源调配能力</p>
                    <p>票易通企业云平台对用户接入数量不做限制，系统根据用户需求以及实时的监控记录，动态扩展资源。通过增加负载资源，集群资源提升用户负载量。</p>
                    <p>票易通企业云平台基于阿里云提供的云上环境，可对如下服务资源进行调配：</p>
                    <p>1）CPU核心数  调整最小单位2核，最大单位为原始配置2倍（扩容），减配根据实际情况不限  离线调整    调整时间5分钟</p>
                    <p>2）内存容量    调整最小单位4G   最大单位为原始配置2倍（扩容），减配根据实际情况不限  离线调整    调整时间5分钟</p>
                    <p>3）磁盘容量    调整最小单位1G  最大单位为原始配置2倍（扩容），减配根据实际情况不限  在线调整    调整时间2分钟</p>
                    <p>4）带宽        调整最小单位1M   最大单位为原始配置2倍（扩容），减配根据实际情况不限 在线调整    调整时间2分钟</p>
                    <p>5）云服务器    调整最小单位1台   最大单位为原始配置2倍（扩容），减配根据实际情况不限 在线调整   调整时间 5分钟</p>
                    <p>6）域名解析    调整最小单位1个   最大单位为原始配置2倍（扩容），减配根据实际情况不限 在线调整   调整时间3分钟</p>
                    <p>CPU 最高可达 64 核，内存最高可达 384GB，本地磁盘单盘容量最高可达 3700GB，云磁盘单盘容量最高可达 16TB，宽带最高可达 1000Mbps。</p>
                    <p>8、 故障恢复能力</p>
                    <p>票易通企业云平台提供7×24小时的运行维护，并提供技术支持，具备完善的故障监控、自动告警、快速定位、快速恢复等一系列故障应急响应机制，恢复时优先选择最近一次快照进行还原，也可根据用户实际要求恢复至某个时间点，票易通云平台提供7×24故障监控与恢复服务</p>
                    <p>9、 数据知情权</p>
                    <p>为保证用户数据的安全性，票易通企业云平台将用户数据主要存放在二个位置，分别是：阿里云华东区（浙江杭州）数据中心、腾讯云华东数据中心。</p>
                    <p>其中阿里云华东区数据为用户在用数据库，腾讯云华东数据中心主要提供异地的热备，灾难备份数据及冷备数据。</p>
                    <p>热备灾备数据与主库仅存在500ms延迟，冷备数据按天保存并根据等保规定，存放180天。</p>
                    <p>热备数据不可拷贝，下载，并且只能在进行初始化配置之后，才能访问；冷备数据仅备份人员可以访问，并且只能在重新构建数据库之后，才能读取数据。</p>
                    <p>用户所有数据不会提供给任意第三方，除政府监管部门监管审计需要。用户所有数据不会存在国外数据中心或用于国外业务或数据分析。</p>
                    <p>10、业务可审查性</p>
                    <p>票易通企业云平台在依据现有法律法规体系下，出于配合政府监管部门的监管需求或者基于安全事件发生或者相关安全疑点需要进行安全取证调查等原因，在符合相关运作流程和手续完备的情况下，可以提供云服务器相关运行信息和系统运行日志、运维人员对云服务器的操作记录、后台人员对用户数据的访问记录、用户自身的操作记录等信息。</p>
                    <p>11、 网络接入性能</p>
                    <p>票易通企业云平台依托阿里云网络资源接入，使用的BGP链路，接入的是BGP的机房，全面覆盖超 20 线运营商接入，包括联通、移动、电信、网通、铁通、教育网、科技网、广电网等，保障网络接入质量，网络运营商的所有骨干路由设备将会判断到IDC机房IP段的最佳路由，以保证不同网络运营商用户的高速访问，客户可根据实际情况在签约时确定带宽配置或在服务中修改带宽配置，带宽依托阿里云网络资源，上下行不限，资费可能因带宽不同而不同。</p>
                    <p>12、 服务计量准确性</p>
                    <p>票易通企业云平台具备准确、透明的计费系统，根据用户按照套餐或按量(发票量)计费据实结算，实时扣费，具体计费标准以企业官网公布的有效的计费模式与价格为准。用户的原始计费日志默认最少保留1年备查。</p>
                    <p>13、 服务变更、中断和终止</p>
                    <p>鉴于网络服务的特殊性，票易通企业云平台有权利随时变更或终断部分或者全部服务，并无需对用户承担责任。此外，由于本服务涉及互联网和第三方云上平台，可能会因为票易通企业云平台无法预测或控制的原因，造成服务的中断、取消和终止，由此给用户造成的损失，票易通企业云平台无需承担赔偿责任。</p>
                    <p>为了网站的正常运行，票易通企业云平台有权定期或者不定期的对提供网站服务的平台（包括平台网站和客户端等在内的各种形态）或相关的设备进行检修或者维护，由此而造成的服务中断，票易通企业云平台将尽力避免中断或者将中断事件限制在最短时间内，在合理时间内的服务中断，票易通企业云平台无需为此承担任何责任。</p>
                    <p>如发生下列任何一项情形，票易通企业云平台有权中断或者终止向用户提供网站服务而无须向用户或者任何第三方承担任何责任：</p>
                    <p>1）用户提供的材料不真实</p>
                    <p>2）用户违反服务协议的有关规定</p>
                    <p>3）用户在使用平台提供的服务时，未向票易通企业云平台支付相应的费用</p>
                    <p>14、 服务赔偿</p>
                    <p>由于票易通企业云平台的故障原因导致用户的服务不可正常使用或者数据丢失，用户要求票易通企业云平台针对事故/故障而进行补偿时，参考票易通企业云平台中正式披露的《用户服务协议》所述之内容，进行处理。</p>
                    <p>15、用户性能体验</p>
                    <p>为了使用户可以更好地享受到发票管理系统为用户提供的全面服务，发票管理系统也可以改进发票管理系统的产品与服务，发票管理系统会将依法收集到的用户的个人信息用于审计、数据分析、研究和关联公司之间分享等内部目的。例如使用用户行为分析平台，分析用户行为；通过自建的监控平台，监测用户访问速度；使用第三方的安全工具，监控用户合法与非法的访问等。</p>
                    <p>二、通道服务（非功能性指标）</p>
                    <p>1、可靠性与稳定性</p>
                    <p>采用高可靠性的产品和技术，充分考虑整个系统运行的安全策略和机制，具有较强的容错能力和良好的恢复能力，保障系统安全、稳定、高效的运行。系统的各个部分都采用冗余技术，使整个系统不存在单点故障。</p>
                    <p>系统设计和开发上，各个模块应能独立开发，独立验证，这样保证了程序运行的稳定性的同时，分离应用系统和硬件设备，对系统的各个组件部分独立保证运行可靠性，降低系统故障率。</p>
                    <p>应用系统采用负载均衡加分布式服务部署模式，实现单点服务热发布，在提升系统处理能力的同时，最大程度上提升系统可靠性与稳定性。</p>
                    <p>数据库采用分布式双节点部署模式（物理分离），主节点发生故障、秒级切换至备份数据，保证系统连续、稳定运行。</p>
                    <p>2、安全性</p>
                    <p>安全性是云平台建设的基本原则，需要充分考虑整个系统运行的安全策略和机制，具有较强的容错能力和良好的恢复能力，保障系统安全、稳定、高效的运行。</p>
                    <p>2.1、访问安全</p>
                    <p>由全球信任认证机构签发的CA数字证书对网站身份进行验证；</p>
                    <p>使用HTTPS对数据传输链路加密，有效保证数据的机密性、完整性，防止窃听、篡改、伪装等攻击手段，确保各类核心数据的安全。</p>
                    <p>2.2、数据安全</p>
                    <p>数据库拥有两个物理节点进行主从热备；</p>
                    <p>主节点发生故障，秒级切换至备节点，服务可用性高；</p>
                    <p>多重防火墙及数据加密存储；</p>
                    <p>SQL审计等多种系统跟踪日志；</p>
                    <p>后台运营审计，确保所有操作都能审计。</p>
                    <p>2.3、文件安全</p>
                    <p>文件数据使用海量、安全和高可靠的云存储服务；</p>
                    <p>数据三重备份，可靠性高；</p>
                    <p>提供多层次安全防护；</p>
                    <p>实行多用户隔离机制；</p>
                    <p>完备访问日志，非法访问追查与隔离；</p>
                    <p>2.4、接口安全</p>
                    <p>数据通讯层面使用HTTPS现实数据传输链路加密和服务器身份验证；</p>
                    <p>通讯方接入账号和IP白名单的双重验证，提高集成接口安全性；</p>
                    <p>实时监控系统接口，发生异常时自动隔离异常应用系统。</p>
                    <p>2.5、控制台安全</p>
                    <p>系统提供基于角色的权限管理功能来对控制台管理操作进行授权，授权操作是基于配置式的，且对于角色的授权可以精确到菜单级，也可以授权到更细的单个数据、按钮操作，并对用户的每一步操作都留有日志供审计与追溯。</p>
                    <p>3、可维护性和可管理性</p>
                    <p>记录完整的系统错误日志，在系统处理异常时，都能够根据已记录的日志，快捷方便地定位出错误地具体位置、原因，而不是查阅程序，方便系统的维护。</p>
                    <p>系统提供对运行情况的监测和控制功能，从而保证系统的正常运行，同时，有效的业务量监控有助于对业务发展作出准确评估，可保证系统处理能力的及时扩容。系统应具备有效的、统一的手段和机制进行设备管理、应用软件环境设置调整管理、开发管理以及操作员、管理员管理。</p>
                    <p>4、可扩展性</p>
                    <p>云平台系统架构的设计模式，实现应用层、数据库层的全层级分布式部署，使业务功能的扩展可以方便的实现；因此系统软硬件平台具有良好的可扩充能力，可以通过工具配置，自动部署，支持系统规模的扩大和业务范围的扩展。</p>
                    <p>5、开放性和标准化</p>
                    <p>系统采用基于SOA技术架构，系统实现底层的接入与业务的处理分离，采用模块化，在增加新业务时不需要更改系统的软件结构和网络结构。易于维护，能够实现与各类异构系统的全面集成。</p>
                    <p>6、适用性</p>
                    <p>本平台服务仅适用的电脑环境：</p>
                    <p>硬件配置：CPU，4核；2G以上内存；1G的空余硬盘空间。</p>
                    <p>操作系统，支持浏览器为：IE的8.0及以上版本、Chrome浏览器（40以上版本）。</p>
                </div>
            </div>
            <div class="clear">
            </div>
        </div>
        <div class="footer">
            <div class="contentBox">
                <div class="contentTitle">
                    商务咨询快速通道
                    <div class="line">
                    </div>
                </div>
                <ul class="contactList">
                    <li>
                        <div class="icon">
                            <img src="./img/icon/menuIcon_15.png" />
                        </div>
                        400-630-4000
                    </li>
                    <li>
                        <div class="icon">
                            <img src="./img/icon/menuIcon_16.png" />
                        </div>
                        <a href="tencent://message/?Menu=yes&uin=938074808&Service=58&SigT=03EDD2C1C174C9F0909501F5AF1EA8D33265A94451EF83DBF251DF110B5BFB17B3DB4046CB3A393E9110DFB0B958C959F178DEBABC13B3AE02A8AAA71F49309E17ED7028C30E5BA52A43E490DBD94C1449BD801B657A9A4D9E71415A1D43FD716CE0B115A3096CEE52B2F4DF4CDADA7E5F827CF9CE1EA478&SigU=FF4C978AD6E3E14A7CFFD1EB1888F75C8AA1A1A3D23982F33D6D416E77E2AD4FB60C4B1283B8D3EEABD5E786E6900C19E9359602556AFCAAF3AC6985B468E9493703599654D6DBFB">
                            4006304000
                        </a>
                    </li>
                    <li>
                        <div class="icon">
                            <img src="./img/icon/menuIcon_17.png" />
                        </div>
                        <a href="mailto:support@xforceplus.com?subject=商务咨询&body=商务咨询">
                            support@xforceplus.com
                        </a>
                    </li>
                </ul>
            </div>
            <div class="profileBox">
                <ul class="profileList">
                    <li class="big">
                        <div class="icon">
                            <img src="./img/icon/menuIcon_18.png" />
                        </div>
                        <h1>
                            联系我们
                        </h1>
                        <p>
                            技术支持：400-630-4000
                        </p>
                        <p>
                            商务联系：biz@xforceplus.com
                        </p>
                        <p>
                            市场合作：mrkt@xforceplus.com
                        </p>
                        <div class="vertical">
                        </div>
                    </li>
                    <li>
                        <h1>
                            票易通新媒体
                        </h1>
                        <p>
                            新浪微博：
                            <a target="_blank" href="https://weibo.com/piaoyitong">
                                @票易通
                            </a>
                        </p>
                        <p>
                            微信公众号：xforceplus
                        </p>
                    </li>
                    <li>
                        <h1>
                            关于我们
                        </h1>
                        <p>
                            <a href="about.html">
                                公司简介
                            </a>
                        </p>
                        <p>
                            <a target="_blank" href="service_agreement.html">
                                票易通用户协议
                            </a>
                        </p>
                        <!-- <p>
                            <a href="javascript:;">
                                隐私政策
                            </a>
                        </p> -->
                    </li>
                    <li>
                        <h1>
                            友情链接
                        </h1>
                        <p>
                            <a target="_blank" href="http://www.chinatax.gov.cn/">
                                国家税务总局
                            </a>
                        </p>
                        <p>
                            <a target="_blank" href="http://www.ctax.org.cn/">
                                中国税务网
                            </a>
                        </p>
                    </li>
                </ul>
                <div class="line">
                </div>
                <div class="footerBottom">
                    <div class="logo">
                        <img src="./img/pyt_logo.png" />
                    </div>
                    <div class="textBox">
                        <p>
                            ©2015 XForcePlus票易通发票管理及供应链协同平台
                        </p>
                        <p>
                            <a target="_blank" href="http://www.miitbeian.gov.cn/state/outPortal/loginPortal.action;jsessionid=aZOj1nXNvRypckXWRr4P7yJlijtT2lUXqUlKWHuUCl0NjsegsG6z!-28876814">
                                沪ICP备15034889号-1
                            </a>
                            营业执照注册号：310113001346942
                        </p>
                    </div>
                    <div class="backup">
                        <p>
                            <a target="_blank" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=31011302003536">
                                <img class="ic0" src="./img/common/gh.png" alt="" />
                                沪公网安备 31011302003536 号
                            </a>
                        </p>
                        <p>
                            <a target="_blank" href="https://www.kexinyun.org">
                                <img class="ic1" src="./img/common/preview.png" alt="" />
                                云服务类型：企业级SaaS服务 编号：07058
                            </a>
                        </p>
                    </div>
                    <div class="clear">
                    </div>
                </div>
            </div>
        </div>
    </body>

</html>