<div class="zhw">
  <h2>关于《国家税务总局关于责任保险费企业所得税税前扣除有关问题的公告》的解读</h2>
  <div class="date">
    2018-11-09 13:55:00&nbsp;|&nbsp;来源：国家税务总局&nbsp;|&nbsp;作者：
  </div>
  <div class="TRS_Editor"><style id="_Custom_V6_Style_">
      .TRS_Editor TABLE{font-family:宋体;font-size:14px;}
      .TRS_Editor{font-family:宋体;font-size:14px;}
      .TRS_Editor P{font-family:宋体;font-size:14px;margin-top:0;margin-bottom:0;line-height:2;}
      .TRS_Editor H1,.TRS_Editor H2,.TRS_Editor H3,.TRS_Editor H4,.TRS_Editor H5,.TRS_Editor H6,.TRS_Editor HR,.TRS_Editor BLOCKQUOTE,.TRS_Editor DL,.TRS_Editor DD,.TRS_Editor DT,.TRS_Editor OL,.TRS_Editor UL,.TRS_Editor LI,.TRS_Editor PRE,.TRS_Editor CODE,.TRS_Editor TEXTAREA,.TRS_Editor SELECT,.TRS_Editor CITE,.TRS_Editor PRE,.TRS_Editor CENTER,.TRS_Editor TABLE,.TRS_Editor DIV{margin-top:0;margin-bottom:0;line-height:2;}
      .TRS_Editor FORM,.TRS_Editor FIELDSET,.TRS_Editor LEGEND,.TRS_Editor SELECT,.TRS_Editor TR,.TRS_Editor TD,.TRS_Editor TH{margin-top:0;margin-bottom:0;line-height:2;}
      .TRS_Editor BUTTON,.TRS_Editor OPTION,.TRS_Editor ADDRESS,.TRS_Editor DFN,.TRS_Editor EM,.TRS_Editor VAR,.TRS_Editor KBD,.TRS_Editor INPUT,.TRS_Editor SMALL,.TRS_Editor SAMP,.TRS_Editor SUB,.TRS_Editor SUP,.TRS_Editor SPAN,.TRS_Editor A,.TRS_Editor B,.TRS_Editor I,.TRS_Editor U,.TRS_Editor S,.TRS_Editor STRONG,.TRS_Editor LABEL,.TRS_Editor IMG,.TRS_Editor BR,.TRS_Editor FONT{margin-top:0;margin-bottom:0;text-indent:0;}
    </style>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;近期，税务总局发布了《国家税务总局关于责任保险费企业所得税税前扣除有关问题的公告》（以下简称《公告》），对雇主责任险、公众责任险等责任保险的税前扣除问题进行了明确。现就《公告》的主要内容解读如下：</p>
    <p>&nbsp;&nbsp;<strong>&nbsp; 一、出台背景 <br>
      </strong>&nbsp;&nbsp;&nbsp;&nbsp;随着我国经济的发展，责任保险在企业经营活动中的使用频率越来越高，对企业分散经营责任风险、切实保护当事人权益、促进社会和谐稳定具有重要的作用。近期，有关部门、企业反映雇主责任险、公众责任险等责任保险费企业所得税税前扣除问题。为统一责任保险费税前扣除政策口径，便于纳税人执行，更好地促进企业化解经营责任风险，增强抗风险能力，我局发布了《公告》。 <br>
      &nbsp;&nbsp;<strong>&nbsp;&nbsp;二、主要内容 <br>
      </strong>&nbsp;&nbsp;&nbsp;&nbsp;雇主责任险、公众责任险等责任保险是参加责任保险的企业出现保单中所列明的事故，需对第三者如损害赔偿责任时，由承保人代其履行赔偿责任的一种保险。由于企业参加雇主责任险、公众责任险等责任保险缴纳的保险费支出是企业实际发生的，《保险法》也规定财产保险业务包括责任保险，为此，根据《中华人民共和国企业所得税法》及其实施条例有关规定，《公告》明确，企业参加雇主责任险、公众责任险等责任保险，按照规定缴纳的保险费，准予在企业所得税前扣除。 <br>
      &nbsp;<strong>&nbsp;&nbsp;&nbsp;三、执行日期 <br>
      </strong>&nbsp;&nbsp;&nbsp;&nbsp;根据企业所得税按年计算的原则，《公告》适用于2018年度及以后年度企业所得税汇算清缴。</p>
  </div>

</div>