<div class="title">
  <h1>特殊的荣誉：票易通被《文汇报》连续「点名」</h1>
  <p class="time">原创：票易通 2019-1-30</p>
</div>
  <div class="imgBox">
    <img src="./newsthumb/1.png"/>
    <!--<p class="imgText">图片文字说明</p>-->
  </div>
<div class="imgBox">
  <img src="./newsimg/type030.jpg"/>
  <!--<p class="imgText">图片文字说明</p>-->
</div>
  <p class="text">
    1 月 18 日，《文汇报》刊发专题文章《票易通：小切口「钻」出大市场》。这篇文章基于 1 月初《文汇报》记者对票易通 CEO 吴云吴总的专访完成。文章从实际应用出发，高度概括介绍了票易通的发展历程，并敏锐地指出，票易通抓住税制改革的机遇，踏准了未来企业服务的布局。文章总结到：一套好的企业解决方案，可以让企业事半功倍。云砺科技（票易通）通过营改增的切口，显示出这种卓越的能力。
  </p>
  <div class="imgBox">
    <img src="./newsimg/type031.jpg"/>
    <p class="imgText">1月18日《文汇报》影像版</p>
    <p class="imgText"><a target="_blank" href="http://s.yipiaoyun.com/2qv">报道原文：http://s.yipiaoyun.com/2qv</a></p>
  </div>

  <p class="text">
    1 月 29 日，《文汇报》在「上海两会特别报道」专版发表署名文章，再次从肯定和激励杰出创业者的角度，对票易通做了穿插曝光。
  </p>
  <h2></h2>
  <p class="text">
    在这篇题为《擦亮「上海服务」金字招牌，一大批新业态企业用创意巧思和高新技术颠覆超越在上海，生活的一切都是创业者「素材」》的特稿中，围绕「服务」两个字，对票易通体现出来的企业服务精神和创新意识再次给予了充分的肯定。
  </p>
  <p class="text">
    这篇特稿引用票易通 CEO 吴云的话表示：「未来十年中国产业互联网将迎来发展机遇，产业互联网崛起的必备条件是专业能力、技术能力和服务能力，上海有技术储备、人才储备和最好的服务能力，大有可为」。
  </p>

  <div class="imgBox">
    <img src="./newsimg/type032.jpg"/>
    <p class="imgText">1月29日《文汇报》影像版：上海两会特别报道专题</p>
    <p class="imgText"><a target="_blank" href="http://s.yipiaoyun.com/2qv">报道原文：http://s.yipiaoyun.com/2qv</a></p>
  </div>

  <p class="text">
    在短短时间内，票易通得到《文汇报》这样一个重要的官方媒体的两次曝光，不仅是对票易通的充分肯定，更说明公司在发展过程中所取得的巨大成绩和进展已经被行业和市场充分认可。
  </p>

  <h2></h2>

  <p class="text">
    在新的一年里，票易通也将继续坚持自己的发展理念，为客户提供更加优秀的财税产品和服务，为客户创造更大的价值。
  </p>

  <div class="imgBox">
    <img src="./newsimg/type114.gif"/>
  </div>