<div class="footer">
    <div class="contentBox">
        <div class="contentTitle">
            商务咨询快速通道
            <div class="line"></div>
        </div>
        <ul class="contactList">
            <li>
                <div class="icon"><img src="./img/icon/menuIcon_15.png"/></div>
                400-630-4000
            </li>
            <li>
                <div class="icon"><img src="./img/icon/menuIcon_16.png"/></div>
                <a href="tencent://message/?Menu=yes&uin=938074808&Service=58&SigT=03EDD2C1C174C9F0909501F5AF1EA8D33265A94451EF83DBF251DF110B5BFB17B3DB4046CB3A393E9110DFB0B958C959F178DEBABC13B3AE02A8AAA71F49309E17ED7028C30E5BA52A43E490DBD94C1449BD801B657A9A4D9E71415A1D43FD716CE0B115A3096CEE52B2F4DF4CDADA7E5F827CF9CE1EA478&SigU=FF4C978AD6E3E14A7CFFD1EB1888F75C8AA1A1A3D23982F33D6D416E77E2AD4FB60C4B1283B8D3EEABD5E786E6900C19E9359602556AFCAAF3AC6985B468E9493703599654D6DBFB">4006304000</a>
            </li>
            <li>
                <div class="icon"><img src="./img/icon/menuIcon_17.png"/></div>
                <a href="mailto:support@xforceplus.com?subject=商务咨询&body=商务咨询">support@xforceplus.com</a>
            </li>
        </ul>
    </div>
    <div class="profileBox">
        <ul class="profileList">
            <li class="big">
                <div class="icon"><img src="./img/icon/menuIcon_18.png"/></div>
                <h1>联系我们</h1>
                <p>技术支持：400-630-4000</p>
                <p>商务联系：biz@xforceplus.com</p>
                <p>市场合作：mrkt@xforceplus.com</p>
                <div class="vertical"></div>
            </li>
            <li>
                <h1>票易通新媒体</h1>
                <p>新浪微博：<a target="_blank" href="https://weibo.com/piaoyitong">@票易通</a></p>
                <p>微信公众号：xforceplus</p>
            </li>
            <li>
                <h1>关于我们</h1>
                <p><a href="/about">公司简介</a></p>
                <p><a target="_blank" href="http://www.xforceplus.com/service_agreement.html">票易通用户协议</a></p>
                <p><a href="/">隐私政策</a></p>
            </li>
            <li>
                <h1>友情链接</h1>
                <p><a target="_blank" href="http://www.chinatax.gov.cn/">国家税务总局</a></p>
                <p><a target="_blank" href="http://www.ctax.org.cn/">中国税务网</a></p>
            </li>
        </ul>
        <div class="line"></div>
        <div class="footerBottom">
            <div class="logo"><img src="./img/pyt_logo.png" /></div>
            <div class="textBox">
                <p>©2015 XForcePlus票易通发票管理及供应链协同平台</p>
                <p><a target="_blank" href="http://www.miitbeian.gov.cn/state/outPortal/loginPortal.action;jsessionid=aZOj1nXNvRypckXWRr4P7yJlijtT2lUXqUlKWHuUCl0NjsegsG6z!-28876814">沪ICP备15034889号-1</a>  营业执照注册号：310113001346942 </p>
            </div>
            <div class="backup">
                <p><a target="_blank" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=31011302003536"><img class="ic0" src="./img/common/gh.png" alt="" />沪公网安备 31011302003536 号</a></p>
                <p><a target="_blank" href="https://www.kexinyun.org"><img class="ic1" src="./img/common/preview.png" alt="" />云服务类型：企业级SaaS服务 编号：07058</a></p>
            </div>
            <div class="clear"></div>
        </div>
    </div>
</div>