<div class="title">
  <h1>「2018 爱分析·中国科技创新企业 100 强 」揭榜！票易通荣获第 19 名</h1>
  <p class="time">原创： 票易通  票易通  2018-12-16</p>
</div>
<div class="imgBox">
  <img src="./newsimg/type100.jpg"/>
  <!--<p class="imgText">图片文字说明</p>-->
</div>
<p class="text">
  2019 年 1 月 9 日，历时一个多月的「2018 爱分析·中国科技创新企业 100 强」榜单即新龙榜在北京正式揭晓。最终入榜的 100 家企业，覆盖了云服务、数据智能、人工智能、物联网、区块链等通用技术领域，以及金融科技、汽车科技、教育科技、医疗科技、零售科技、房产科技、工业科技等行业应用领域。
</p>

<h2></h2>
<p class="text">
  爱分析基于其近两年对于科技创新领域的深入调研和积累，结合榜单评选征集情况，根据制榜规则严格评判各细分领域企业的竞争力，进行入围评选。
</p>

<div class="imgBox">
  <img src="./newsimg/type101.jpg"/>
  <p class="imgText">「2018 爱分析·中国科技创新企业 100 强」揭榜现场</p>
</div>

<p class="text">
  票易通以其在增值税发票管理服务的专业性和高度的行业认可，以 84.34 的高分，荣获「2018 爱分析·中国科技创新企业 100 强」总榜第 19 名、云服务大类第 5 名（前 4 名分别是阿里云、腾讯云、京东云和金山云）
</p>

<div class="imgBox">
  <img src="./newsimg/type102.jpg"/>
  <p class="imgText">票易通北方大区总经理孙九龙（左 5）上台领奖</p>
</div>

<p class="text">
  本次入榜企业经过爱分析的深入调研，并详细了解公司的业务、战略和经营情况，结合企业竞争力模型得分和行业规模得分后综合得出。企业竞争力模型得分是根据企业所在细分行业特点，选取最重要的 4-6 个评价指标，给予各个评价指标相应权重并打分，随后得出企业竞争力模型得分。行业规模得分则是对不同细分行业的公司进行比较，综合考虑行业规模及增速、市场集中度、技术渗透率等影响公司发展前景的重要市场因素后得出。
</p>

<div class="imgBox">
  <img src="./newsimg/type103.jpg"/>
  <p class="imgText">票易通荣获「2018 爱分析·中国科技创新企业 100 强」</p>
</div>

<p class="text">
  据了解，本次发榜的 100 家企业中，通用技术领域企业共 62 家，占据了半壁江山。行业应用领域，各垂直行业技术渗透日渐加速，但渗透成熟度和应用价值各有差异。金融科技、医疗科技、汽车科技领域入榜企业数量较多，技术渗透相对成熟；房产科技、零售科技、教育科技、工业科技等领域还处于技术渗透早期，价值有待进一步挖掘。
</p>

<div class="imgBox">
  <img src="./newsimg/type104.gif"/>
</div>

