<div class="title">
  <h1>票易通受邀参与化纤创新者大会并签署战略合作协议</h1>
  <p class="time">原创： 票易通  票易通  2018-12-17</p>
</div>
<div class="imgBox">
  <img src="./newsimg/type110.png"/>
  <!--<p class="imgText">图片文字说明</p>-->
</div>
<p class="text">
  2018 年 12 月 13 日，来自全国各地的近 500 名化纤行业大咖和行业创新者代表齐聚杭州宝格丽雅宴会中心，参加由化纤邦主办的一年一度的化纤行业交流会。大会由萧山区常委、开发区管委会主任叶建宏先生致开幕词。本次化纤创新者大会聚集了行业里国内外的专家学者和技术人员，从多个角度、结合行业发展，奉献了多场精彩的演讲，深度迎合了当前经济形势下化纤行业包括科研、生产及运营等多方面的实际需要，深受专业人士关注。
</p>

<h2></h2>
<p class="text">
  票易通作为专业的增值税发票管理及企业协同解决方案的平台，也受邀参与了本次行业盛会。票易通首席战略官兼 CEO 特别助理罗兰女士代表公司，现场和化纤邦签署了高级战略合作协议，并和欧冶金服副总经理王磊就供应链金融在企业发展中的应用及意义进行了一对一的精彩对话分享。
</p>

<div class="imgBox">
  <img src="./newsimg/type111.png"/>
  <p class="imgText">票易通受邀参与 2018 中国产业互联网·化纤创新者大会</p>
</div>

<p class="text">
  化纤邦创始人方君方在介绍签约背景时表示，化纤邦作为一个开放性的平台，愿意并一直致力于联合一切行业内可以联合的力量，再把可以吸取使用的创新思维，用传统企业更能接受的方式传递给他们。方女士指出，化纤行业的转型升级之路，需要通过包括行业和行业外无数创新者的思考及验证，整合不同的资源优势，才会形成一条行之有效的发展之路。这也是本次化纤邦和包括腾讯、票易通等多位异业但在各自行业或者垂直领域具有领先地位的企业签订高级战略合作协议的意义所在。
</p>

<div class="imgBox">
  <img src="./newsimg/type112.png"/>
  <p class="imgText">罗兰女士代表票易通现场和化纤邦签署高级战略合作协议</p>
</div>

<p class="text">
  在一对一的环节，罗兰女士和王磊先生围绕在供应链金融与企业发展议题进行了深度对话。罗兰女士指出，从传统的供应链金融角度来看，企业需要一个较长的时间周期和若干复杂的环节去完成融资，期间不仅涉及到业务过程中的合同、送货单、订单、结算单、发票、未付款证明等一系列证明材料，还需要到不同的机构或部门如相关的采购、税局、财务等执行不同的操作如合同审计、确权等。整个过程的时间成本、人工成本高昂，效率也很低下。而票易通以发票作为切入点，引入供应链金融的应收帐款融资，可以高效地实现多方的互联，使得所有的业务都基于平台和系统。所有的信息也都在系统中流转，这样一个实时动态的链接可以准确、高效地获取所有相关的交易数据，在极大地提高效率的同时，显著地降低成本，并帮助资金方、债权方和债务方得到稳定的功能和利益绑定。
</p>

<div class="imgBox">
  <img src="./newsimg/type113.png"/>
  <p class="imgText">一对一环节：罗兰女士 VS 王磊先生</p>
</div>

<p class="text">
  罗兰女士进一步指出，目前在票易通的平台上已经有很多世界 500 强的大 B 类客户，这些客户应付账款的偿债能力是非常好的，银行也敢于贷款。票易通以应收账款融资为切入点，可以给金融机构提供非常好的贷款渠道（对于平台上的供应商及小企业来说，就可以通过其应收账款融到资金），从而帮助企业尤其是中小企业解决其在供应链金融中所存在的信用问题；未来经过长时间的平台运营数据，可以进一步做到基于信息和数据的信用融资。罗兰女士强调，化纤行业的供应链金融领域，也将产生多样化的发展模式和创新服务类型，而票易通也将继续和行业内的企业保持共进，共同助力整个行业的良性发展。
</p>

<div class="imgBox">
  <img src="./newsimg/type114.gif"/>
</div>

