<div class="title">
  <h1>票易通荣获 2018 年上海市宝山区大场镇优秀企业荣誉称号</h1>
  <p class="time">原创： 票易通  票易通  2018-12-15</p>
</div>
<div class="imgBox">
  <img src="./newsimg/type120.png"/>
  <!--<p class="imgText">图片文字说明</p>-->
</div>
<p class="text">
  2019 年 1 月 9 日，大场镇优秀企业表彰会隆重举行，票易通荣获「2018 年度上海市宝山区大场镇优秀企业」的荣誉称号。当日，大场镇党委副书记、镇长刘建中，大场镇党委委员、副镇长许志康，上海宝山区大场镇经济发展有限公司总经理、大场镇商会会长张惠明等领导出席会议。
</p>

<div class="imgBox">
  <img src="./newsimg/type121.png"/>
  <p class="imgText">大场镇党委副书记、镇长刘建中发表讲话</p>
</div>
<p class="text">
  刘镇长指出，2018 年大场镇地方财政收入超过 10.08 个亿，大场经济转型升级取得了长足的进步，企业家大力发扬企业家精神，为推动大场镇城市化转型和高质量发展筑起一段屹立不倒的精神长城。展望 2019 我们必须综合分析和准确认识形势变化，积极配合上海建设社会主义现代化国际大都市的目标和宝山建设现代化滨江新城区的任务，牢牢把握发展新机遇，把追求卓越作为我们的发展取向，富于创造作为我们的实践要求，在新起点上迎接新的挑战。
</p>
<h2></h2>
<p class="text">
  刘镇长对在座的企业家们提出三个方面的殷切期望：
</p>
<p class="text">
  一是要认清大势，要坚持党的领导，牢固树立「四个意识」，切实增强「四个自信」，自觉在党的大政方针下开展各类活动；
</p>
<p class="text">
  二是要看到优势，看到大场产业升级的决心，也看到大场镇政府服务企业的信心和打造良好营商环境的决心；
</p>
<p class="text">
  三是要注重顺势，大场的经济转型是与创新驱动发展相适应，与战略性新兴产业相融合，与城市发展相配套的，希望广大企业家可以在四大品牌建设的战略层面上顺势作为。
</p>

<div class="imgBox">
  <img src="./newsimg/type122.png"/>
  <p class="imgText">刘镇长对在座的企业家们提出三个方面的殷切期望</p>
</div>

<p class="text">
  刘镇长同时强调，希望各位企业家以大场振兴、人民幸福为己任，把自身的利益与大场的发展联系在一起，用市场经济的办法和现代化的管理理念发展好企业，依靠新兴技术和高端人才，不断提升企业和产品的核心竞争力，把诚信守法经营作为立业之本，兴起之道，用良好的信誉开拓更加广阔的发展前景。镇党委、政府和相关部门单位将努力创优环境、强化服务、当好企业的店小二，为各类企业和企业家在大场的发展营造放心、安心、顺心、舒心的良好环境。在大家的共同努力下，大场的企业必将蒸蒸日上，大场的未来也前景可待。
</p>

<div class="imgBox">
  <img src="./newsimg/type123.png"/>
  <p class="imgText">与会现场</p>
</div>

<p class="text">
  在优秀企业颁奖环节，云砺科技联合创始人、执行副总裁白洋代表公司上台领奖并发言。
</p>

<div class="imgBox">
  <img src="./newsimg/type124.png"/>
  <p class="imgText">云砺科技联合创始人、执行副总裁白洋发表讲话</p>
</div>

<p class="text">
  白洋对大场镇各位领导、企业同仁长期以来对云砺科技的支持和关怀表示感谢，并将云砺科技在 2018 年所取得的发展和成果做了简要的汇报。白洋表示，云砺科技所取得的成绩，与大场镇所给予的支持和鼓励密不可分；在大场镇党委和政府的坚强领导以及各位同仁的共同努力下，新年的一年云砺科技将继续努力，交出更出色的答卷。
</p>
<div class="imgBox">
  <img src="./newsimg/type125.png"/>
  <p class="imgText">云砺科技联合创始人、执行副总裁白洋（右一）上台领奖</p>
</div>

<div class="imgBox">
  <img src="./newsimg/type104.gif"/>
</div>

