<div class="title">
    <h1>再添福利，小微企业贷款利息收入免征增值税</h1>
    <p class="time">票易通  2018-09-06</p>
</div>
<div class="imgBox">
    <img src="./newsimg/type310.webp"/>
</div>
<p class="text" style="text-align: center; margin-bottom: 15px; text-indent:0">
    关于金融机构小微企业贷款
    <br/>
    利息收入免征增值税政策的通知
    <br/>
    财税[2018]91号
</p>
<p class="text">
    各省、自治区、直辖市、计划单列市财政厅(局)，国家税务总局各省、自治区、直辖市、计划单列市税务局，新疆生产建设兵团财政局：
    <br/><br/>
    为进一步加大对小微企业的支持力度，现将金融机构小微企业贷款利息收入免征增值税政策通知如下：
    <br/><br/>
    一、自2018年9月1日至2020年12月31日，对金融机构向小型企业、微型企业和个体工商户发放小额贷款取得的利息收入，免征增值税。金融机构可以选择以下两种方法之一适用免税：
    <br/><br/>
    (一) 对金融机构向小型企业、微型企业和个体工商户发放的，利率水平不高于人民银行同期贷款基准利率150%(含本数)的单笔小额贷款取得的利息收入，免征增值税；高于人民银行同期贷款基准利率150%的单笔小额贷款取得的利息收入，按照现行政策规定缴纳增值税。
    <br/>
    (二) 对金融机构向小型企业、微型企业和个体工商户发放单笔小额贷款取得的利息收入中，不高于该笔贷款按照人民银行同期贷款基准利率150%(含本数)计算的利息收入部分，免征增值税；超过部分按照现行政策规定缴纳增值税。金融机构可按会计年度在以上两种方法之间选定其一作为该年的免税适用方法，一经选定,该会计年度内不得变更。
    <br/><br/>
    二、本通知所称金融机构，是指经人民银行、银保监会批准成立的已通过监管部门上一年度“两增两控”考核的机构(2018年通过考核的机构名单以2018年上半年实现“两增两控”目标为准)，以及经人民银行、银保监会、证监会批准成立的开发银行及政策性银行、外资银行和非银行业金融机构。“两增两控”是指单户授信总额1000万元以下(含)小微企业贷款同比增速不低于各项贷款同比增速，有贷款余额的户数不低于上年同期水平，合理控制小微企业贷款资产质量水平和贷款综合成本(包括利率和贷款相关的银行服务收费)水平。金融机构完成“两增两控”情况，以银保监会及其派出机构考核结果为准。
    <br/><br/>
    三、本通知所称小型企业、微型企业，是指符合《中小企业划型标准规定》(工信部联企业〔2011〕300号)的小型企业和微型企业。其中，资产总额和从业人员指标均以贷款发放时的实际状态确定；营业收入指标以贷款发放前12个自然月的累计数确定，不满12个自然月的，按照以下公式计算：
    <br/>
    营业收入(年)=企业实际存续期间营业收入/企业实际存续月数×12
    <br/><br/>
    四、本通知所称小额贷款，是指单户授信小于1000万元(含本数)的小型企业、微型企业或个体工商户贷款；没有授信额度的，是指单户贷款合同金额且贷款余额在1000万元(含本数)以下的贷款。
    <br/><br/>
    五、金融机构应将相关免税证明材料留存备查，单独核算符合免税条件的小额贷款利息收入，按现行规定向主管税务机构办理纳税申报；未单独核算的，不得免征增值税。金融机构应依法依规享受增值税优惠政策，一经发现存在虚报或造假骗取本项税收优惠情形的，停止享受本通知有关增值税优惠政策。金融机构应持续跟踪贷款投向，确保贷款资金真正流向小型企业、微型企业和个体工商户，贷款的实际使用主体与申请主体一致。
    <br/><br/>
    六、银保监会按年组织开展免税政策执行情况督察，并将督察结果及时通报财税主管部门。鼓励金融机构发放小微企业信用贷款，减少抵押担保的中间环节，切实有效降低小微企业综合融资成本。各地税务部门要加强免税政策执行情况后续管理，对金融机构开展小微金融免税政策专项检查，发现问题的，按照现行税收法律法规进行处理，并将有关情况逐级上报国家税务总局(货物和劳务税司)。财政部驻各地财政监察专员办要组织开展免税政策执行情况专项检查。
    <br/><br/>
    七、金融机构向小型企业、微型企业及个体工商户发放单户授信小于100万元(含本数)，或者没有授信额度，单户贷款合同金额且贷款余额在100万元(含本数)以下的贷款取得的利息收入，可继续按照《财政部税务总局关于支持小微企业融资有关税收政策的通知》(财税〔2017〕77号)的规定免征增值税。
    <br/><br/>

    财政部 税务总局
    <br/>
    2018年9月5日
</p>