<div class="title">
    <h1>票易通携手太平鸟，加速零售智慧财税布局</h1>
    <p class="time">原创： 票易通  票易通  2018-10-12</p>
</div>
<div class="imgBox">
    <img src="./newsimg/type210.webp"/>
</div>
<p class="text">
    根据统计数据显示，2017年中国商品零售额达26.5万亿元，同比增长10.2%。鞋服类企业、尤其是大型综合类品牌的企业，在面对市场增长、应对激烈竞争的同时，如何有效地提高内部及上下游企业、网点的票据流转效率，并有效降低税务风险，是行业内所有企业几乎都会面临的问题。 始创于1989年的太平鸟集团，自2008年企业转型后，也一直在摸索相关的工作。
    <br/><br/>
    太平鸟集团目前共有12000多名员工。2017年集团实现经营收入258亿元，位居全国服装企业前10位，为全国民营企业500强、浙江省百强私营企业、宁波市纳税50强。目前营业范围基本已经覆盖全国各城市地区，在包括上海、宁波、杭州、成都、重庆、合肥、武汉、苏州、 山东、济南、哈尔滨、沈阳、长春、西安、南京、昆明、深圳、西安、广州等在内，设立超过1000家的网点。
    <br/><br/>
    2017年，在整个行业对电子发票的需求越来越强烈的形势下，太平鸟集团开始对旗下1000余家门店做电子发票做调研工作。在协助太平鸟进行需求调研的过程中，票易通发现，相对门店的电子发票业务而言，作为一个典型的鞋服类多品牌、多品类、多业态的综合型企业，太平鸟集团在对B端用户的发票管理上，存在更为强烈的需求。这种需求集中表现在两个方面。
    <br/><br/>
    首先，是集团事业部总部对分散在各地的事业部或者经销商存在比较明显发票管理的流转瓶颈。因为太平鸟是一个多品牌、多品类的企业，发票开具量极大，同时开票的方式也很繁琐，各个品牌均没有一个统一的开票规则。在实际业务过程中，都是各地销售统一执行汇总后，再开具发票。这种比较粗放、缺乏统一平台或者工具的开票方式，对集团总部的财务部门而言造成了很大压力。
    <br/><br/>
    其次，是集团事业部在面对各地入驻的商场在执行发票开具时，几乎也全是人力来完成，流转效率比较低下。由于顾客在有太平鸟的各品牌入驻的商场购买其产品后，款项是付至各地商场。当到了商场和太平鸟结算时，还要计算并扣除相应的给到各个商场的费用，这部分工作也需要大量的人力来进行结算。对于太平鸟这样一个品牌和品类众多、入驻的商场又几乎遍布全国的的企业来说，每个账期的结算和对账，是集团总部财务人员必须要面对的一道坎。
    <br/><br/>
    在发现这个更为强烈的潜在需求后，票易通根据太平鸟32个营销公司及集团旗下6个子品牌的营销结构，提出了一整套解决方案。而促使太平鸟最终选择票易通，除了对票易通的高度信任外，还因为双方在沟通和调研过程中，票易通的整体方案中，靶向性地瞄准并解决了长期以来一直困扰着太平鸟集团在发票管理中的两个关键痛点。
    <br/><br/>
    第一个痛点是，太平鸟集团希望能做到在与基于其自研的内部DRP系统对接基础上，能够实现订单的一次合并及二次合并。由于其营销分公司或者代理商的所下的订单均是DRP系统报出，而集团在基于这些订单实际开具发票时，由于很大程度是不能一对一匹配的。造成这种不匹配的原因，是因为零售尤其是鞋服类行业特殊的订货规则所造成的：营销分公司或者代理商在要求开具发票时，经常会有针不同品名、税率甚至一些特殊需求的拆分处理要求。而总部集团财务在开具发票时，又必须严格依据公司内部的开票规则。因此，集团在和销售进行开票沟通时，效率一直比较低，双方往来沟通的流程极其冗长，并且需要人工参与的工作量很大。为此，集团总部急迫地需要实现更加自由、灵活的处理方式。
</p>
<div class="imgBox">
    <img src="./newsimg/type211.webp"/>
</div>
<p class="text">
    第二个痛点是在涉及换季退换货时候产生的发票开具困扰。由于服装类产品订货的特殊性，决定了其订货行为通常是提前至少一个季度预订下一个甚至是再下一个季度的产品。由于太平鸟集团的退货并非是按照订货明细来执行的，这就在换季时产生了一个极大的问题：上个季度未销完、需要退货的商品所涉及的货款，如何执行返回？其传统的“发货减退货”、按相应的数字进行开票时的处理方式，在退夏装、发冬装时，问题还不是特别明显。
    <br/><br/>
    因为通常来说，冬装的价格会高于夏装的价格；但如果是需要退冬装、发夏装的时候，这个问题就异常尖锐了：由于退回的货物的总价很可能高于需要再次订货的商品总价，这就意味着如果还是按照传统的方式，会出现“倒找钱”的尴尬，在这种情况下，太平鸟是无法给订货方开具发票的，并且在实际业务流转和财务处理时也异常棘手。根据太平鸟的测算，单就其一个女装品牌为例，单是应对这一个问题，就需要至少4个财务人员每个月工作10-15天，而且准确率也只有60%左右，一线财务人员苦不堪言。
</p>
<div class="imgBox">
    <img src="./newsimg/type212.webp"/>
</div>
<h2></h2>
<p class="text">
    太平鸟作为鞋服行业中的一个典型代表，在发票管理上所面临的问题也是整个鞋服行业所共有的。票易通作为上海云砺信息科技有限公司旗下优秀品牌，以高度专业的方案和积极认真的服务态度，帮助太平鸟及时、准确、全面地汇总发票开具，将这些信息完整地反馈到ERP系统中，并将每一条业务信息进行关联，从而提高了业务流程效率，降低了管理成本，也赢得了太平鸟的信任和尊重。同时，票易通和太平鸟的合作，也为所有的鞋服类行业做出了一个财税信息化的典范。
</p>