<div class="title">
    <h1>【国庆献礼】票易通助力中化国际，填补大型进出口贸易企业发票管理平台空白</h1>
    <p class="time">原创： 票易通  票易通  2018-09-30</p>
</div>
<div class="imgBox">
    <img src="./newsimg/type220.webp"/>
</div>
<p class="text">
    在国庆佳节来临之际，国内领先的企业协同平台与增值税发票管理服务提供商——上海云砺宣布，将为中化国际提供全套增值税发票管理解决方案。这次合作，也是行业内首次为大型国有化进出口贸易企业提供专业的发票管理解决方案，填补了行业内的一大空白。
    <br/><br/>
    中化国际（控股）股份有限公司（简称：中化国际）是国际化经营的大型国有控股上市公司，2017年，中化国际营业收入624.66亿元人民币、总资产557.61亿元人民币。中化国际的实际控制人——中国中化集团有限公司是最早入围《财富》全球500强榜单的中国企业之一，迄今已27次上榜，2017年名列第143位，并连续两年被《财富》杂志评为“全球最受赞赏公司”。在国务院国资委业绩考核中，中化集团已十二次、连续三个任期被评为A级。
    <br/><br/>
    对中化集团这样一家大型央企来说，化工板块是其众多业务子版块之一。就是这样一个子版块，其下属也有超过九十家子公司，其中就包括中化国际。作为中化集团化工事业部总部的中化国际，其业务板块分布非常之广，涉及贸易、精细化工、农业化工、聚合物的、医药等数个大类。
</p>
<div class="imgBox">
    <img src="./newsimg/type221.webp"/>
</div>
<p class="text">
    在票易通提供针对性解决方案之前，针对进出口贸易行业的发票业务解决方案一直是一片空白。虽然有面对海关单据的服务提供商，但由于增值税发票的专业性及行业的高度特殊性，一直缺少专业的行业解决方案及服务提供商。此外，通常友商提供的仅是基于发票层面的一个管理方案，如进项的认证、验真，销量的开票等，但是中化国际有一个亟待解决的需求，就是配单，即发票与其业务单据的精准匹配。在票易通接入之前，中化国际采取的是纯线下匹配方式。这就意味着采购订单、合同及原始发票过来以后，商务人员拿到这些单据来执行纯人工匹配、记录，再和财务沟通。财务拿到这些单据、数据以后，再手工输入凭证及相关数据。加之此前中化国际的整个税务工作也没有在平台上执行，必须要等财务记账完以后给到税务，税务再做扫描认证。考虑到中化国际极其庞大和复杂的贸易过程，耗费在相关工作流程上的人力和执行中的压力都异常庞大。
    <br/><br/>
    在深入接触、仔细调研摸清客户诉求后，票易通给出了一套可行的解决方案。首先，基于自身对金税三期政策和全应用行业的深刻了解，票易通首先通过技术手段，完成了和海关电子口岸的系统数据对接。从电子口岸拿到原始数据以后，人工录入数据的环节被完全省去，以前税务人员可能要录一天的数据，现在数秒钟就可以完成导入。然后，票易通进一步帮助客户简化了原有税务流程上，对进出口这块的增值税发票的处理流程。这样一来，中化国际整个进出口发票的管理，都可以用系统来完成，不用再线下做单据传递。因为进口的数据都是从中国电子口岸取得，业务端的数据是通过前端业务系统直接接口传过来的，没有任何人力需求去录入、上传操作，只需要相关人员在平台上确认这些数据的合规性，省去了靠人工去敲凭证的流程。
    <br/><br/>
    此外，票易通和中化国际的合作，还凸显了强大的多系统集成能力。不光是跟前端业务系统做集成，票易通还跟中化国际的共享平台系统及影像系统做集成。从而省去了原有的单据的流转。此前，对中化国际这样一个体量的企业来说，从商务人员做配单，再到财务人员去记账，财务人员记完帐以后认证，认证完成以后再做档案管理⋯⋯整个过程中，单据的破损和遗失都是不小的问题。但是如果是通过票易通提供的平台集成之后，单据过来的时候就只有一个扫描入口，此后均是数据在平台上流转，从而杜绝了此类问题。再者，通过高度的集成，还为中化国际解决了复用性问题和权限隔离问题。当完成一次扫描后得到的这个数据可以通过平台直接验证，然后反传数据给影像系统、营销系统等、OA系统等。即一套数据，可以提供多个系统的服务。同时，可以根据商务人员来区分其应该看到的数据。这个需求对大型国企来说，因其业务体系、商务人员的庞大，不同数据的归属、甚至一些敏感数据的权限归属，显得至关重要。
</p>
<div class="imgBox">
    <img src="./newsimg/type222.webp"/>
</div>