<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title></title>
  <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <%- include('./common/header');%>
</head>
<body>
<%- include('./common/top');%>
<div class="main bgBlack">
  <div class="articleBox">
    <div class="articleNav">
      首页  > 新闻中心 > 正文
    </div>
    <div class="articleDetail">
      <div class="title">
        <h1>许多国家GDP增长放缓 对全球经济前景保持警惕</h1>
        <p class="time">2019/01/07</p>
      </div>
      <p class="text">
        对于阴云笼罩的全球经济前景和不断暴跌的香港楼市，香港首富也出来发声警告了。<br/>
        <br/>
        据彭博社报道，谈及全球经济前景，李嘉诚称，许多国家GDP增长放缓，呼吁对全球经济前景保持警惕。<br/>
        <br/>
        据该媒体，谈及香港楼市，李嘉诚表示，香港房地产市场今年或有更大的波动；购房者应当谨慎管理自身财务。<br/>
        <br/>
        李嘉诚称，香港人买楼应该量力而为，买来住的都可以，买来炒肯定不行。香港经济不太好，香港楼价跌也是正常，经济都在低增长。我们去年也还在收购资产，资产有买有卖，很正常。
      </p>
      <div class="imgBox">
        <img src="./img/imgNewsPhoto.jpg"/>
        <p class="imgText">图片文字说明</p>
      </div>
      <h2>
        全球经济阴云堆积
      </h2>
      <p class="text">
        面临贸易战、欧洲多重政治风险、新兴市场危机等多重挑战，2018年全球经济已经遭到巨大冲击，2019年的经济增长也面临进一步威胁。<br/>
        <br/>
        2018年以来，全球经济已经开始相继减速：OECD领先指标的回落于2018年初就开始回落，中国制造业PMI在2017年9月达到峰值后就开始回落，并于在2018年12月跌破荣枯线，而欧元区和日本的制造业PMI在2018年以来持续回落。<br/>
        <br/>
        仅美国经济还在一枝独秀。然而，自去年四季度以来，美国经济也频现下滑压力。美国制造业PMI在2018年9月出现明显下滑，美国消费者信心指数从2018年9月份开始首次低于100，且在之后呈逐步走低之势，美国通胀水平也依然在向上爬坡，市场普遍认为美国经济已达到阶段性高点。
      </p>
    </div>
  </div>
</div>
<%- include('./common/bottom');%>
</body>
</html>