<div class="title">
  <h1>第三届WRE零售数字化转型峰会落幕 票易通再获嘉奖</h1>
  <p class="time">原创： 票易通  票易通  2018-12-07</p>
</div>
<div class="imgBox">
  <img src="./newsimg/type130.jpg"/>
  <!--<p class="imgText">图片文字说明</p>-->
</div>
<p class="text">
  2018年 12 月 6 日至 7 日，「第三届 WRE 零售数字化转型峰会 2018」在上海宝龙丽笙大酒店隆重召开。本次峰会共有超过 30 家国内外主要零售企业与超过 250 位的零售与品牌商企业参与进来，共同分享与探讨零售业数字化信息化的最新技术与数字化转型的发展趋势。票易通作为国内首屈一指的专业增值税发票管理平台受邀参与了本次峰会，此外，票易通北方大区总经理孙九龙先生向到会嘉宾做了「新零售，新财税，新服务」的主题发言。
</p>

<div class="imgBox">
  <img src="./newsimg/type131.jpg"/>
  <p class="imgText">票易通北方大区总经理孙九龙做主题发言</p>
</div>
<p class="text">
  孙总在发言中结合零售行业的发展趋势,针对零售行业的特殊性，深入浅出地为到场嘉宾介绍了票易通的专业优势。并分析了零售行业在发展中，票据管理一环所可能遇到的难点和痛点，以及票易通如何更高效地帮助企业解决在其业、财、税中所面临的一系列挑战与问题。在媒体采访过程中，孙总还简单分享了票易通的发展历程和企业发展愿景。孙总表示，作为目前国内首屈一指的增值税发票管理平台和企业协同解决方案服务提供商，票易通不仅在零售行业有着雄厚的积累和丰富的经验，还在包括地产等多个行业有着明显的领先优势。
</p>

<div class="imgBox">
  <img src="./newsimg/type132.jpg"/>
  <p class="imgText">孙总接受媒体采访</p>
</div>

<p class="text">
  本次峰会上，票易通还荣获大会组委会和上海连锁经营协会专家组共同评选、授予的“年度最佳服务平台解决方案提供商”大奖，这也是对票易通在过去一年中深耕细作零售行业、坚持精细化服务与持续创新相结合的巨大肯定。
</p>

<div class="imgBox">
  <img src="./newsimg/type133.jpg"/>
  <p class="imgText">「第三届 WRE 零售数字化转型峰会 2018」颁奖典礼</p>
</div>

<p class="text">
  WRE 峰会系列是在「互联网+」的时代背景下，以信息技术、数字技术、人工智能、大数据等对传统行业的变革为主线，所开展的一系列的针对企业高级信息管理和决策的行业峰会活动。自 2016 年首次举办以来，WRE 已经成功开展了 3 届包括零售、医疗、制造、机场、航空、汽车等行业主题在内的峰会。历经 3 年的发展，WRE 已经成为国内规模最大，最专业的零售科技论坛之一，累计吸引超过 800 家企业共 2000+ 的人员参与。本次 WRE 峰会的指导单位——上海连锁经营协会，隶属于上海市商务委员会，是上海地区唯一的官方连锁零售行业协会，拥有会员超过 1000 家单位，主要涵盖商超便利店等连锁零售餐饮企业。
</p>

<div class="imgBox">
  <img src="./newsimg/type114.gif"/>
</div>

