<div class="title">
  <h1>宝山区委书记汪泓一行莅临票易通，企业发展再获肯定</h1>
  <p class="time">原创： 票易通  票易通  2018-12-04</p>
</div>
<div class="imgBox">
  <img src="./newsimg/type140.jpg"/>
  <!--<p class="imgText">图片文字说明</p>-->
</div>
<p class="text">
  12 月 4 日上午，上海市宝山区委书记汪泓、区委副书记、区长范少军、副区长陈筱洁、副区长王益群等领导，携各区委办局和大场镇相关领导，冒雨莅临上海云砺信息科技有限公司调研、指导工作。这是继 2017 年汪泓书记等领导首次到上海云砺信息科技有限公司调研工作后，时隔 1 年再次到我司进行调研。
</p>

<div class="imgBox">
  <img src="./newsimg/type141.jpg"/>
  <p class="imgText">上海市宝山区区委书记汪泓（右）<br/>
    在票易通 CEO 吴云（左）的陪同下视察公司</p>
</div>
<p class="text">
  票易通作为上海云砺信息科技有限公司旗下发票管理及供应链协同平台，在宝山区及大场镇领导的支持下，在这一年中获得了长足的发展和市场的肯定。今天上午，汪书记、范区长等一行领导首先在票易通 CEO 吴云、联合创始人兼执行副总裁白洋等公司主要领导的陪同下视察了公司的整体情况，随后听取了吴云对公司一年来发展的简要汇报。
</p>
<h2></h2>
<p class="text">
  汪书记指出，经过一年左右的发展，票易通从公司规模、整体风貌、业务发展等多方面都取得了长足的进步，区委区政府领导对票易通所取得的成绩感到非常满意。
</p>
<h2></h2>
<p class="text">
  汪书记不仅从行业前景、企业发展的角度出发，对票易通的发展提出了一系列具体的指导意见，还结合票易通的具体业务状况和应用场景，分享了一系列具体的建设性心得。
</p>

<div class="imgBox">
  <img src="./newsimg/type142.jpg"/>
  <p class="imgText">汪书记视察票易通并指导工作</p>
</div>

<p class="text">
  汪书记同时强调，票易通在业务飞速发展的同时，没有忘记党建工作和群团工作，这是对「两手抓、两手都要硬」充分重视、深刻领会的结果。票易通的发展成果也证明，良好而健全的党建工作，可以充分调动和发挥党员、团员的先锋作用和积极性，从而在具体工作中发挥出更好的堡垒及表率作用，带动周围的员工，帮助公司更好更快地发展。汪书记殷切地希望票易通可以在党建群团工作中取得更多的成绩，能够成为大场镇乃至宝山区两新组织的杰出代表。
</p>

<div class="imgBox">
  <img src="./newsimg/type143.jpg"/>
  <p class="imgText">汪书记充分肯定票易通工作并提出一系列指导意见</p>
</div>

<p class="text">
  最后，汪书记对票易通在这几年发展中，为实现企业愿景而努力奋斗给予了充分肯定，对票易通 CEO 吴云所表现出的青年企业家所具有的进取精神予以高度赞扬。汪书记表示，作为宝山区乃至整个上海平台经济的一颗新星，票易通已经为众多企业做出了表率作用。宝山区委、区政府看好并支持票易通的未来发展战略，希望票易通在服务好企业客户的同时，将自身产业优势与宝山区的发展规划结合起来，不断做大、做优、做强，继续为宝山区实现产业转型升级发展、区域经济增长繁荣增光添彩。
</p>

<div class="imgBox">
  <img src="./newsimg/type144.jpg"/>
  <p class="imgText">与会现场</p>
</div>

<p class="text">
  陪同参与本次调研工作的领导还有区委办公室主任陈巍、区政府办公室主任李远锋、区发改委主任陆继刚、区建管委主任袁惠明、区经委（信息委）主任夏永军、区商务委主任叶强、区教育局局长杨立红、区规划土地局局长王静、区财政局局长李岚、区税务局局长茅禾、区住房保障房屋管理局局长徐芃、大场镇党委书记杨金娣、大场镇党委副书记、镇长刘建中、大场镇副镇长许志康等。
</p>

<div class="imgBox">
  <img src="./newsimg/type104.gif"/>
</div>

