<div class="title">
  <h1>宝山区宣传部长赵懿考察云砺科技，助力民营企业发展</h1>
  <p class="time">原创： 票易通  票易通  2018-12-06</p>
</div>
<div class="imgBox">
  <img src="./newsimg/type150.jpg"/>
  <!--<p class="imgText">图片文字说明</p>-->
</div>
<p class="text">
  2018 年 12 月 5 日下午，宝山区委常委、宣传部部长赵懿、区文广局副局长储艳洁、大场镇宣传委员曹维渊一行莅临上海云砺信息科技有限公司进行调研工作，这也是赵部长在不到一年的时间内对云砺科技的第二次工作调研。
</p>

<div class="imgBox">
  <img src="./newsimg/type151.jpg"/>
  <p class="imgText"> 赵部长对云砺科技进行工作调研</p>
</div>
<p class="text">
  赵部长指出，党的十九大以来，以习近平同志为核心的党中央高度重视民营经济发展。习总书记近期发表一系列重要讲话，作出一系列重要指示，充分肯定了民营经济的重要地位和作用，明确提出了扶持民营企业发展壮大的关键政策和举措,充分表明了党中央毫不动摇支持民营经济发展的坚定立场和决心。宝山区、大场镇各级部门切实用习近平总书记重要指示精神统一思想和行动，深刻理解我国基本经济制度，正确把握当前经济发展形势，紧紧抓住宝山区发展面临的重大机遇，进一步增强鼓励、支持和引导宝山区民营企业高质量发展。
</p>


<div class="imgBox">
  <img src="./newsimg/type152.jpg"/>
  <p class="imgText">赵部长指出：宝山区、大场镇各级部门<br/>
    鼓励、支持和引导宝山区民营企业高质量发展</p>
</div>

<p class="text">
  云砺科技联合创始人、执行副总裁白洋代表公司对宝山区、大场镇各部门、各级领导长期以来对云砺科技的支持和关怀表示感谢，并将云砺科技在过去一段时间内所取得的发展和成果向赵部长一行做了简要的汇报。白洋表示，云砺科技所取得的成绩，和宝山区、大场镇的领导所给予的支持和鼓励密不可分。
</p>

<div class="imgBox">
  <img src="./newsimg/type153.jpg"/>
  <p class="imgText">云砺科技联合创始人、执行副总裁白洋<br/>
    汇报云砺科技的发展成果</p>
</div>

<p class="text">
  赵部长表示，区政府、镇政府对区内发展势头良好的优质民营企业的支持和扶持态度是坚定的，接下来也会结合宝山区、大场镇的实际情况，继续全方位地为包括云砺科技在内的区内优质民营企业，提供包括人才引进和落地等一系列服务，让民营企业能够更好地集中力量和资源，为宝山区的经济发展做出贡献。
</p>

<div class="imgBox">
  <img src="./newsimg/type114.gif"/>
</div>

